﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];

}

<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Importes de pagaré</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">
                Catálogos&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">Artículos</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">

        <div class="content">



            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="widget-box">


                        <form id="formaimporte" name="formaimporte" method="post">
                            <h4 class="caption" id="resultados"></h4>

                            <table class="table table-hover-color" id="datos" style="width:800px">
                                <thead>
                                    <tr>
                                        <th>Tipo de Artículo</th>
                                        <th>Artículo</th>
                                        <th>Precio pagaré</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                    string cual = String.Empty;

                                    foreach (web.Models.catTipoArticulo ta in tiposarticulo)
                                    {

                                    <tr>
                                        <th>@ta.Descripcion</th>
                                        <th></th>
                                    </tr>

                                        List<web.Models.Articulo> articulos = ta.Articulo.ToList();

                                        foreach (web.Models.Articulo a in articulos)
                                        {
                                            if (a.Activo.HasValue && a.Activo.Value)
                                            { 
                                    <tr>
                                        <td></td>
                                        <td>@a.Nombre</td>
                                        <td><input type="text" id="a_@a.ArticuloClave" name="a_@a.ArticuloClave" value="@a.PrecioPagare" class="form-control validate[custom[number]]" /> </td>
                                    </tr>
                                            }
                                        }

                                    }
                                    }

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-info btn-block" id="guardaimportes">
                                                Guardar Importes
                                            </button>

                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" id="paginador"></td>
                                    </tr>
                                </tfoot>
                            </table>



                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


<script src="/Content/pags/articulopagare.js"></script>
<script src="/Content/pags/paginacion.js"></script>