﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];


    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();


}



<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   .seleccionarpedido{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {

            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {

           }

        }


    }


</style>


<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Surtido de Ordenes de Distribuidor</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Administración</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="widget-box">
                        <div class="form-group">
                            <form id="formbusca" action="#" method="post">
                                <select class="form-control" style="width:180px;float:left;margin-right:10px" id="buscastatus">
                                    <option value="-1">Estatus</option>
                                    <option value="2">Pendientes por Surtir</option>
                                    <option value="3">Parciales</option>
                                    <option value="4">Completos</option>
                                </select>
                                @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                                {
                                    <select class="form-control" style="width:250px;float:left;margin-right:10px" id="buscadistribuidor">
                                        <option value="-1">Distribuidor</option>
                                        @foreach (web.Models.catDistribuidor p in distribuidores)
                                        {
                                            <option value="@p.catDistribuidorClave">@p.Nombre</option>
                                        }
                                    </select>
                                }
                                <select class="form-control" style="width:140px;float:left;margin-right:10px" id="buscapagvta">
                                    <option value="-1">Tipo Orden</option>
                                    <option value="0">Venta</option>
                                    <option value="1">pagaré</option>
                                </select>
                                <input type="text" placeholder="# de Orden de Compra" class="form-control validate[custom[integer]]" style="width:170px;float:left" id="abuscar" />
                                &nbsp;
                                <button type="button" class="btn btn-primary" id="buscar"> <i class="fa fa-search" aria-hidden="true"></i>
Buscar</button>
                            </form>
                        </div>
                        <h4 class="caption" id="resultadosnuevos"></h4>
                        <table class="table table-hover-color" id="datos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Almacén</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Estatus</th>
                                    <th>pagaré/Venta</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Almacén</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Estatus</th>
                                    <th>pagaré/Venta</th>
                                    <th>Acciones</th>
                                </tr>
                                
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="salidasdetalle" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formasalidasdetalle" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulosalidasdetalle" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover-color" id="lassalidas">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th></th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="versalida" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade modal-lg">
    <form id="formasalidadetalle" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Salida de Material</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframesalida"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="editadistribuidor" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditadistribuidor" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindistribuidor" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <ul id="myTab5distribuidor" class="nav nav-tabs">
                        <li class="active"><a href="#t2distribuidor" data-toggle="tab" id="tt2">Productos</a></li>
                        <div id="myTabContent4distribuidor" class="tab-content">
                            <div id="t2distribuidor" class="tab-pane fade in active">
                                <div class="form-group">
                                    <br clear="all" />
                                    <div class="col-md-9"></div>
                                    <table class="table table-hover-color" id="articulostabledistribuidor">
                                        <thead>
                                            <tr>
                                                <th>Artículo</th>
                                                <th>C.Almacén</th>
                                                <th>C.Solicitada</th>
                                                <th>C.Salida</th>
                                                <th>C.Pendiente</th>
                                                 <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" id="paginadordistribuidor"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <br clear="all" />
                </div>
                <div class="modal-footer hide" id="botonesdistribuidor">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    <button type="submit" class="btn btn-info" id="guardasalida">Guarda</button>
                </div>
            </div>
        </div>
    </form>
</div>


<input type="hidden" value="" id="ed_id" name="ed_id" />
<input type="hidden" value="" id="ed_solicitante" name="ed_solicitante" />
<input type="hidden" value="" id="ed_almacen" name="ed_almacen" />
<input type="hidden" value="" id="ed_pedido" name="ed_pedido" />

@Html.Partial("_DetProdSerSalida")
@Html.Partial("_ProcesoEnvio")

<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade modal-lg">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title" id="titulo_ver">Orden de Compra</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                            <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="cancelar" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formacancelar" action="#" method="post">

        <input type="hidden" value="" id="cancelar_id" name="cancelar_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowincancelar" class="modal-title">Cancela Salida a Almacén</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de cancelar esta salida a Almacén?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    <button type="submit" class="btn btn-danger" id="cancelarsalida">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="/Content/pags/ordencompradistribuidor.js"></script>
<script src="/Content/pags/ordencompradistribuidor-salida.js"></script>
<script src="/Content/pags/paginacion.js"></script>