﻿@{
    Layout = "~/Views/Shared/_Plantilla.cshtml";

}


<div class="card">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; font-size: 16px;">Rastreo</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>

        </header>
        <div class="tools">

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 text-center" style="margin-top:30px;">
                <form id="formbusca" action="#" method="post">
                    <p class="text-info">Ingresa la serie de aparato </p>
                    <input type="text" placeholder="Serie " class="form-control validate[custom[integer]]" style="width:250px;text-transform:uppercase;" id="abuscar" />
                    <button type="button" class="btn btn-info btn-sm ink-reaction" id="buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Buscar
                    </button>
                </form>

            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Serie</th>
                            <th>Nombre</th>
                            <th>Ubicación</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="resultado">
                        
                    </tbody>
                </table>
            </div>
            <!--
            <div class="col-md-8 text-center" id="resultado">
                <h3>Rastreo de equipos</h3><br />
                <i class="md md-wifi-tethering" style="font-size:100px; color:#ff9800"></i>

            </div>
            -->
        </div>



    </div>




</div>

<script src="/Content/pags/rastreo.js"></script>