﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];
    List<web.Models.catUbicacion> ubicaciones = (List<web.Models.catUbicacion>)ViewData["ubicaciones"];

    List<web.Models.catUnidad> unidades = (List<web.Models.catUnidad>)ViewData["unidades"];


    List<web.Models.Entidad> tecnicos = (List<web.Models.Entidad>)ViewData["tecnicos"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catTipoSalida> tipossalida = (List<web.Models.catTipoSalida>)ViewData["tipossalida"];


    List<web.Models.Usuario> usuarios = (List<web.Models.Usuario>)ViewData["usuarios"];



    List<web.Models.Proceso> salidaspendientes = (List<web.Models.Proceso>)ViewData["salidaspendientes"];


    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();




}


<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
           }

        }


    }


</style>


<div class="card" >

    


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Bitácoras de técnicos</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">           
            @Html.ActionLink("Nueva bitácora", "Index", "BitacoraAlmacen", null, new { @class = "btn btn-sm btn-primary" })
            </div>
        </div>
  
    <div class="card-body" style="padding:30px;">

        <div class="form-group">

            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="tecnico" name="tecnico">
                <option value="@Guid.Empty">Técnicos</option>
                @foreach (web.Models.Entidad t in tecnicos)
                {
                    <option value="@t.EntidadClave">@t.Nombre</option>
                }
            </select>

            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="almacen" name="almacen">
                <option value="@Guid.Empty">Almacén</option>
                @foreach (web.Models.Entidad a in almacenes)
                {
                    <option value="@a.EntidadClave">@a.Nombre</option>
                }
            </select>

            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="tipobitacora" name="tipobitacora">
                <option value="">Tipo de Bitácora</option>
                <option value="M">Mantenimiento</option>
                <option value="C">CTC</option>
                <option value="Q">Queja</option>
                <option value="O">Orden de trabajo</option>
            </select>


            @*<input type="text" style="width:220px;float:left;margin-right:10px" id="contrato" placeholder="No.contrato" class="form-control input-sm" />
            <button type="button" class="btn btn-info ink-reaction btn-sm" id="buscarcontrato">
                <i class="fa fa-search" aria-hidden="true"></i> Buscar
            </button>*@

        </div>





        <div id="nuevos" class="tab-pane fade active in">


            <ul id="myTab4" class="nav nav-tabs">
                <li class="active"><a href="#t1a" data-toggle="tab">Sistema</a></li>
                <li><a href="#t2a" data-toggle="tab">SOFTV</a></li>


            </ul>

            <div id="myTabContent4" class="tab-content">
                <div id="t1a" class="tab-pane fade active in">

                    
                    <h4 class="caption" id="resultadosnuevos"></h4>
                    <table class="table table-hover-color" id="datos" style="width:100%">
                        <thead>
                            <tr>
                                <th># Salida</th>
                                <th>Fecha</th>
                                <th>Técnico</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th># Salida</th>
                                <th>Fecha</th>
                                <th>Técnico</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                                <th>Opciones</th>
                            </tr>

                        </tfoot>
                    </table>

                </div>
                <div id="t2a" class="tab-pane fade">

                    <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
                    <table class="table table-hover-color" id="datossoftv" style="width:100%">
                        <thead>
                            <tr>
                                <th># Salida</th>
                                <th>Fecha</th>
                                <th>Técnico</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th># Salida</th>
                                <th>Fecha</th>
                                <th>Técnico</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>




    </div>
</div>



<script src="/Content/pags/Utils.js"></script>
<script src="/Content/pags/bitacora.js"></script>
@*<script src="/Content/pags/bitacoramaterialdetalle.js"></script>
<script src="/Content/pags/bitacora-tecnico.js"></script>
<script src="/Content/pags/paginacion.js"></script>*@