﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];    
}
<link rel="stylesheet"  href="~/Content/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css"/>
<div class="card" id="filtros">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; font-size:16px;">Movimientos de técnicos</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdf"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        <li><a href="javascript:void(0); " id="excel"><i class="fa fa-circle fa-fw text-default-dark"></i>Excel</a></li>
                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
            </div>          
        </div>
    </div>    
            
        <div class="card-body">           
            <div class="row">

                <div class="col-md-6">
                    <div class="col-md-9">
                        Selecciona distribuidor
                        <select class="form-control input-sm validate[required]" data-style="btn-white" id="dis" name="dis" style="margin:10px;">

                            @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                            {

                            }
                            @foreach (web.Models.catDistribuidor dist in distribuidor)
                            {
                                <option value="@dist.catDistribuidorClave">@dist.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-9">
                        Selecciona almacén
                        <select class="form-control validate[required]" id="almacen" name="almacen" style="margin:10px;">
                            <option value="0">
                                Todos los almacenes
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                      selecciona todos los almacenes<br />
                        <input type="checkbox" class="todosalm" id="todosalm">
                    </div>


                    <div class="col-md-9">
                        Selecciona técnico
                        <select class="form-control" data-style="btn-white" id="tecnico" name="tecnico" style="margin:10px;">
                            <option value="0">
                                todos los tecnicos
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                      seleccionar Todos los técnicos<br />                        
                         <input class="todostec" id="todostec" type="checkbox">
                    </div>




                    <div class="col-md-9">
                        selecciona clasificación
                        <select class="form-control" data-style="btn-white" id="cla" name="cla" style="margin:10px;">
                            <option value="0">Clasificación Artículo</option>
                            @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                            {
                                <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                       Seleccionar Todos los artículos<br />
                        <input type="checkbox" class="todosart" id="todosart">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="col-md-12">
                        Selecciona tipo de artículo
                        <select class="form-control" data-style="btn-white" data-width="250px" id="tip" name="tip" style="margin:10px;">
                            <option value="">
                                Tipos de Artículo
                            </option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        Selecciona artículo
                        <select class="selectpicker form-control" data-style="btn-white" data-width="250px" id="articulos" name="articulos" style="margin:10px;">
                            <option value="">
                                Artículos
                            </option>
                        </select>
                    </div>



                    <div class="col-md-6">
                        <label>Fecha Inicio</label>
                        <div class='input-group date datepicker-default' id='datepicker1'>
                            <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha Fin</label>
                        <div class='input-group date datepicker-default' id='datepicker2'>
                            <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                </div>
           
           
         
           
            </div>
        
        
 
</div>


<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>

<!--END LOADING SCRIPTS FOR PAGE-->
<!--BEGIN JAVASCRIPT-->
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });



</script>
<script src="~/Content/pags/ReporteMovimientosTecnico/funciones.js"></script>