﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];

    List<web.Models.catPuestoTecnico> puestostecnico = (List<web.Models.catPuestoTecnico>)ViewData["puestostecnico"];

    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();


}

<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
               @Html.Raw(@"
                   .cancela{ display:none !important;}

               ")
           }

        }


    }


</style>


<div class="card">


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Técnicos Generales</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Entidades</a></small>
        </header>
        <div class="tools">
            <button data-toggle='tooltip' data-placement='top' title='' data-original-title='Agrega un nuevo técnico' class="btn btn-block ink-reaction btn-flat btn-info" type="button" id="add"> Nuevo</button>

        </div>
    </div>

    <div class="card-body">
          <table class="table" id="datos" style="padding-left:10px;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

        <input type="hidden" value="" id="ed_id" name="ed_id" />

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Detalle del técnico</h4>
                            <div class="form-group">

                                
                                Nombre<br />
                                <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">

                                <br clear="all" />

                                Puesto<br />
                                <select class="selectpicker form-control" data-style="btn-white" data-width="250px" id="ed_puesto" name="ed_puesto">
                                    @foreach (web.Models.catPuestoTecnico puesto in puestostecnico)
                                    {
                                        <option value="@puesto.catPuestosTecnicosClave">@puesto.Descripcion</option>
                                    }
                                </select>

                                <br clear="all" />
                                <br />
                                Selecciona estatus<br />
                                <input type="checkbox" name="ed_activa" id="ed_activa" />   Activo

                            </div>

                        </div>

                        <div class="col-md-6">

                            <h4>Distribuidores del técnico</h4>
                            selecciona distribuidor
                            <div class="col-md-8">
                                <select class="form-control input-sm" data-style="btn-white" data-width="250px" id="ed_distr" name="ed_distr">
                                    @foreach (web.Models.catDistribuidor dis in distribuidor)
                                    {
                                        <option value="@dis.IdDistribuidor">@dis.Nombre</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-sm  btn-info" type="button" onclick="agregaRelacion()">Agregar</button>
                            </div>
                            <div class="col-md-12">
                               <table class="table" >
                                   <thead>
                                      <th>Distribuidor</th>
                                       <th>Opciones</th>
                                   </thead>
                                  <tbody id="tdistribuidores">
                                  </tbody>
                               </table>
                            </div>                    
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info btn-sm" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    var distribuidores = [];
    var idEdita = 0;
    llenaLista();

    $("#add").click(function () {
        distribuidores = [];
        $("#titulowin").html("Agregar Técnico");
        $('#edita').modal('show');
        $("#ed_id").val('');
        $("#ed_nombre").val('');
        $("[type=checkbox]").removeProp('checked');
        $("[type=checkbox]").parent().removeClass('checked');
        $("#ed_activa").prop('checked', 'checked');
        $("#ed_activa").parent().addClass('checked'); 
        $('#tdistribuidores').empty();
    });

    function listaDistribuidores() {
        $('#tdistribuidores').empty();
        distribuidores.forEach(function (item) {
            $('#tdistribuidores').append('<tr><td>'+ item.nombre + '</td><td><button type="button" class="btn btn-danger btn-xs" onClick="quitarRelacion(\'' + item.clave + '\')"   ><i class="fa fa-trash"></i> Eliminar</button></td></tr>');
         });       
    }

    function quitarRelacion(id) {
        console.log(id);
        distribuidores.splice($.inArray(id, distribuidores), 1);
        listaDistribuidores();
    }

    function agregaRelacion() {
        if (ExisteRel($('#ed_distr').val())) {
            toastr.error('ya existe una relación agregada');
        } else {
            distribuidores.push({ 'clave': $('#ed_distr').val(), 'nombre': $("#ed_distr option:selected").text() });
            listaDistribuidores();
        }
    }

    function ExisteRel(id) {
        var count = 0;
        distribuidores.forEach(function (item) {
           count+= (item.clave==id)?1:0
        });
        return count > 0 ? true : false;
    }

    $("#formaedita").submit(function (e) {
        e.preventDefault();
        var valid = jQuery('#formaedita').validationEngine('validate');
        if (valid) {

            var arr_ = "";
            distribuidores.forEach(function (y) { arr_ += y.clave + '|'; })
            var activo = ($('#ed_activa').val() == 'on') ? true : false;

            if (idEdita == 0) {
                var url = '/TecnicosGenerales/GuardaTecnico/';
                $.ajax({
                    url: url,
                    dataType: 'json',
                    data: { "nombre": $("#ed_nombre").val(), "activo": activo, "puesto": $("#ed_puesto").val(), "distribuidores": arr_ },
                    type: "POST",
                    success: function (data) {
                        $('#edita').modal('hide');
                        toastr.success('Tecnico Agregado Correctamente');
                        llenaLista();
                    },
                    error: function (request, error) {
                        toastr.error('Surgió un error, intente nuevamente más tarde');
                    }
                });
            } else {
                var url = '/TecnicosGenerales/EditarTecnico/';
                $.ajax({
                    url: url,
                    dataType: 'json',
                    data: { "idEntidad": idEdita, "nombre": $("#ed_nombre").val(), "activo": activo, "puesto": $("#ed_puesto").val(), "distribuidores": arr_ },
                    type: "POST",
                    success: function (data) {

                        $('#edita').modal('hide');
                        toastr.success('Técnico editado Correctamente');
                        llenaLista();
                    },
                    error: function (request, error) {
                        toastr.error('Surgió un error, intente nuevamente más tarde');
                    }
                });

            }
            
           
           

        }
    });

    function edita(id) {
        $('#tdistribuidores').empty();
        $("#titulowin").html("Editar Técnico");
        $('#edita').modal('show');
        $("#ed_id").val('');
        $("#ed_nombre").val('');
        $("[type=checkbox]").removeProp('checked');
        $("[type=checkbox]").parent().removeClass('checked');
        distribuidores = [];

        var url = '/TecnicosGenerales/detalleTecnico/';
        $.ajax({
            url: url,
            dataType: 'json',
            data: { "id": id},
            type: "POST",
            success: function (data) {
                idEdita = id;
                $("#ed_nombre").val(data.Nombre);
                $("#ed_puesto").val(data.catPuestosTecnicosClave);
                if (data.Activo === "1") {
                    $("#ed_activa").prop('checked', 'checked');
                    $("#ed_activa").parent().addClass('checked');
                }
               
                $.ajax({
                    url: '/TecnicosGenerales/obtieneDistribuidoresTecnico/',
                    dataType: 'json',
                    data: { "id": id},
                    type: "POST",
                    success: function (data) {

                        data.forEach(function (item) {
                            distribuidores.push({ 'clave': item.idDistribuidor, 'nombre': item.nombre });
                        })
                        listaDistribuidores();

                        console.log(data);
                    },
                    error: function (request, error) {
                        toastr.error('Surgió un error, intente nuevamente más tarde');
                    }
                });

                
            },
            error: function (request, error) {
                toastr.error('Surgió un error, intente nuevamente más tarde');
            }
        });


    }

 
    function llenaLista() {    
          

        $('#datos').dataTable({
            "processing": true,
            "serverSide": true,
            "bFilter": false,
            "bDestroy": true,
            "info": true,
            "stateSave": false,
            "lengthMenu": [[5], [5]],
            "ajax": {
                "url": "/TecnicosGenerales/ObtenLista/",
                "type": "POST",
                "data": {
                   
                }
            },
            "columns": [
                      {
                       sortable: false,
                       "render": function (data, type, full, meta) {
                           return (full.Activo == 1)? full.Nombre:"<s>" + full.Nombre + "</s>";                           
                       }
                   },
                    { "data": "PuestoTecnicos", "orderable": false },

                    {
                          sortable: false,
                          "render": function (data, type, full, meta) {
                              return (full.Activo === "1") ?"<img src='/Content/assets/img/activo.png'>":"<img src='/Content/assets/img/inactivo.png'>";                             
                          }

                      },

                      {
                          sortable: false,
                          "render": function (data, type, full, meta) {
                              return '<button type="button" class="btn btn-warning btn-xs edit" onClick="edita(\'' + full.Clave + '\')" ><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Editar</button>';

                          }

                      },




            ],

            language: {

                search: "Buscar&nbsp;:",
                lengthMenu: "Mostrar _MENU_ orden",
                info: "Mostrando   _START_ de _END_ Total _TOTAL_ elementos",
                infoEmpty: "No hay elementos para mostrar",
                infoFiltered: "(filtrados _MAX_ )",
                infoPostFix: "",
                //loadingRecords: "Búsqueda en curso...",
                zeroRecords: "No hay elementos para mostrar",
                emptyTable: "No hay elementos disponibles",
                paginate: {
                    first: "Primera",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultima"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            },


            "order": [[0, "asc"]]
        })

    }

</script>

