﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catClasificacionArticulo> clasificacion = (List<web.Models.catClasificacionArticulo>)ViewData["clasificacion"];

    List<web.Models.catSerie> series = (List<web.Models.catSerie>)ViewData["series"];

    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();



}
<style>

    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>



<style>

     


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
               @Html.Raw(@"
                   .cancela{ display:none !important;}

               ")
           }

        }


    }


</style>

<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Tipos de artículo</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button class="btn btn-block ink-reaction btn-flat btn-info btn-sm"
                    data-toggle='tooltip' data-placement='top' title='' data-original-title='Nuevo tipo de artículo' type="button" id="add">
                Nuevo
            </button>


        </div>
    </div>


    <div class="card-body">


        <div class="row">
            <div class="col-md-2">
                <p class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i> Filtros:</p>
            </div>
            <div class="col-md-10">
                <select class="selectpicker form-control input-sm" data-style="btn-white" style="width:30%;" id="cla" name="cla">
                    <option value="-1">Todos</option>
                    @foreach (web.Models.catClasificacionArticulo cla in clasificacion)
                    {
                        <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                    }
                </select>

            </div>


        </div>





        <table class="table " id="datos" style="padding-left:10px;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>pagaré/Venta</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>pagaré/Venta</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>




    </div>


</div>





<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="col-md-6">

                        <div class="form-group">

                            <div class="col-md-12">

                                <label>Clasificación</label><br />
                                <select class="form-control validate[required]" required data-width="250px" id="ed_clasificacion" name="ed_clasificacion">
                                    @foreach (web.Models.catClasificacionArticulo cla in clasificacion)
                                    {
                                        <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                    }
                                </select>
                            </div>

                            <br clear="all" />

                            <div class="col-md-12">
                                <label>Nombre</label><br />
                                <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]" />
                            </div>
                            <div class="col-md-12" style="display:none;">
                                <input type="checkbox" name="ed_pagare" id="ed_pagare" /> <label for="ed_pagare">Es de pagaré</label>
                            </div>
                            <div class="col-md-12">
                                <input type="checkbox" name="ed_devolucionmatriz" id="ed_devolucionmatriz" /> <label for="ed_devolucionmatriz">Devolución a Matriz</label>
                            </div>
                            <div class="col-md-12 checactivo">
                                <input type="checkbox" name="ed_activa" id="ed_activa" /> <label for="ed_activa">Activo</label>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6" id="panelInterfaz">
                        <div class="form-group">

                            <div class="col-md-8">
                                Series utilizadas
                            </div>
                            <div class="col-md-4">
                                Interface
                            </div>
                            <br clear="all" /><br clear="all" />

                            @foreach (web.Models.catSerie serie in series)
                            {
                                <div class="col-md-8">
                                    <input type="checkbox" name="@("serie" + serie.catSerieClave)" id="@("serie" + serie.catSerieClave)" class="serie" /> @serie.Nombre
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" name="serieinterface" id="@("serieinterface" + serie.catSerieClave)" value="@serie.catSerieClave" class="serieinterface" />
                                </div>
                            }


                        </div>

                        <br clear="all" /><br />

                        <div class="col-md-12">
                            <label style="float:left">Letra&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input style="float:left;width:40px;text-transform:uppercase" type="text" id="ed_letra" name="ed_letra" placeholder="Letra" maxlength="1" class="form-control" />
                        </div>

                    </div>



                    <br clear="all" /><br />

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-default-bright">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info btn-sm" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">

        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de desactivar este Tipo de Artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-danger" id="eliminar">Desactivar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="activa" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaactiva" action="#" method="post">
        <input type="hidden" value="" id="activa_id" name="activa_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinactiva" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de activar este Tipo de Artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright">Cerrar</button>
                    <button type="submit" class="btn btn-info" id="activar">Activar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>

    var _acciones = true;

    @if (web.Utils.Config.Dame("EDITARELACIONADOS").ToLower() == "no")
    {
        @("_acciones = false;");
    }

</script>

<script src="~/Content/pags/CatTipoArticulos/Lista.js"></script>

<script src="~/Content/pags/CatTipoArticulos/Acciones.js"></script>

