﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Tipos de pago</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a></small>
        </header>
        <div class="tools">
            <div class="btn-group">
                <button class="btn btn-block ink-reaction btn-flat btn-info" data-toggle='tooltip' data-placement='top' title='' data-original-title='Agrega un nuevo tipo de pago' id="agrega">Nuevo tipo</button>

            </div>
        </div>
    </div>


    <div class="card-body">

        <table class="table" id="datos">
            <thead>
                <tr>
                <td>Activo </td>
                <td>Activo </td>
                 
                <td>Opciones</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>


<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
   

        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nombre</label><br />
                                <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>¿Solicita Número de cuenta?</label><br />
                                <input type="checkbox" class="cuenta" name="ed_cuenta" id="ed_cuenta" />
                            </div>
                        </div>
                    </div>

                  
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Activar</label><br />
                                <input type="checkbox" class="activo" name="ed_activa" id="ed_activa" />
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright">
                        Cerrar
                    </button>
                    <button  class="btn btn-info btn-sm" id="guarda" style="display:none;">Guardar</button>
                    <button class="btn btn-info btn-sm" id="btnedita" style="display:none;">Edita</button>
                </div>
            </div>
        </div>

</div>


<script src="~/Content/pags/TiposPago/Lista.js"></script>