﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
   web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
   web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();


}

<style>


    .colorpicker {
  z-index: 9999;
}

      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {

            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {

                 @Html.Raw(@"
                   .edit{ display:none !important;}

               ")

             @Html.Raw(@"
                   .editlogo{ display:none !important;}

               ")

           @Html.Raw(@"
                   .editcolor{ display:none !important;}

               ")


            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
           }

        }


    }


</style>

<link rel="stylesheet" type="text/css" href="/Content/assets/js/libs/fineuploader/fineuploader-3.6.4.css">
<link rel="stylesheet" type="text/css" href="/Content/assets/js/libs/bootstrap-colorpicker/css/colorpicker.css">



<div class="card">


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Parametros de Configuración</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button class="btn btn-block ink-reaction btn-flat btn-info" data-toggle='tooltip' data-placement='top' title='' data-original-title='Agrega nueva serie' type="button" id="add">

                Nuevo
            </button>


        </div>
    </div>

    <div class="card-body">
        <div class="content">
            <ul id="myTab4" class="nav nav-tabs">
                <li class="active"><a href="#t1" data-toggle="tab"> <i class="fa fa-cog" aria-hidden="true"></i> Parámetros</a></li>
                <li><a href="#t2" data-toggle="tab"><i class="fa fa-file-image-o" aria-hidden="true"></i> Logotipos</a></li>
                <li><a href="#t3" data-toggle="tab">Colores</a></li>
            </ul>
            <br clear="all" />
            <br />
            <div id="myTabContent4" class="tab-content">
                <div id="t1" class="tab-pane fade active in">
                    <p>
                        <table class="table table-hover-color" id="datos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Parametro</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </p>
                </div>
                <div id="t2" class="tab-pane fade">
                    <p>

                        <table class="table table-hover-color" id="logos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Logo</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </p>
                </div>
                <div id="t3" class="tab-pane fade">
                    <p>


                        <table class="table table-hover-color" id="colores">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Color</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>






















<div id="editalogo" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditalogo" action="#" method="post">

        <input type="hidden" value="" id="edlogo_id" name="edlogo_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowinlogo" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-6">

                            <label>Carga Archivo</label>
                            <div id="file_edlogo"></div> <span style="color:#CCC">(archivos permitidos: png, jpg; tamaño máximo: 5Mb)</span><br>

                            <input type="hidden" id="edlogo_valor" name="edlogo_valor">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <img src="" width="100" height="100" id="edlogo_img" />
                    </div>

                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info" id="guardalogo">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="edita" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>Valor</label><br />
                                <input type="text" id="ed_valor" name="ed_valor" placeholder="Valor" class="form-control validate[required]">
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="editacolor" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditacolor" action="#" method="post">

        <input type="hidden" value="" id="edcolor_id" name="edcolor_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowincolor" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-6">

                            <label>Color</label>
                            <div class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="hex">
                                <input type="text" id="edcolor_valor" name="edcolor_valor" class="span2" value="" style="float:left;height:25px;width:70px;">
                                <span class="add-on" style="float:left;border:1px solid #000"><i style=" background-color rgb(255, 146, 180);height:25px;width:25px;"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Color actual</label>
                            <div id="edcolor" style="border:solid 1px #CCC;width:50px;height:50px" />
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info" id="guardacolor">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="/Content/assets/js/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

<script>

    $(document).ready(function () {
        $('.color').colorpicker().on('changeColor', function (ev) {
            //bodyStyle.backgroundColor = ev.color.toHex();
        });;
    });

</script>


<script src="~/Content/pags/Utilerias/parametros.js"></script>
<script src="/Content/pags/paginacion.js"></script>

<script src="/Content/assets/js/libs/fineuploader/jquery.fineuploader-3.6.4.min.js"></script>
<script>
    uploader("edlogo");

    function uploader(cual) {
        var elfotomapa = new qq.FineUploader({
            element: $('#file_' + cual)[0],
            request: {
                endpoint: '/Upload/Archivo?cual=' + cual + '&id=67'
            },
            multiple: false,
            validation: {
                allowedExtensions: ['png', 'jpg'],
                sizeLimit: 100 * 54 * 1024
            },
            text: {
                uploadButton: 'Cargar Archivo...'
            },
            showMessage: function (message) {
                alert(message);
            },
            messages: {
                typeError: 'El tipo de archivo es incorrecto',
                sizeError: "El archivo es demasiado grande"
            },
            callbacks: {
                onComplete: function (id, fileName, responseJSON) {


                    if (responseJSON.success) {
                        $("#edlogo_img").attr("src", "/Content/media/" + responseJSON.laurl);
                        $("#edlogo_valor").val(responseJSON.laurl);
                    }
                    else {
                        alert("error");
                    }

                }
            }
        });
    }

</script>

