﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    
    
    
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];
    List<web.Models.catUbicacion> ubicaciones = (List<web.Models.catUbicacion>)ViewData["ubicaciones"];
    
    List<web.Models.catUnidad> unidades = (List<web.Models.catUnidad>)ViewData["unidades"];

    List<web.Models.CatTipoServicios> servicios = (List<web.Models.CatTipoServicios>)ViewData["servicios"];

    
    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();

    
    

}



<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
              
           }

        }


    }


</style>


<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Artículos</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button class="btn btn-block ink-reaction btn-flat btn-info" type="button" data-toggle='tooltip' data-placement='top' title='' data-original-title='Agrega un nuevo artículo' id="add"> Nuevo</button>


        </div>
    </div> 
    <div class="card-body" style="padding:30px;">

        <div class="row">
            <div class="col-md-2">
                <p class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i> Filtros:</p>
            </div>
            <div class="col-md-10">

                <div class="form-group">
                    <div class="col-sm-3 col-md-3">
                        <select class="selectpicker form-control input-sm" data-style="btn-white" data-width="250px" id="cla" name="cla">
                            <option value="">Clasificación</option>
                            @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                            {
                                <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <select class="selectpicker form-control input-sm" data-style="btn-white" data-width="250px" id="tip" name="tip">
                            <option value="">
                                Tipo de Articulo
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 col-md-3">
                        <select class="selectpicker form-control input-sm" data-style="btn-white" data-width="250px" id="pagareventa" name="pagareventa">
                            @*<option value="-1">pagaré o Venta</option>
                            <option value="1">pagaré</option>*@
                            <option value="0">Venta</option>
                        </select>
                    </div>
                </div>



            </div>


        </div>





        <table class="table" id="datos" style="padding-left:10px;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Clasificación</th>
                    <th>Tipo</th>
                    <th>Venta o pagaré</th>
                    <th>Servicio</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Clasificación</th>
                    <th>Tipo</th>
                    <th>Venta</th>
                    <th>Servicio</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>

    </div>





</div>


<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    
                        
                            <ul class="nav nav-tabs" data-toggle="tabs">
                                <li class="active"><a href="#first1"><i class="fa fa-home" aria-hidden="true"></i> Generales</a></li>
                                <li class=""><a href="#first2"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Servicios</a></li>
                                <li><a href="#second1"><i class="fa fa-usd" aria-hidden="true"></i> Precios y Proveedores</a></li>
                               
                            </ul>
                       
                        <div class="tab-content">
                            <div class="tab-pane active" id="first1">
                                <div class="form-group">

                                   

                                    <div class="col-md-6">
                                        <label>Clasificacion de Material</label><br />
                                        <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                                            <option value="">Selecciona</option>
                                            @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                    {
                                                <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                    }
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Tipo de Material</label><br />
                                        <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                                            <option value="">Seleccion</option>
                                            @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                    {
                                                <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" data-tipo="@if(tia.EsPagare.HasValue && tia.EsPagare.Value) { @Html.Raw("pagaré"); } else { @Html.Raw("Venta"); }" class="optiontipo">@tia.Descripcion</option>
                    }
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Descripción</label><br />
                                        <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
                                    </div>

                                    <div class="col-md-6">
                                        <label id="lblPrecio">Precio</label><br />
                                        <input type="text" id="ed_precio" name="ed_precio" placeholder="Precio" class="form-control validate[required,custom[number]]">
                                    </div>

                                    <div class="col-md-4">

                                        <label>Moneda</label><br />
                                        <select id="ed_moneda" name="ed_moneda" class="form-control validate[required]">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                    {
                                                <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                    }
                                        </select>
                                    </div>



                                    <div class="col-md-4">
                                        <label>Unidad</label><br />
                                        <select id="ed_unidad" name="ed_unidad" class="form-control validate[required]">
                                            <option value="">Seleccione una opción</option>
                                            @foreach (web.Models.catUnidad uni in unidades)
                    {
                                                <option value="@uni.catUnidadClave">@uni.Nombre</option>
                    }
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Mínimo</label><br />
                                        <input type="text" id="ed_tope" name="ed_tope" placeholder="Tope" class="form-control validate[required,custom[integer],min[0]]">
                                    </div>

                                    <div class="col-md-4">

                                        <label>Ubicación</label><br />
                                        <select id="ed_ubicacion" name="ed_ubicacion" class="form-control validate[required]">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catUbicacion cubi in ubicaciones)
                                                {
                                                <option value="@cubi.catUbicacionClave">@cubi.Nombre</option>
                                                }
                                        </select>

                                    </div>
                                    <div class="col-md-4">

                                        <label>Número de parte</label><br />
                                       <input type="text" class="form-control" name="parte" id="parte"  />

                                    </div>

                                    <div class="col-md-3">
                                        <label>Estatus articulos</label><br />

                                        <input type="checkbox" name="ed_activa" id="ed_activa" />
                                        <label for="ed_activa">Activo</label>

                                    </div>

                                    


                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="first2">
                                <h5 class="text-center">selecciona los servicios que pertenecerá el artículo</h5>

                                @foreach (var a in servicios)
                                {
                                    <div class="col-md-12">                     

                                        <input type="checkbox" name="servicio" id="@a.IdServicio" value="@a.IdServicio"/>
                                        <label for="ed_activa">@a.Descripcion</label>

                                    </div>
                                }


                            </div>

                   


                            <div class="tab-pane" id="second1">
                                <div class="form-group">

                                    <br clear="all" />
                                    <div class="col-md-5">
                                        <label>Proveedor A</label><br />
                                        <select id="ed_proveedor1" name="ed_proveedor1" class="form-control validate[required]">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catProveedor pro in proveedores)
                                            {
                                                <option value="@pro.catProveedorClave">@pro.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Precio</label><br />
                                        <input type="text" id="ed_precio1" name="ed_precio1" placeholder="$" class="form-control validate[required]">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tipo Moneda</label><br />
                                        <select id="ed_moneda1" name="ed_moneda1" class="form-control validate[required]">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                            {
                                                <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                                            }
                                        </select>
                                    </div>


                                    <div class="col-md-5">
                                        <label>Proveedor B</label><br />
                                        <select id="ed_proveedor2" name="ed_proveedor2" class="form-control">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catProveedor pro in proveedores)
                                            {
                                                <option value="@pro.catProveedorClave">@pro.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Precio</label><br />
                                        <input type="text" id="ed_precio2" name="ed_precio2" placeholder="$" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tipo Moneda</label><br />
                                        <select id="ed_moneda2" name="ed_moneda2" class="form-control">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                            {
                                                <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                                            }
                                        </select>
                                    </div>


                                    <div class="col-md-5">
                                        <label>Proveedor C</label><br />
                                        <select id="ed_proveedor3" name="ed_proveedor3" class="form-control">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catProveedor pro in proveedores)
                                            {
                                                <option value="@pro.catProveedorClave">@pro.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Precio</label><br />
                                        <input type="text" id="ed_precio3" name="ed_precio3" placeholder="$" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tipo Moneda</label><br />
                                        <select id="ed_moneda3" name="ed_moneda3" class="form-control">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                            {
                                                <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                                            }
                                        </select>
                                    </div>





                                </div>
                            </div>

                            
                        </div><!--end .card-body -->
                    
                    
                   



                    <br clear="all" />
                </div>
                <div class="modal-footer" id="accionesedita">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                    <button type="submit" class="btn btn-info btn-sm" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">
        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de desactivar este Artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-danger" id="eliminar">Desactivar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="activa" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaactiva" action="#" method="post">
        <input type="hidden" value="" id="activa_id" name="activa_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinactiva" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de activar este Artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright">Cerrar</button>
                    <button type="submit" class="btn btn-info" id="activar">Activar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="~/Content/pags/Articulos/Lista.js"></script>
<script src="~/Content/pags/Articulos/AgregaArticulo.js"></script>
<script src="~/Content/pags/Articulos/EditarArticulo.js"></script>
