﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();
    string url = Request.RawUrl.ToString();
    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();
    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();
    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
}
<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   .seleccionarpedido{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
               @Html.Raw(@"
                   .eliminasalida{ display:none !important;}

               ")
           }

        }


    }


</style>


<div class="card">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; font-size: 16px; ">Órdenes de compra de distribuidor</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>

        </header>
        <div class="tools">

        </div>
    </div>

    <div class="card-body">
        <form id="formbusca" action="#" method="post" class="form-group" style="padding:0px">

            <div class="col-md-12" style="padding:0px">
                <select class="form-control input-sm" style="width:230px;float:left;margin-right:10px" id="buscastatus">
                    <option value="-1">Estatus</option>
                    <option value="2">Pendientes por surtir</option>
                    <option value="3">Parciales</option>
                    <option value="4">Completos</option>
                </select>

                @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
            {
                    <select class="form-control input-sm" style="width:230px;float:left;margin-right:10px" id="buscadistribuidor">
                        <option value="-1">Distribuidor</option>
                        @foreach (web.Models.catDistribuidor p in distribuidores)
                        {
                            <option value="@p.catDistribuidorClave">@p.Nombre</option>
                        }
                    </select>
                }
                <select class="form-control input-sm" style="width:230px;float:left;margin-right:10px" id="buscapagvta">
                    <option value="-1">Tipo orden</option>
                    <option value="0">Venta</option>
                    <option value="1">Pagaré</option>
                </select>


                <input type="text" placeholder="# de Orden de compra" class="form-control input-sm validate[custom[integer]]" style="width:250px;float:left;margin-right:10px;" id="abuscar" />
                <button type="button" class="btn ink-reaction btn-info btn-sm" id="buscar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Buscar
                </button>
            </div>

        </form>
        <br>



        <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table table-hover-color" id="datos" style="font-size:12px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Distribuidor</th>
                    <th>Almacén</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estatus</th>
                    <th>Pagaré/Venta</th>
                    <th>Acciones</th>
                </tr>
            </thead>


        </table>




    </div>


</div>







<div id="salidasdetalle" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formasalidasdetalle" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulosalidasdetalle" class="modal-title"></h4>
                </div>
                <div class="modal-body" style="overflow-y:scroll; max-height:500px;">
                    <table class="table" id="lassalidas">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th></th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="versalida" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formasalidadetalle" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Salida de Material</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframesalida"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title" id="titulo_ver">Orden de compra</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="eliminasalida" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeliminarecepcion" action="#" method="post">
        <input type="hidden" value="" id="delrecepcion_id" name="delrecepcion_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Cancelar surtido de material</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label>
                                    <b>¡Atención!:</b> Estás a punto de cancelar este surtido de material,
                                    esto puede provocar que los usuarios que en este momento utilizan estas series se vean afectados.
                                    <br />


                                </label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">  Cerrar </button>
                    <button type="button" class="btn btn-danger btn-sm" id="eliminarsalida">Sí, deseo cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="editadistribuidor" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditadistribuidor" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindistribuidor" class="modal-title">Surtido de pedido</h4>
                </div>
                <div class="modal-body">
                    <ul id="myTab5distribuidor" class="nav nav-tabs">
                        <li class="active"><a href="#t2distribuidor" data-toggle="tab" id="tt2"><i class="fa fa-cubes" aria-hidden="true"></i> Artículos</a></li>
                        <div id="myTabContent4distribuidor" class="tab-content">
                            <div id="t2distribuidor" class="tab-pane fade in active">
                                <br />


                                <div class="form-group">

                                    <div class="col-md-9"></div>
                                    <br />

                                    <table class="table" id="articulostabledistribuidor">
                                        <thead>
                                            <tr>
                                                <th>Artículo</th>
                                                <th>C. Almacén</th>
                                                <th>C. Solicitada</th>
                                                <th>C. Salida</th>
                                                <th>C. Pendiente</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" id="paginadordistribuidor"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </ul>
                    <br clear="all" />
                </div>
                <div class="modal-footer hide" id="botonesdistribuidor">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cancelar</button>
                    <button type="submit" class="btn btn-success btn-sm" id="guardasalida">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="Detalleseries" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-backdrop fade in" style="height: 1600px;"></div>
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="tituloSeries" class="modal-title"> </h4>
            </div>
            <div class="modal-body">

                <table class="table" style="font-size:11px;">
                    <thead>
                        <tr>
                            <td style="width:20%">C.Inventario</td>
                            <td style="width:20%">C. Solicitada</td>
                            <td style="width:20%">C. Pendiente</td>
                            <td style="width:20%">C. Seleccionada</td>
                            <td style="width:20%">C. Faltante</td>
                        </tr>

                    </thead>
                    <tbody id="detallesurtido"></tbody>
                </table>

                Serie:
                <input type="text" id="serie" class="form-control" placeholder="Proporciona MAC/SERIE de aparato" />
                <br />
                <table class="table" id="tablaseries" style="width:100%;">
                    <thead>
                        <tr>
                            <td>Seleccionar</td>
                            <td>Aparato</td>
                            <td>Serie</td>

                        </tr>
                    </thead>
                    <tbody id="contenidoT"></tbody>
                </table>

                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>

            </div>
        </div>
    </div>

</div>

<script src="~/Content/pags/SurtidoDistribuidor/Lista.js"></script>
<script src="~/Content/pags/SurtidoDistribuidor/Salidas.js"></script>
<script src="~/Content/pags/SurtidoDistribuidor/CancelaSalida.js"></script>
<script src="~/Content/pags/SurtidoDistribuidor/DetallePedido.js"></script>
<script src="~/Content/pags/SurtidoDistribuidor/GuardaSalida.js"></script>
<script src="~/Content/pags/SurtidoDistribuidor/Aparatos.js"></script>
<script src="http://neue.cc/linq.min.js"></script>
<script type="text/javascript">

    //$('input').iCheck({
    //    checkboxClass: 'icheckbox_square-blue',
    //    radioClass: 'iradio_square-blue',
    //    increaseArea: '20%' // optional
    //});


</script>

