﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-MX">
<head>
    <title>@web.Utils.Config.Dame("SISTEMA")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta http-equiv="expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Content/assets/images/icons/favicon.ico">

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
    <!-- END STYLESHEETS -->


    <style type="text/css">
        /* Estilo únicamente para la línea horizontal*/
        /* Credit to bootsnipp.com for the css for the color graph */
        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #FFC727, #FFC727 12.5%, #FFCC33 12.5%, #FFCC33 25%, #FED558 25%, #FED558 37.5%, #fecf71 37.5%, #fecf71 50%, #fecf71 50%, #fecf71 62.5%, #FED558 62.5%, #FED558 75%, #FFCC33 75%, #FFCC33 87.5%, #FFC727 87.5%, #FFC727);
            background-image: -moz-linear-gradient(left, #FFC727, #FFC727 12.5%, #FFCC33 12.5%, #FFCC33 25%, #FED558 25%, #FED558 37.5%, #fecf71 37.5%, #fecf71 50%, #fecf71 50%, #fecf71 62.5%, #FED558 62.5%, #FED558 75%, #FFCC33 75%, #FFCC33 87.5%, #FFC727 87.5%, #FFC727);
            background-image: -o-linear-gradient(left, #FFC727, #FFC727 12.5%, #FFCC33 12.5%, #FFCC33 25%, #FED558 25%, #FED558 37.5%, #fecf71 37.5%, #fecf71 50%, #fecf71 50%, #fecf71 62.5%, #FED558 62.5%, #FED558 75%, #FFCC33 75%, #FFCC33 87.5%, #FFC727 87.5%, #FFC727);
            background-image: linear-gradient(to right, #FFC727, #FFC727 12.5%, #FFCC33 12.5%, #FFCC33 25%, #FED558 25%, #FED558 37.5%, #fecf71 37.5%, #fecf71 50%, #fecf71 50%, #fecf71 62.5%, #FED558 62.5%, #FED558 75%, #FFCC33 75%, #FFCC33 87.5%, #FFC727 87.5%, #FFC727);
        }
    </style>
</head>



<body class="" style="background-color:white">

    @*style="margin-top:20px;"*@


    <div class="body">
        <form action=" #" class="form" name="forma" id="forma" style="background-color:white;">

            <div class="row" style="display:inline-block; width:100%">

                <div class=" col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="margin-top:9%;">
                    <fieldset style="margin:0px">
                        <div class="header text-center">
                            <img src="/Content/media/@web.Utils.Config.Dame("LOGO_LOGIN")" style="width:250px; height:250px;" />

                        </div>
                        <hr class="colorgraph">
                        <h1 align="center"> Error 404</h1>

                        <h3 align="center">El recurso que está buscando (o una de sus dependencias) se puede haber quitado, haber cambiado de nombre o no estar disponible temporalmente.</h3>
                        <hr class="colorgraph">
                    </fieldset>
                </div>

            </div>

        </form>
    </div>




    <!-- BEGIN JS -->



</body>
</html>