﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<script>
    $(document).ready(function () {

        var url5 = '/DetalleAlmacen/GetPedidos/';
        $.ajax({
            url: url5,
            dataType: 'json',
            data: { 'id': 1 },
            type: "POST",
            success: function (data) {
                for (var i = 0; i < data.length; i++)
                    $('#tbPedidos').append("<tr><td>"+data[i].Articulo+"</td><td>"+data[i].Cantidad+"</td></tr>")
                console.log(data);
            },
            error: function (request, error) {
                Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
            }
        });

    var url6 = '/DetalleAlmacen/GetRecepciones/';
    $.ajax({
        url: url6,
        dataType: 'json',
        data: { 'id': 1 },
        type: "POST",
        success: function (data) {
            for (var i = 0; i < data.length; i++)
                $('#tbRecepciones').append("<tr><td>"+data[i].Articulo+"</td><td>"+data[i].Cantidad+"</td></tr>")
            console.log(data);
        },
        error: function (request, error) {
            Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
        }
    });
  
    var url7 = '/DetalleAlmacen/SalidasDistribuidores/';
    $.ajax({
        url: url7,
        dataType: 'json',
        data: { 'id': 1 },
        type: "POST",
        success: function (data) {
            for (var i = 0; i < data.length; i++)
                $('#tbSalidas').append("<tr><td>" + data[i].Distribuidor + "</td><td>" + data[i].Almacen + "</td><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>")
            console.log(data);
        },
        error: function (request, error) {
            Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
        }
    });
 

    var url8 = '/DetalleAlmacen/recepcionDevoluciones/';
    $.ajax({
        url: url8,
        dataType: 'json',
        data: { 'id': 1 },
        type: "POST",
        success: function (data) {
            for (var i = 0; i < data.length; i++)
                $('#tbDevol').append("<tr><td>" + data[i].Distribuidor + "</td><td>" + data[i].Almacen + "</td><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>")
            console.log(data);
        },
        error: function (request, error) {
            Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
        }
    });
    


    var url9 = '/DetalleAlmacen/EquiposHabilitados/';
    $.ajax({
        url: url9,
        dataType: 'json',
        data: { 'id': 1 },
        type: "POST",
        success: function (data) {
            for (var i = 0; i < data.length; i++)
                $('#tbHabilitados').append("<tr><td>" + data[i].Almacen + "</td><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>")
            console.log(data);
        },
        error: function (request, error) {
            Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
        }
    });

    var url10 = '/DetalleAlmacen/EquiposBaja/';
    $.ajax({
        url: url10,
        dataType: 'json',
        data: { 'id': 1 },
        type: "POST",
        success: function (data) {
            for (var i = 0; i < data.length; i++)
                $('#tbBaja').append("<tr><td>" + data[i].Almacen + "</td><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>")
            console.log(data);
        },
        error: function (request, error) {
            Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
        }
    });


    });



    
</script>




<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Detalle almacé-n</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">Administración</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">

        <div class="content">
            <div class="widget-box">

                <div class="row" >
                   
                    <div class="col-md-3">
                        <center><<h3>Pedidos</h3></center>
                        <img class="img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/512/Order-history-icon.png" style=" width:200px; height:200px;" />

                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        Articulo
                                    </td>
                                    <td>
                                        Cantidad
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tbPedidos"></tbody>

                        </table>

                    </div>

                </div>
                <hr />
                <div class="row" >

                    <div class="col-md-3">
                        <center><<h3>Recepciones</h3></center>
                        <img class="img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/512/Packing-1-icon.png" style=" width:200px; height:200px;" />

                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        Articulo
                                    </td>
                                    <td>
                                        Cantidad
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tbRecepciones"></tbody>

                        </table>

                    </div>

                </div>

                <hr />
                <div class="row">

                    <div class="col-md-3">
                        <center><<h3>Salidas a distribuidores</h3></center>
                        <img class="img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/512/Packing-1-icon.png" style=" width:200px; height:200px;" />

                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        Distribuidor
                                    </td>
                                    <td>
                                        Almacen
                                    </td>
                                    <td>
                                        Articulo
                                    </td>
                                    <td>
                                        Cantidad
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tbSalidas"></tbody>

                        </table>

                    </div>

                </div>
                <hr />

                <div class="row">

                    <div class="col-md-3">
                        <center><<h3>Recepcion devolucion distribuidores</h3></center>
                        <img class="img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/512/Packing-1-icon.png" style=" width:200px; height:200px;" />

                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        Distribuidor
                                    </td>
                                    <td>
                                        Almacen
                                    </td>
                                    <td>
                                        Articulo
                                    </td>
                                    <td>
                                        Cantidad
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tbDevol"></tbody>

                        </table>

                    </div>

                </div>
                <div class="row">

                    <div class="col-md-3">
                        <center><<h3>habilitaciones de equipos</h3></center>
                        <img class="img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/512/Packing-1-icon.png" style=" width:200px; height:200px;" />

                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                   
                                    <td>
                                        Almacen
                                    </td>
                                    <td>
                                        Articulo
                                    </td>
                                    <td>
                                        Cantidad
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tbHabilitados"></tbody>

                        </table>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <center><<h3>baja de equipos</h3></center>
                        <img class="img-responsive" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-5/512/Packing-1-icon.png" style=" width:200px; height:200px;" />

                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <td>
                                        Almacen
                                    </td>
                                    <td>
                                        Articulo
                                    </td>
                                    <td>
                                        Cantidad
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tbBaja"></tbody>

                        </table>

                    </div>

                </div>


            </div>
                





            </div>
    </div>
</div>
