﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}






<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Configuración</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Utilerias</a></small>
        </header>
        <div class="tools">
          


        </div>
    </div>

    <div class="box-content">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Parámetros</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab">Colores</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab">Logotipos</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active fade in" id="tab_1">
            </div>
            <div class="tab-pane active fade in" id="tab_2">
            </div>
            <div class="tab-pane active fade in" id="tab_3">
            </div>
        </div>

    </div>
</div>



<div id="edita" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>Nombre</label><br />
                                <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">

        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de eliminar este Artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-danger" id="eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="/Content/pags/articulo.js"></script>
<script src="/Content/pags/paginacion.js"></script>