﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catTransportista> transportistas = (List<web.Models.catTransportista>)ViewData["transportista"];
    List<web.Models.catEstatus> estatus = (List<web.Models.catEstatus>)ViewData["estatus"];
    List<web.Models.catTipoProceso> tipoprocesos = (List<web.Models.catTipoProceso>)ViewData["tipoprocesos"];
    List<web.Models.catEstatus> estatuspro = (List<web.Models.catEstatus>)ViewData["estatuspro"];


    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();




}

<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {

                @Html.Raw(@"
                  .recdevdist{ display:none !important;}

               ")
           @Html.Raw(@"
                  .recprov{ display:none !important;}

               ")
            @Html.Raw(@"
                  .recdevdistaccesorios{ display:none !important;}

               ")



                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {


            }
            else
            {


                 @Html.Raw(@"
                   .edit{ display:none !important;}

               ")

            @Html.Raw(@"
                   .envio{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {

                 @Html.Raw(@"
                   .cancel{ display:none !important;}

               ")

           }

        }


    }


</style>

<div class="card" >
    <input type="hidden" id="dev_opc" value="@Request.Params["opcion"]">
    <select class="hidden" id="tmp_estatus">
        <option value="">Estatus</option>
        @foreach (web.Models.catEstatus e in estatus)
        {
            <option value="@e.catEstatusClave">@e.Nombre</option>
        }
    </select>

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">

                @if (Request.Params["opcion"] == "1")
                {
                    @Html.Raw("Devolución de equipos al Almacén Central")
                }
                else if (Request.Params["opcion"] == "2")
                {
                    @Html.Raw("Recepción de devoluciones distribuidor")
                }
                else if (Request.Params["opcion"] == "3")
                {
                    @Html.Raw("Equipos a revisión")
                }
                else if (Request.Params["opcion"] == "4")
                {
                    @Html.Raw("Reparación y garantías")
                }

            </strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Seguridad</a></small>
        </header>
        <div class="tools">
          @if (Request.Params["opcion"] != "2")
            {
            <button type="button" class="btn ink-reaction btn-flat btn-info" id="add"></button>
          }


        @if (Request.Params["opcion"] == "3")
        {

            <button type="button" class="btn  ink-reaction btn-flat btn-info" id="baja"></button>
        }


        </div>
    </div>

    <div class="card-body">
        <div class="form-group">
            <form id="formbusca" action="#" method="post">
                @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null && Request.Params["opcion"] == "2")
            {
                    <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="busca_distribuidor">
                        <option value="">Distribuidor (Todos)</option>
                        @foreach (web.Models.catDistribuidor d in distribuidores)
                        {
                            <option value="@d.catDistribuidorClave">@d.Nombre</option>
                        }
                    </select>
                }
                @if (Request.Params["opcion"] == "1" || Request.Params["opcion"] == "2")
            {
                    <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="busca_almacen">
                        <option value="">Almacén Origen (Todos)</option>
                        @foreach (web.Models.Entidad a in almacenes)
                        {
                            <option value="@a.EntidadClave" data-dist="@a.catDistribuidorClave">@a.Nombre</option>
                        }
                    </select>
                }
                @if (Request.Params["opcion"] == "4")
            {
                    <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="busca_proveedor">
                        <option value="">Proveedor (Todos)</option>
                        @foreach (web.Models.catProveedor p in proveedores)
                        {
                            <option value="@p.catProveedorClave">@p.Nombre</option>
                        }
                    </select>
                    <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="busca_estatus">
                        <option value="">Estatus (Todos)</option>
                        @foreach (web.Models.catEstatus e in estatuspro)
                        {
                            <option value="@e.catEstatusClave">@e.Nombre.Replace("autorizar", "Enviar").Replace("Autorizado (Por Surtir)", "Enviado (Por Recibir)")</option>
                        }
                    </select>
                }
                @if (Request.Params["opcion"] == "3")
            {
                    <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="busca_tpopro">
                        <option value="">Tipo Proceso (Todos)</option>
                        @foreach (web.Models.catTipoProceso tp in tipoprocesos)
                        {
                            <option value="@tp.catTipoProcesoClave">@tp.Nombre</option>
                        }
                    </select>
                }
                <button type="button" class="btn btn-info btn-sm ink-reaction" id="buscar"><i class="fa fa-search"></i> Buscar</button>
            </form>
        </div>


        <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="datos">
            <thead>
                <tr>
                    <th># Proceso</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                    <th id="encabezado"></th>
                    <th>Opciones</th>
                </tr>

            </thead>

            <tfoot>
                <tr>
                    <th># Proceso</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                    <th id="pie"></th>
                    <th>Opciones</th>
                </tr>

            </tfoot>
        </table>

    </div>
    
</div>

























<div id="AddDevEqu" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmAddDevEqu" action="#" method="post">
        <div class="modal-backdrop fade in" style="height:1090px;"></div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinpagare" class="modal-title">Crear Devolución de Equipo</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label>Tipo de Devolución</label>
                        <select class="form-control" style="width:150px;" id="ADE_tpodev">
                            <option value="-1">--</option>
                            <option value="1">Recuperación</option>
                            <option value="2">Equipo Dañado</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label id="lblBusqueda."># Serie</label>
                        <input type="text" id="ADE_serie" class="form-control">
                        <br clear="all">
                    </div>
                    <table class="table table-hover-color" id="ADE_detalle">
                        <thead>
                            <tr>
                                <th>Serie</th>
                                <th>Articulo</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <br clear="all">
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="submit" class="btn btn-success btn-sm" id="guardaADE">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="AddDevEqAlmCtr" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmADEAC" action="#" method="post">
        <div class="modal-backdrop fade in" style="height:1019px;"></div>
        <input type="hidden" value="" id="art_id" name="del_id" />
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="AddDEAC-titulo" class="modal-title">Crear devolución al Almacén Central</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @if (Request.Params["opcion"] == "4"|| Request.Params["opcion"] == "3")
                        {
                            <div class="col-md-6">
                                <label>Almacén</label>
                                <select id="ed_almacen" name="ed_almacen" class="form-control validate[required]">
                                    <option value="">Selecciona</option>
                                    @foreach (web.Models.Entidad e in almacenes)
                                    {
                                        <option value="@e.EntidadClave">@e.Nombre</option>
                                    }
                                </select>
                            </div>
                        }
                        @if (Request.Params["opcion"] == "4")
                        {
                            <div class="col-md-6">
                                <label>Proveedor</label>
                                <select id="ed_proveedor" name="ed_proveedor" class="form-control validate[required]">
                                    <option value="">Selecciona</option>
                                    @foreach (web.Models.catProveedor p in proveedores)
                                    {
                                        <option value="@p.catProveedorClave">@p.Nombre</option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="col-md-6">
                            <label>Clasificación</label>
                            <br />
                            <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                                <option value="">Selecciona</option>
                                @foreach (web.Models.catClasificacionArticulo c in clasificaciones)
                                {
                                    <option value="@c.catClasificacionArticuloClave">@c.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Tipo de Artículo</label>
                            <br />
                            <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                                <option value="">Selecciona</option>
                                @foreach (web.Models.catTipoArticulo ta in tiposarticulo)
                                {
                                    <option value="@ta.catTipoArticuloClave" data-cla="@ta.catClasificacionArticuloClave" data-pagaré="@Convert.ToInt32(ta.EsPagare)" class="optiontipo">@ta.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Artículo</label>
                            <br />
                            <select id="ed_articulo" name="ed_articulo" class="form-control validate[required]">
                                <option value="">Selecciona</option>
                            </select>
                        </div>
                        <div class="col-md-12" id="busquedaseries">
                            <label id="lblBusqueda1"># Serie</label>
                            <br />
                            <input type="text" id="ADEAC_serie" class="form-control">
                        </div>
                        <div class="col-md-12" style="max-height:250px; overflow-y:scroll;" id="tablaseries">
                            <table class="table table-hover-color" id="ADEAC_detalle">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-md-12">

                            <table class="table table-hover-color" id="Detalle_devolucion_aparatos" style="display:none">
                                <thead>
                                    <tr>
                                        <td>
                                            Nombre artículo
                                        </td>
                                        <td>
                                            Cantidad en revisión
                                        </td>
                                        <td>
                                            Cantidad de devolución
                                        </td>
                                    </tr>

                                </thead>
                                <tbody id="taparatosdev"></tbody>
                            </table>
                            <input type="hidden" id="Accesorio" />
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                    <button type="button" class="btn btn-info btn-sm" style="display:none" id="crear_dev_accesorios">Realizar devolución</button>
                    <button type="button" class="btn btn-info btn-sm" style="display:none" id="editar_dev_accesorios">Editar devolución</button>
                    <button type="button" class="btn btn-info btn-sm" style="display:none" id="crear_orden_accesorios">Rehabilitar accesorios</button>
                    <button type="button" class="btn btn-info btn-sm" style="display:none" id="crear_orden_baja_accesorios">Dar de baja accesorios</button>
                    <button type="button" class="btn btn-info btn-sm" id="crear">Crear</button>
                    <button type="button" class="btn btn-info btn-sm" id="crear_orden_reparacion_accesorios">Crear orden de garantía</button>

                </div>
            </div>
        </div>
    </form>
</div>


<div id="Recepcion_dev_acc" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-backdrop fade in" style="height:1019px;"></div>
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowindistribuidor" class="modal-title">Recepción devolución accesorios</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Almacén</th>
                            <th>Artículo</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody id="tabla_accesorios_devolucion"></tbody>
                    <tfoot>

                    </tfoot>
                </table>




            </div>



            <div class="modal-footer ">
                <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                <button type="button" class="btn btn-success btn-sm" id="GuardaRecepcionAccesorios">Guardar</button>
            </div>
        </div>
    </div>

</div>

<div id="Recepcion_dev_prov" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-backdrop fade in" style="height:1019px;"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowindistribuidor" class="modal-title">Recepción orden reparación y garantía de accesorios</h4>
            </div>
            <div class="form-group">
                <br clear="all" />
                <table class="table table-hover-color">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Artículo</th>
                            <th>Cantidad enviada</th>
                            <th>Cantidad recibida</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_rec_prov"></tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
            <div class="modal-footer ">
                <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                <button type="button" class="btn btn-success btn-sm" id="GuardaRecepcionAccesorios_proveedor">Guardar</button>
            </div>
        </div>
    </div>

</div>



<div id="editadistribuidor" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditadistribuidor" action="#" method="post">
        <div class="modal-backdrop fade in" style="height:1019px;"></div>
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindistribuidor" class="modal-title">Recepción pedido</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-hover-color" id="articulostabledistribuidor">
                        <thead>
                            <tr>
                                <th>Artículo</th>
                                <th>C. Devuelta</th>
                                <th>C. Recibida</th>
                                <th>C. Pendiente</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" id="paginadordistribuidor"></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>


                <div class="modal-footer hide" id="botonesdistribuidor">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cancelar</button>
                    <button type="button" class="btn btn-success btn-sm" id="guardaRec">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("_ProcesoEnvio")
@Html.Partial("_DetProdSer")

<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title" id="titulo_ver"></h4>
                </div>
                <div class="modal-body">
                    <iframe src="#" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="cancela" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formacancela" action="#" method="post">
        <input type="hidden" value="" id="cancela_id" name="cancela_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowincancela" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de cancelar esta devolución?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnCancelaraccesorios">Cancelar devolución de accesorios</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="Confirma" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmConfirma" action="#" method="post">
        <input type="hidden" value="" id="confirma_id" name="confirma_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                    <button type="button" class="btn btn-success btn-sm" id="btnOkConfirm">Aceptar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/Content/pags/Utils.js"></script>
<script src="/Content/pags/paginacion.js"></script>
<script src="/Content/pags/devolucion.js"></script>