﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];
    List<web.Models.catUbicacion> ubicaciones = (List<web.Models.catUbicacion>)ViewData["ubicaciones"];
    List<web.Models.catUnidad> unidades = (List<web.Models.catUnidad>)ViewData["unidades"];
    List<web.Models.Entidad> tecnicos = (List<web.Models.Entidad>)ViewData["tecnicos"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catTipoSalida> tipossalida = (List<web.Models.catTipoSalida>)ViewData["tipossalida"];
    List<web.Models.Usuario> usuarios = (List<web.Models.Usuario>)ViewData["usuarios"];
    List<web.Models.Proceso> salidaspendientes = (List<web.Models.Proceso>)ViewData["salidaspendientes"];
    List<web.Models.catTransportista> transportistas = (List<web.Models.catTransportista>)ViewData["transportistas"];



    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();



}


<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   .recepciondistr{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {

            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {

           }

        }


    }


</style>

<div class="card" style="padding:30px;">

    <div class="card-head" style="">
        <header>
            <div class="alert alert-callout alert-success" role="alert">
                <strong style="font-weight:bold; border:none;">Recepción de material </strong>
                <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
            </div>

        </header>
        <div class="tools">

        </div>
    </div>



    <div class="form-group">
        <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="busca_estatus">
            <option value="">Estatus</option>
            <option value="1">Por Recibir</option>
            <option value="3">Parcial</option>
            <option value="4">Completo</option>
        </select>
        <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="busca_almacen">
            <option value="">Almacén (Todos)</option>
            @foreach (web.Models.Entidad a in almacenes)
            {
                <option value="@a.EntidadClave" data-dist="@a.catDistribuidorClave">@a.Nombre</option>
            }
        </select>

        @*<input type="text" placeholder="# de Salida" class="form-control" style="width:250px;float:left" id="abuscar" />
            <button type="button" class="btn btn-default" id="buscar">Buscar</button>*@
    </div>
    <br>

    <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>

    <table class="table" id="datos">
        <thead>
            <tr>
                <th># Salida</th>
                <th># Orden de Compra</th>
                <th>Fecha</th>
                <th>Estatus</th>
                <th>Almacen</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>






<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <ul id="myTab5" class="nav nav-tabs">
                        <li class="active"><a href="#t1" data-toggle="tab">General</a></li>
                        <li><a href="#t2" data-toggle="tab">Productos</a></li>
                        <div id="myTabContent4" class="tab-content">
                            <div id="t1" class="tab-pane fade active in">
                                <div class="form-group">
                                    <br clear="all" />
                                    <div class="col-md-12">
                                        <label>Almacén</label><br />
                                        <select id="ed_almacen" name="ed_almacen" class="form-control validate[required]">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.Entidad enti in almacenes)
                                            {
                                                <option value="@enti.EntidadClave">@enti.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tipo de salida</label><br />
                                        <select id="ed_tiposalida" name="ed_tiposalida" class="form-control validate[required]">
                                            <option value="">Selecciona</option>
                                            @foreach (web.Models.catTipoSalida ts in tipossalida)
                                            {
                                                <option value="@ts.catTipoSalidaClave">@ts.Descripcion</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Técnico</label><br />
                                        <select id="ed_tecnico" name="ed_tecnico" class="form-control validate[required]">
                                            <option value="">Selecciona</option>
                                            @foreach (web.Models.Entidad usu in tecnicos)
                                            {
                                                <option value="@usu.EntidadClave">@usu.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Observaciones</label><br />
                                        <textarea id="ed_observaciones" name="ed_observaciones" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div id="t2" class="tab-pane fade in">
                                <div class="form-group">
                                    <br clear="all" />
                                    <div class="col-md-9"></div>
                                    <div class="col-md-3"><button type="button" class="btn btn-default" id="agregar">Agregar artículo</button></div>
                                    <table class="table table-hover-color" id="articulostable">
                                        <thead>
                                            <tr>
                                                <th>Artículo</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" id="paginador"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="submit" class="btn btn-success  btn-sm">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="articulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaarticulo" action="#" method="post">
        <input type="hidden" value="" id="art_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinarticulo" class="modal-title">Agregar artículo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Clasificacion de material</label><br />
                            <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                                <option value="">Selecciona</option>
                                @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                                {
                                    <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Tipo de Material</label><br />
                            <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                                <option value="">Seleccion</option>
                                @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                                {
                                    <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" class="optiontipo">@tia.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-9">
                            <label>Artículo</label><br />
                            <select id="ed_articulo" name="ed_articulo" class="form-control validate[required]">
                                <option value="">Seleccion</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Cantidad</label><br />
                            <input type="text" id="ed_cantidad" name="ed_cantidad" class="form-control validate[required,custom[integer]]">
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                    <button type="button" class="btn btn-info btn-sm" id="agregararticulo">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">
        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de eliminar este artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="submit" class="btn btn-danger btn-sm" id="eliminar">Sí, deseo eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="recepdetalle" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formasalidasdetalle" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulosalidasdetalle" class="modal-title">Detalle recepciones</h4>
                </div>
                <div class="modal-body">
                    <table class="table" id="lassalidas">
                        <thead>
                            <tr>
                                <th>Proceso</th>
                                <th>Fecha</th>
                                <th>Estatus</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="editadistribuidor" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditadistribuidor" action="#" method="post">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindistribuidor" class="modal-title">Recepción pedido</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <table class="table" id="articulostabledistribuidor">
                            <thead>
                                <tr>
                                    <th>Artículo</th>
                                    <th>C. Solicitada</th>
                                    <th>C. Salida</th>
                                    <th>C. Pendiente</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" id="paginadordistribuidor"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>


                </div>

                <div class="modal-footer hide" id="botonesdistribuidor">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="submit" class="btn btn-success btn-sm" id="guardasalida">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("_DetProdSer")
@Html.Partial("_ProcesoEnvio")

<div id="Confirma" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmConfirma" action="#" method="post">
        <input type="hidden" value="" id="confirma_id" name="confirma_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="button" class="btn btn-success btn-sm" id="btnOkConfirm">Aceptar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="verrecepcion" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade modal-lg">
    <form id="formasalidadetalle" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Recepción de pedido</h4>
                </div>
                <div class="modal-body">
                    <iframe src="#" width="100%" height="400" id="eliframesalida"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade modal-lg">
    <form id="formarecepciondetalle" action="#" method="post">
        <input type="hidden" id="salida_id" name="salida_id" value="" />
        <input type="hidden" id="acepta_rechaza" name="acepta_rechaza" value="" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/Content/pags/Utils.js"></script>
<script src="/Content/pags/recepciondistribuidor.js"></script>
<script src="/Content/pags/recepciondistribuidor-distribuidor.js"></script>
<script src="/Content/pags/paginacion.js"></script>