﻿@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    web.Models.Entidad almacen = (web.Models.Entidad)ViewData["almacen"];
}


<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Inventario para @(almacen.Nombre) </div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Administración</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">

        <div class="content">


            <form action="#" id="forma" name="forma">

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="widget-box">

                            <input type="hidden" id="almacen" name="almacen" value="@Request["a"].ToString()" />


                            <h4 class="caption" id="resultados"></h4>




                            <!--BEGIN LOADING CSS FOR PAGE-->
                            <link type="text/css" rel="stylesheet" href="/Content/assets/plugins/treegrid/css/jquery.treegrid.css">
                            <!--END LOADING CSS FOR PAGE-->
                            <!--BEGIN HTML-->
                            <div class="table-responsive">
                                <table class="tree-projects table table-striped table-condensed mbn" id="datos">
                                    <thead>
                                        <tr>
                                            <th>Inventario en almacén</th>
                                            <th width="20%">En almacen</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!--END HTML-->
                            <!--BEGIN LOADING SCRIPTS FOR PAGE-->
                            <script src="/Content/assets/plugins/treegrid/js/jquery.treegrid.js"></script>
                            <script src="/Content/assets/plugins/treegrid/js/jquery.treegrid.bootstrap3.js"></script>
                            <!--END LOADING SCRIPTS FOR PAGE-->
                            <!--BEGIN JAVASCRIPT-->
                            <script>

                            </script>
                            <!--END JAVASCRIPT-->




                        </div>
                    </div>

                </div>

            </form>




            <script src="/Content/pags/inventario-tecnico.js"></script>
