﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];

    List<web.Models.catPuestoTecnico> puestostecnico = (List<web.Models.catPuestoTecnico>)ViewData["puestostecnico"];

    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();

    
}

<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
               @Html.Raw(@"
                   .cancela{ display:none !important;}

               ")
           }

        }


    }


</style>


<div class="card">


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Técnicos</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button data-toggle='tooltip' data-placement='top' title='' data-original-title='Agrega un nuevo técnico' class="btn btn-block ink-reaction btn-flat btn-info" type="button" id="add"> Nuevo</button>
           
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <p class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i> Filtros:</p>
            </div>
            <div class="col-md-10">
                <label>Distribuidor &nbsp;&nbsp;&nbsp;</label>
                <select class="form-control input-sm" data-style="btn-white" data-width="250px" id="dis" name="dis" style="width:250px">

                    @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                    {

                    }


                    @foreach (web.Models.catDistribuidor dist in distribuidor)
                    {
                        <option value="@dist.catDistribuidorClave">@dist.Nombre</option>
                    }
                </select>



            </div>


        </div>





        <table class="table" id="datos" style="padding-left:10px;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
        </table>







    </div>

    
</div>






















<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

        <input type="hidden" value="" id="ed_id" name="ed_id" />

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Detalle del técnico</h4>
                            <div class="form-group">

                                Distribuidor<br />
                                <select class="form-control" data-style="btn-white" data-width="250px" id="ed_distr" name="ed_distr">
                                    @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                                    {

                                    }

                                    @foreach (web.Models.catDistribuidor dis in distribuidor)
                                    {
                                        <option value="@dis.catDistribuidorClave">@dis.Nombre</option>
                                    }
                                </select>

                                <br clear="all" />

                                Nombre<br />
                                <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">

                                <br clear="all" />

                                Puesto<br />
                                <select class="selectpicker form-control" data-style="btn-white" data-width="250px" id="ed_puesto" name="ed_puesto">
                                    @foreach (web.Models.catPuestoTecnico puesto in puestostecnico)
                                    {
                                        <option value="@puesto.catPuestosTecnicosClave">@puesto.Descripcion</option>
                                    }
                                </select>

                                <br clear="all" />
                                <br />
                                Selecciona estatus<br />
                                <input type="checkbox" name="ed_activa" id="ed_activa" />   Activo

                            </div>

                        </div>

                        <div class="col-md-6">

                            <h4>Almacenes del Usuario</h4>

                            <div id="almacenes" style=" height:300px; overflow-y scroll;">

                            </div>
                        </div>


                    </div>
                   

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info btn-sm" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>

    var _acciones = true;

    @if (web.Utils.Config.Dame("EDITARELACIONADOS").ToLower() == "no")
    {
        @("_acciones = false;");
    }



</script>
<script src="~/Content/pags/Tecnicos/Lista.js"></script>
