﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    
}
<form id="formbitacora" action="#" method="post">
    <div class="card">

        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px; font-size:16px;">Nueva Bitácora</strong>
                <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
            </header>
            <div class="tools">
                <button class="btn btn-success btn-sm" type="submit" id="btn-guardar"> <i class="fa fa-save"></i> Guardar bitácora</button>
                @Html.ActionLink("Cancelar", "Lista", "BitacoraTecnico", null, new { @class = "btn btn-sm btn-default" })
            </div>
        </div>
        <div class="card-body">

            <div class="row">

                @*<div class="alert alert-info" role="alert">...</div>*@

                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <label> Selecciona Distribuidor: </label>
                            <select class="form-control input-sm validate[required]" id="distribuidor-bitacora" onchange="entidadesDistribuidor()">
                                <option value="">selecciona</option>
                                @foreach (var a in distribuidores)
                                {
                                    <option value="@a.catDistribuidorClave">@a.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label> Almacen: </label>
                            <select class="form-control input-sm validate[required]" id="almacen-bitacora">
                                <option value="">selecciona</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label> Técnico: </label>
                            <select class="form-control input-sm validate[required]" onchange="cambioTecnico();" id="tecnicos-bitacora">
                                <option value="">selecciona</option>
                            </select>
                        </div>


                    </div>

                    <div class="col-md-3">

                        <div class="col-md-12">
                            Numero de Orden
                            <input type="number" class="form-control input-sm" id="numeroOrden" />
                        </div>

                        <div class="col-md-12">
                            Contrato
                            <input type="text" class="form-control input-sm" id="contrato" />
                        </div>

                        <div class="col-md-12">
                            Fecha
                            <input type="date" class="form-control input-sm validate[required]" id="fecha" />
                        </div>
                      
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">

                <div class="col-md-12">

                    @*<div class="col-md-12">
                            <div class="col-md-4">
                                <div class="alert alert-success" role="alert" id="msj">
                                    Ingresa los articulos para la bitácora
                                </div>

                            </div>
                            <div class="col-md-8 text-right">

                                @*<button class="btn btn-primary btn-sm" type="submit" ><i class="fa fa-save"></i> Guardar artículos</button>
                            </div>
                        </div>*@

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <label>Selecciona articulos disponibles en el inventario del técnico seleccionado</label>
                            <select class="form-control validate[required]" id="articulos-tecnico" onchange="ObtenDetalleArticulo()">
                                <option value="">selecciona</option>
                            </select>
                        </div>

                        <div class="col-md-8" id="seleccionaSeries">
                            <br />
                            <select id="tseries" class="form-control">
                                <option value="">--Selecciona Aparato--</option>
                            </select>
                        </div>
                        <div class="col-md-8" id="seleccionaCantidad">

                            Ingresa Cantidad
                            <input type="number" class="form-control" id="cantidad-articulo" />
                        </div>

                        <div class="col-md-4 text-right">
                            <br />
                            <button class="btn btn-warning btn-sm" type="button" id="guardaAparatos" onclick="guardarAparato()"><i class="fa fa-hand-o-right"></i> Agregar</button>
                            <button class="btn btn-warning btn-sm" type="button" id="guardaAccesorios" onclick="guardarAccesorio()"><i class="fa fa-hand-o-right"></i>Agregar</button>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <table class="table" style="font-size:13px;">
                            <thead>
                            <th>Articulo</th>
                            <th>Cantidad</th>
                            <th>Serie</th>
                            </thead>
                            <tbody id="articulosBitacora"></tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>


    </div>
</form>



<script src="~/Content/pags/BitacoraAlmacen/nuevaBitacora.js"></script>
