﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];

    //
    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();
    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());
    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();
    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();
    List<web.Models.catEntidadTipo> tiposalmacen = (List<web.Models.catEntidadTipo>)ViewData["tipoalmacen"];
    //
}


<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {

            }
            else
            {
                @Html.Raw(@"
             #panelopciones{ display:none !important;}

               ")

            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {


            }
            else
            {

            }

           if (a.Elimina.Value == true)
           {

           }
           else
           {
                  @Html.Raw(@"
                   .del{ display:none !important;}

               ")
           }

        }
    }


</style>



<div class="card">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Recepción traspaso de material</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Traspasos</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">        </div>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <select id="Distribuidor" class="form-control input-sm">
                        @*<option disabled>Selecciona almacenes</option>*@
                        <option selected>Todos los almacenes </option>
                        @foreach (var a in almacenes.OrderBy(x => x.Nombre))
                        {
                            <option value="@a.EntidadClave">@a.Nombre</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Número de orden" class="form-control input-sm" id="orden" />
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info btn-sm" id="buscar"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                </div>
                <div class="col-md-3">
                </div>
            </div>

        </div>

        <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="indice">
            <thead>
                <tr>
                    <td>Orden</td>
                    <td>Fecha</td>
                    <td>Status</td>
                    <td>Almacén destino</td>
                    <td>Almacén origen</td>
                    
                    <td>Detalle de dev.</td>
                    <td>Opciones recepción</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

   
</div>



<div id="AgregaRecepcion" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <form id="formaedita" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinsinpedido" class="modal-title">Recepción de traspaso</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-success" style="background-color: #00BCD4; border-color: #2196F3; color: #ffffff;" role="alert">
                        <strong>¡Atención!</strong> Selecciona los aparatos y la cantidad de artículos que deseas ingresar al almacén
                    </div>
                    <br />

                    <table class="table">
                        <thead>
                            <tr>
                                <td><b style="font-size:12px; text-transform:uppercase">Artículo</b></td>
                                <td><b style="font-size:12px; text-transform:uppercase">Enviada</b></td>
                                <td><b style="font-size:12px; text-transform:uppercase">Pendiente</b></td>
                                <td><b style="font-size:12px; text-transform:uppercase">Recep.</b></td>
                                <td><b style="font-size:12px;text-transform:uppercase">Recibir</b></td>
                            </tr>
                        </thead>
                        <tbody id="drecepcion"></tbody>

                    </table>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default -bright btn-sm">Cancelar</button>
                    <button type="button" id="guardaTraspaso" class="btn  btn-success btn-sm"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> Guardar </button>
                  
                    <button type="button" class="btn btn-info" id="guardaAccesorios" style="display:none;">Guarda</button>
                      <!-- Danger button with label -->
                    
                </div>
            </div>
        </div>
    </form>

</div>






<div id="AgregaArticulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Selecciona artículos</h4>
            </div>
            <div class="modal-body">
                @*cantidad <input type="text" class="form-control input-sm " id="cantidad" />*@
                <table class="table" id="datos" style="width:100%;">
                    <thead>
                        <tr>
                            <td>selección</td>
                            <td>Serie</td>


                        </tr>
                    </thead>
                    <tbody id="tseries"></tbody>

                </table>

                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                <button type="button" class="btn btn-info" id="guardaAccesorios" style="display:none;">Guarda</button>
            </div>
        </div>
    </div>

</div>

<div id="Detalle" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Recepciones</h4>
            </div>
            <div class="modal-body" style="overflow-y:scroll; max-height:500px;">
                <ul class="list divider-full-bleed" id="listaRecepciones"></ul>


                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-xs">Cancelar</button>


                <!-- Danger button with label -->



            </div>
        </div>
    </div>

</div>






<script src="http://neue.cc/linq.min.js"></script>
<script src="~/Content/pags/RecepcionTraspaso/Lista.js"></script>
<script src="~/Content/pags/RecepcionTraspaso/DetalleRecepcion.js"></script>
<script src="~/Content/pags/RecepcionTraspaso/Aparatos.js"></script>
<script src="~/Content/pags/RecepcionTraspaso/GuardaRecepcion.js"></script>