﻿@{
    ViewBag.Title = "Estatica";
    string logo = web.Utils.Config.Dame("LOGO_ENTRADA");
}
<link type="text/css" rel="stylesheet" href="/Content/global/plugins/font-awesome/css/font-awesome.min.css">
<body >
  
  <center>
    <br />
    <br />
    <br />
      <h1 style="font-family:Arial;">Módulo Reportes</h1>
    <img src="~/Content/media/@logo">
    
  
  </center> 
</body>
