﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
}
<link type="text/css" rel="stylesheet" href="~/Content/assets/css/reportes.css">


<div class="card" style="padding:20px;">
    <div class="content">
        <div class="row">
            <div class="card-head" align="left">
                <header>
                    <div class="alert alert-callout alert-danger" role="alert">
                        <strong style="font-weight:bold; border:none;">Reporte de vehículos</strong>
                        <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a></small>
                    </div>
                </header>
            </div>
        </div>

        <form id="formulario" class="form-inline" action="#" method="post" style="padding:0px; padding-top:7px; vertical-align: top;">
            <div class="row">
                <div class="col-sm-12" align="left">
                    <label for="bdistrib" style="padding-left:10px; font-weight:bold;"> Selecciona distribuidor:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" align="left">
                    <div class='input-group date datepicker-default' id='datepicker1'>
                        <select id="bdistrib" class="form-control form-control input-sm">
                            <option value="0">Todos los distribuidores</option>
                            @foreach (var a in distribuidor.OrderBy(x => x.Nombre))
                            {
                                <option value="@a.catDistribuidorClave">@a.Nombre</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn ink-reaction btn-floating-action btn-xs btn-danger" data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar PDF'>
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

















@*<div id="headerFlotante" class="header-float" style="width:100%; height:35px; background-color:turquoise">
        <h4 style="font-weight:bold; color:white">Reporte de vehículos</h4>
    </div>

    <div class="card">

        <form id="formulario" class="form-inline" action="#" method="post" align="left"
              style="padding:0px; padding-top:7px; vertical-align: top;">



            <input type="checkbox"> Asegurados
        </form>

        <div style='width:100%; height:670px; padding:0px;' class='embed-responsive' id="reporteDiv">
            @*<iframe src="/ReporteVehiculos/Estatica/" width="700" height="400" frameborder="0" id="eliframe"></iframe>*@
@*<iframe src="/ReporteVehiculos/Estatica/" frameborder="0" id="eliframe" style="width:100%; height:100%; overflow:hidden;padding:0px;" class="iframe" scrolling="no"></iframe>
    </div>*@
@*</div>*@








<script src="~/Content/pags/vehiculos/ReporteVehiculos.js"></script>
