﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();

    
}
<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {

           }

        }


    }


</style>



<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Tipos de salida</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button class="btn btn-block ink-reaction btn-flat btn-info"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Agrega un nuevo tipo de salida"
                    type="button" id="add">
                Nuevo
            </button>


        </div>
    </div>


   <div class="card-body">
       <table class="table" id="datos" style="padding-left:10px;">
           <thead>
               <tr>

                   <th>Nombre</th>
                   <th>Activo</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody></tbody>
           <tfoot>
               <tr>

                   <th>Nombre</th>
                   <th>Activo</th>
                   <th>Acciones</th>
               </tr>
           </tfoot>
       </table>
          </div>



    

</div>








<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>Nombre</label><br />
                                <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
                            </div>
                            <div class="col-md-4">
                                <label>Activar</label><br />
                                <input type="checkbox" name="ed_activa" id="ed_activa" />
                            </div>
                        </div>
                    </div>
                    
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info btn-sm" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/Content/pags/TiposSalida/Lista.js"></script>
