﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.Entidad> subalmacenes = (List<web.Models.Entidad>)ViewData["subalmacenes"];
    List<web.Models.catTransportista> transportistas = (List<web.Models.catTransportista>)ViewData["transportistas"];
    
    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();
    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();
    List<web.Models.catEntidadTipo> tiposalmacen = (List<web.Models.catEntidadTipo>)ViewData["tipoalmacen"];
      
    
}



<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {

            }
            else
            {
                @Html.Raw(@"
             #add{ display:none !important;}

               ")

            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {


            }
            else
            {
              @Html.Raw(@"
             #editar{ display:none !important;}

               ")
            }

           if (a.Elimina.Value == true)
           {

           }
           else
           {
                  @Html.Raw(@"
              #cancelar{ display:none !important;}

               ")
           }

        }


    }


</style>

<div class="card" >
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Devolucion SAC</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" id="add">
                    Crear devolución
                </button>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding:30px;">
        <div class="row">
            <div class="col-md-2">
                <p class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i> Filtros:</p>
            </div>
            <div class="col-md-10">
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control input-sm" id="falmacen">
                            <option selected disabled>filtrar por almacén </option>
                            @{
                                foreach (var a in almacenes.OrderBy(x => x.Nombre))
                                {
                                    <option value="@a.EntidadClave">@a.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" placeholder="Buscar por orden" class="form-control input-sm" id="ord" />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-sm" style="float:left;" id="buscar"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="indice">
            <thead>
                <tr>
                    <td>Orden</td>
                    <td>Fecha</td>
                    <td>Status</td>
                    <td>Almacén de origen</td>
                    <td>Almacén destino</td>
                    <td>Detalles</td>
                    <td>Envio</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
   
</div>


<div id="AgregaDevolucion" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Crear Devolución </h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-bars" aria-hidden="true"></i> Detalle de devolución</a></li>
                    <li><a data-toggle="tab" href="#menu1"><i class="fa fa-cube" aria-hidden="true"></i> Artículos</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <br />
                        <div class="col-md-12">
                            <div class="col-md-6">
                                Selecciona almacén
                                <select class="form-control" id="almacen">
                                    @{
                                        foreach (var a in almacenes.OrderBy(x => x.Nombre))
                                        {
                                            <option value="@a.EntidadClave">@a.Nombre</option>
                                        }
                                    }
                                </select>


                            </div>
                            <div class="col-md-6">
                                Status de material
                                <select class="form-control" id="status" onchange="CambioStatus();">
                                    <option value="9"> Revisión</option>
                                    
                                </select>
                            </div>
                           
                            <div class="col-md-12">
                                Motivo de la devolución
                                <textarea class="form-control" id="motivo"></textarea>
                            </div>
                        </div>



                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <br />
                        <button class="btn ink-reaction btn-flat btn-info btn-sm" id="addArticulo">Agregar artículo</button>
                        <hr />
                        <center><label class="label label-warning" id="msn-detalle" style="background-color:#de8c13; border-radius:5px; font-size:12px;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> La orden aún no cuenta con artículos </label></center>

                        <table class="table table-hover-color" id="tablaresumen" style="display:none;">
                            <thead>
                                <tr>
                                    <td style="font-size:14px;"><b>Artículo</b></td>
                                    <td style="font-size:14px;"><b>Cantidad en devolución</b></td>
                                    <td style="font-size:14px;"><b>Opciones</b></td>
                                </tr>
                            </thead>
                            <tbody id="contenidoresumen"></tbody>
                        </table>
                    </div>
                </div>
                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cancelar</button>
                <button type="button" id="guardaDevolucion" class="btn  btn-success btn-sm"><span class="btn-label"></i></span> Guardar</button>
                <button type="button" id="EditaDevolucion" class="btn btn-success btn-sm"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> Editar</button>
            </div>
        </div>
    </div>
</div>




<div id="AgregaArticulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <div class="modal-backdrop fade in" style="height: 2019px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Agregar artículo </h4>
            </div>
            <div class="modal-body">
                <div id="seleccion">
                    <div class="form-group" style="margin-bottom:10px;">
                        <div class="col-md-6">
                            Clasificación de material
                            <select class="form-control" id="clasificacion">
                                <option selected disabled value="0">Selecciona</option>
                                @{
                                    foreach (var b in clasificaciones)
                                    {
                                        <option value="@b.catClasificacionArticuloClave">@b.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            Tipo de material
                            <select class="form-control" id="tipomat">
                                <option selected>Selecciona</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <p>Artículo</p>
                            <select class="form-control" id="articulo" onchange="DetalleArticulo(this.options[this.selectedIndex].getAttribute('rel'))">
                                <option value="">Selecciona</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <p>En almacén</p>
                            <input type="text" class="form-control" id="enalmacen" readonly />
                        </div>
                        <div class="col-md-2" id="colcantant">
                            <p>Cantidad anterior</p>
                            <input type="number" class="form-control" id="cantidad_anterior" readonly />
                        </div>
                        <div class="col-md-2">
                            <p id="label-cantidad">Cantidad</p>
                            <input type="number" class="form-control" id="cantidad" />
                            <input type="hidden" id="InventarioClave" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" id="PanelSeleccionSeries" style="display:none">

                        <div class="col-md-12">
                            <br />
                            <input type="text" class="form-control input-sm" placeholder="Ingresa la serie/mac del aparato" id="serie" />
                        </div>
                    </div>
                    <div id="panelbusqueda_series" style="display:block;">

                        <table class="table" id="datos" style="width:100%;">
                            <thead>
                                <tr>
                                    <td>selección</td>
                                    <td>Serie</td>
                                    <td>Estatus</td>

                                </tr>
                            </thead>
                            <tbody id="tseries"></tbody>
                        </table>
                    </div>

                </div>-<!--div seleccion-->

                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                <button type="button" class="btn btn-success btn-sm" id="guardaAccesorios" style="display:none;">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="edProcesoEnvio" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmProcesoEnvio" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="_ProcesoEnvio-Titulo" class="modal-title">Datos de envío</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-8">
                        <div class="col-md-8">
                            <label>Transportista</label>
                            <select class="form-control validate[required]" style="width:200px;" id="edPE_transportista">
                                <option value="">Seleccione...</option>
                                @foreach (web.Models.catTransportista t in transportistas)
                                {
                                    <option value="@t.catTranspClave" rel="@t.URLSeguimiento">@t.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-8">
                            <label>Guía</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control validate[required]" id="edPE_guia" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default-bright info-envio"><i class="fa fa-search"></i></button>
                        </div>
                        <br />
                        <div class="col-md-8">
                            <label>Fecha de Envío (DD/MM/AAAA)</label>
                            <input id="edPE_fecha" name="edPE_fecha" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text" />
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="devEnv" />
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm" id="btn_cerrar">Cerrar</button>
                    <button type="button" class="btn btn-info btn-sm" id="btn_PEguardar">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="DetalleEnvio" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmProcesoEnvio" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="_ProcesoEnvio-Titulo" class="modal-title">Detalle de envío</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tbody id="tbdet"></tbody>

                    </table>


                    <br clear="all" />
                </div>
            </div>
        </div>
    </form>
</div>


<script src="~/Content/pags/DevolucionGeneral/funciones.js"></script>
<script src="~/Content/pags/Utils.js"></script>
<script src="http://neue.cc/linq.min.js"></script>
<script src="~/Content/pags/Devolucion SAC/Lista.js"></script>
<script src="~/Content/pags/Devolucion SAC/Guarda.js"></script>
<script src="~/Content/pags/Devolucion SAC/AgregaDevolucion.js"></script>
<script src="~/Content/pags/Devolucion SAC/Controles.js"></script>
<script src="~/Content/pags/Devolucion SAC/Edita.js"></script>