﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.Entidad> alm = (List<web.Models.Entidad>)ViewData["almacenes"];
    string url = Request.RawUrl.ToString();
    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());
    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();
    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();
}

<style>
      @{ foreach (var a in Permisos_usuario)
          {
              if (a.Agrega.Value == true)
              {


              }
              else
              {
                 @Html.Raw(@"
                   #recibir{ display:none !important;}

               ")
                  }
              }
          }
</style>


<div class="card">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            
                <strong style="font-weight:bold; border:none; margin-left:10px;">Recepción de devolución SAC</strong>
                <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
           
        </header>
        <div class="tools">
        </div>
    </div>
    <div class="card-body" style="padding:30px;">
        <div class="row">
            
            <div class=" form-inline">
                <select id="almacen" class="form-control input-sm">
                    <option >Selecciona almacen</option>
                    @foreach (var a in alm.OrderBy(x => x.Nombre))
                    {
                        <option value="@a.EntidadClave">@a.Nombre</option>
                    }
                </select>
                <input type="text" placeholder="Número de orden" class="form-control input-sm" id="orden" />
                <button class="btn btn-info btn-sm" id="buscar"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
            </div>
        </div>
        <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="indice">
            <thead>
                <tr>
                    <td>Orden</td>
                    <td>Fecha</td>
                    <td>Status</td>
                    <td>Almacén Origen</td>
                    <td>Almacén Destino</td>
                    <td>Detalle de dev.</td>
                    <td>Opciones recepción</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
   
</div>

<div id="DetalleDevolucion" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content  ">
            <div class="modal-header ">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Detalle devolución </h4>
            </div>
            <div class="modal-body">
             
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="tabladetalle">
                            <thead>
                                <tr>
                                    <td style="font-size:14px;"><b>Artículo</b></td>
                                    <td style="font-size:14px;"><b># devolución</b></td>
                                    <td style="font-size:14px;"><b>Series/Piezas</b></td>
                                </tr>
                            </thead>
                            <tbody id="contenidoresumen"></tbody>
                        </table>

                    </div>

                    <div class="col-md-12" style="max-height:300px;overflow-y:scroll; ">
                        <ul class="list divider-full-bleed" id="listaaparatos">
                            
                           
                        </ul>

                    </div>
                </div>

                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                <input type="hidden" id="iddev" />
                <button type="button" class="btn btn-info btn-sm" id="guardaRecepcion">Guarda Recepción</button>
            </div>
        </div>
    </div>

</div>


<script src="~/Content/pags/RecepcionSAC/Lista.js"></script>
<script src="~/Content/pags/RecepcionSAC/Funciones.js"></script>