﻿@{
     Layout = "~/Views/Shared/_Plantilla.cshtml";   
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catSerie> catseries = (List<web.Models.catSerie>)ViewData["catseries"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
}

<div class="card">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Cambios de Estatus A Equipos</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Administración de equipos</a></small>
        </header>
        <div class="tools">          
            <button class="btn btn-sm ink-reaction btn-flat btn-info" onclick="cambiostatus()" >Cambio de  Status</button>
        </div>
    </div>

    <div class="card-body" style="min-height:400px;">
        <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <div class="col-md-12">
            <div class="col-md-4">
                <select class="form-control input-sm" id="bproceso" onchange="buscaproceso();">
                    @*<option value="19">Orden de corrección de serie</option>*@
                    <option value="20">Orden de corrección de status</option>

                </select>
            </div>
            <div class="col-md-2">
          
            <input type="text" class="form-control input-sm" id="orden" placeholder="Buscar #orden" /></div>
            <div class="col-md-2">
            
            <button class="btn btn-sm btn-info" id="borden" onclick="buscaproceso();"><i class="fa fa-search"></i> Buscar</button></div>
        </div>
        <table class="table" id="indice">
            <thead>
                <tr>
                    <td># orden</td>
                    <td>Fecha</td>
                    <td>Usuario</td>
                    <td>Tipo</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
</div>


<div id="ModalcambioStatus" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4  class="modal-title"> <i class="md md-wb-incandescent" style="color:#ff9800"></i> Cambio de status</h4>
            </div>
            <div class="modal-body">
               
                <div class="row">
                    <p>La correcíon de estatus permite modificar el estatus de un equipo que se encuentra con un status equivocado</p>
                    <div class="col-md-6">
                        <input class="form-control validate[required]" id="seriestatus" placeholder="INGRESA LA SERIE CON STATUS  ERRONEO" />
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success btn-sm " onclick="validarSerie();">Revisar aparato</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 text-center" id="resultado3">
                        <h3>Cambio de estatus</h3><br />
                        <i class="md md-wb-incandescent" style="font-size:100px; color:#ff9800"></i>
                    </div>
                    <div class="col-md-6 text-center">
                        <br />
                        <p>Selecciona a que estatus deseas cambiar el aparato:</p>
                        <select id="estatusserie" class="form-control" style="display:none;">
                            <option value="9">Revisión</option>
                            <option value="10">Dañado</option>
                            <option value="20">Robado</option>
                            <option value="21">Usado</option>
                        </select>

                        
                    </div>

                </div>


                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" style="display:none;" id="cambiarstatus">Cambiar status</button>
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                    Cerrar
                </button>

            </div>
        </div>
    </div>
</div>



<div id="ModalcambioSerie" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 class="modal-title"> <i class="md md-wb-incandescent" style="color:#ff9800"></i> Cambio de serie</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p>La correcíon de series permite modificar una serie ingresada erroneamente  al sistema por una correcta, coloca la serie incorrecta para continuar</p>
                    <div class="col-md-6">
                        <input class="form-control validate[required]" id="serieError" placeholder="INGRESA LA SERIE CON ERRONEA" />
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success btn-sm " onclick="validar();">Validar</button>
                    </div>
                  </div>
                <hr />
                <div class="row">
                    <div class="col-md-6 text-center" id="resultado2">
                        <h3>Cambio de serie</h3><br />
                        <i class="md md-cast-connected" style="font-size:100px; color:#607d8b"></i>
                    </div>
                    <div class="col-md-6">
                        <br />
                
                        
                        <input class="form-control validate[required]" id="serieCorrecta" placeholder="INGRESA LA SERIE CORRECTA" style="display:none;" /><br />


                        <hr />
                        <p class="text-danger"><b>Precaución</b> La modificación de una serie afectara todos los procesos y todos los reportes donde este aparato aparezca</p>

                        
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" style="display:none;" id="cambiar">Cambiar serie</button>
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                    Cerrar
                </button>

            </div>
        </div>
    </div>
</div>


<div id="historialap" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">


    <input type="hidden" value="" id="ed_id" name="ed_id" />
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="titulowin" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Proceso</td>
                            <td>#orden</td>
                            <td>Usuario</td>
                            <td>Fecha</td>
                            <td>Hora</td>
                            <td>Observaciones</td>
                        </tr>
                    </thead>
                    <tbody id="thistorial"></tbody>

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                    Cerrar
                </button>

            </div>
        </div>
    </div>

</div>













<script src="~/Content/pags/Utils.js"></script>
<script src="~/Content/pags/AdministracionAparatos/Administracion.js"></script>

