﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}
<script>

    $(document).ready(function () {

        $('#plazas').hide();
        $('#tecnicos').hide();
        var url5 = '/Auditoria/obtenerdistribuidor/';
        $.ajax({
            url: url5,
            dataType: 'json',
            data: { 'id': 1 },
            type: "POST",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {

                    $("#distribuidores ").append("<option value='" + data[i].catDistribuidorClave + "'>" + data[i].Nombre + "</option>");
                }

                console.log(data);
            },
            error: function (request, error) {
                Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
            }
        });




        $("#distribuidores").change(function () {
            $('#Contenido').show();
            $('#tgeneralDistribuidor').empty();
            $('#tplaza').empty();
            $('#ttecnicos').empty();
            $('#taparatosInstalados').empty();



            var id = $("#distribuidores").val();
            $("#generalaparatospdf").val("");
            $("#generalaparatosexcel").val("");
            $("#generaltecnicosexcel").val("");
            $("#generaltecnicospdf").val("");
            $("#plazapdf").val("");
            $("#plazaexcel").val("");

            $("#recepciones").empty();
            $("#devoluciones").empty();
            $("#pagare").empty();
            $("#pedidos").empty();


            var url = '/Auditoria/DetalleGeneralDistribuidor/';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { 'id': id },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {

                        for (var f = 0; f < data[i].Recepciones.Data.length; f++) {
                            $("#recepciones").append("<tr><td>" + data[i].Recepciones.Data[f].Articulo + "</td><td>" + data[i].Recepciones.Data[f].Cantidad + "</td></tr>");

                        }
                        for (var f = 0; f < data[i].devoluciones.Data.length; f++) {
                            $("#devoluciones").append("<tr><td>" + data[i].devoluciones.Data[f].Articulo + "</td><td>" + data[i].devoluciones.Data[f].Cantidad + "</td></tr>");

                        }

                        for (var f = 0; f < data[i].pagare.length; f++) {
                            $("#pagare").append("<tr><td>" + data[i].pagare[f].articulo + "</td><td>" + data[i].pagare[f].asignada + "</td><td>" + data[i].pagare[f].utilizadas + "</td><td>" + data[i].pagare[f].disponibles + "</td></tr>");

                        }

                        for (var f = 0; f < data[i].pedidos.Data.length; f++) {
                            $("#pedidos").append("<tr><td>" + data[i].pedidos.Data[f].Articulo + "</td><td>" + data[i].pedidos.Data[f].Cantidad + "</td></tr>");

                        }

                    }
                    $("#generalaparatospdf").val(id);
                    $("#generalaparatosexcel").val(id);
                    $("#generaltecnicosexcel").val(id);
                    $("#generaltecnicospdf").val(id);
                    $("#plazapdf").val(id);
                    $("#plazaexcel").val(id);

                    ListaTecnicos();
                    ListaPlazas();
                    ListaInstalados();
                    TraspasoContratos();
                    TraspasoContratosrREC();

                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

        });



        $(".contratos").live('click', function () {
            $('#ModalContratos').modal('show');
            $('#tcontratos').empty();
            var idTraspaso = $(this).attr('rel');
            var plaza = $(this).attr('data-plaza');
            console.log(idTraspaso);
            console.log(plaza);

            var url4 = '/Auditoria/ObtenContratos/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'idTraspaso': idTraspaso, 'plaza': plaza },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    for (var a = 0; a < data.length; a++) {
                        $('#tcontratos').append("<tr>"
                            + "<td><button class='btn btn-default'>" + data[a] + "</button></td>"
                            + "<td><button class='btn btn-info btn-xs apa_contrato'  rel='" + data[a] + "' >Aparatos</button></td></tr>");
                    }


                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

        })

        $(".apa_contrato").live('click', function () {
            $('#ModalContratosApa').modal('show');
            $('#tcontratosApa').empty();
            var contrato = $(this).attr('rel');
            $('#TitleModalContratosApa').empty().append("Aparatos de contrato " + contrato);

            var url4 = '/Auditoria/contrato_aparatos/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'contrato': contrato },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    for (var a = 0; a < data.length; a++) {
                        $('#tcontratosApa').append("<tr><td><button class='btn btn-default btn-xs'>" + data[a].Nombre + "</button></td><td>" + data[a].serie + "</td><td>" + data[a].cantidad + "</td></tr>");
                    }


                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

        })





        function TraspasoContratos() {

            $('#ttraspasos').empty();
            var id = $("#distribuidores").val();
            var url4 = '/Auditoria/Contratos_enviados/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'idDistribuidor': id },
                type: "POST",
                success: function (data) {
                    for (var a = 0; a < data.length; a++) {
                        $('#ttraspasos').append("<tr><td>" + data[a].idTraspaso + "</td><td>" + data[a].Distribuidor + "</td><td>" + data[a].Almacen_enviado + "</td><td>" + data[a].Fecha + "</td><td><button class='btn btn-primary contratos' rel='" + data[a].idTraspaso + "' data-plaza='" + data[a].Plaza_Ant + "'><i class='fa fa-eye' aria-hidden='true'></i> Ver Contratos</button></td></tr>")
                    }


                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
        }


        function TraspasoContratosrREC() {
            $('#ttraspasosrec').empty();
            var id = $("#distribuidores").val();
            var url4 = '/Auditoria/Contratos_recibidos/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'idDistribuidor': id },
                type: "POST",
                success: function (data) {
                    for (var a = 0; a < data.length; a++) {
                        $('#ttraspasosrec').append("<tr><td>" + data[a].idTraspaso + "</td><td>" + data[a].Distribuidor + "</td><td>" + data[a].Almacen_enviado + "</td><td>" + data[a].Fecha + "</td><td><button class='btn btn-primary contratos' rel='" + data[a].idTraspaso + "' data-plaza='" + data[a].Plaza_Nue + "'><i class='fa fa-eye' aria-hidden='true'></i> Ver Contratos</button></td></tr>")
                    }


                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
        }







        function ListaInstalados() {
            var id = $("#distribuidores").val();
            var url4 = '/Auditoria/ListaPlazaInstalados/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': id },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $('#taparatosInstalados').append("<tr>"
                            + "<td style='font-weight:bold; font-size:12px; vertical-align:middle'>" + data[i].NombrePlaza + "</td>"
                            + "<td style='vertical-align:middle' align='center' id='t" + data[i].idPlaza + "'></td>"
                            + "<td style='vertical-align:middle' align='center'>"
                            + "<div class='col-md-6'>"
                            + "<form id='form1' action='/Auditoria/AparatosExcel'><input type='hidden' name='idplaza' id='idplaza' value='"
                            + data[i].idPlaza + "'><button type='submit' id='" + data[i].idPlaza + "' class='btn ink-reaction btn-floating-action btn-xs btn-success'"
                            + " data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar excel'><i class='fa fa-file-excel-o' aria-hidden='true'></i></button></form>"
                            + "</div><div class='col-md-6'>"
                            + "<form id='formulario2' action='/Auditoria/AparatosPDF/'><input type='hidden' name='idplaza' value='"
                            + data[i].idPlaza + "'><button type='submit' id='" + data[i].idPlaza + "' class='btn ink-reaction btn-floating-action btn-xs btn-danger'"
                            + " data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar PDF'><i class='fa fa-file-pdf-o' aria-hidden='true'></i></button></form>"
                            + "</div>"
                            + "</td></tr>");

                        //<i class='fa fa-file-excel-o' aria-hidden='true'></i>
                        //<i class='fa fa-file-pdf-o' aria-hidden='true'></i>

                        for (var f = 0; f < data[i].articulosconserie.length; f++) {
                            $("#t" + data[i].idPlaza + "").append("<button class='btn ink-reaction btn-default-bright btn-xs Aparato' style='white-space: normal' rel='" + data[i].idPlaza + "' id='" + data[i].articulosconserie[f].ArticuloClave + "'>" + data[i].articulosconserie[f].Nombre + "</button>");
                        }
                    }

                    console.log(data);

                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });


        }


        function ListaTecnicos() {
            $('#tecnicos').show();
            var id = $("#distribuidores").val();
            var url4 = '/Auditoria/ListaTecnicos/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': id },
                type: "POST",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ttecnicos').append("<tr><td style='font-weight:bold; font-size:12px; vertical-align:middle'>"
                            + data[i].Nombre + "</td><td style='vertical-align:middle' ><button class='btn ink-reaction btn-default-bright btn-xs TecnicoSalidas' style='white-space:normal;' id='"
                            + data[i].EntidadClave + "' data-target='#ModalTecnicoSalidas'>Salidas por artículo</button></td> <td style='vertical-align:middle'><button class='btn ink-reaction btn-default-bright btn-xs TecnicoDevoluciones'  style='white-space: normal' id='"
                            + data[i].EntidadClave + "' data-target='#ModalTecnicoDevoluciones'>Devoluciones por artículo</button></td> <td style='vertical-align:middle'><button class='btn ink-reaction btn-default-bright btn-xs TecnicoBitacoras'  style='white-space: normal' id='"
                            + data[i].EntidadClave + "' data-target='#ModalTecnicoBitacoras'>Bitácoras por artículo</button></td>   <td style='vertical-align:middle'><button class='btn ink-reaction btn-default-bright btn-xs TecnicoAlmacenes'  style='white-space: normal' id='"
                            + data[i].EntidadClave + "'>Almacenes asignados</button></td><td style='vertical-align:middle'><button class='btn ink-reaction btn-default-bright btn-xs TecnicoInventario' style='white-space: normal' id='"
                            + data[i].EntidadClave + "' data-target='#ModalTecnicoInventario'>Revisar Inventario</button></td>"
                            + "<td style='vertical-align:middle' align='center'>"
                            + "<div class='col-md-6'>"
                            + "<form id='formulario' action='/Auditoria/detalleTecnicoExcel'><input type='hidden' name='idtec' id='idtec' value='" + data[i].EntidadClave
                            + "'><button class='btn ink-reaction btn-floating-action btn-xs btn-success' id='" + data[i].EntidadClave + "' type='submit' "
                            + " data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar excel' ><i class='fa fa-file-excel-o' aria-hidden='true'></i></button></form>"
                            + "</div><div class='col-md-6'>"
                            + " <form id='formulario2' action='/Auditoria/TecnicosPDF'><input type='hidden' name='idtec2' id='idtec2' value='"
                            + data[i].EntidadClave + "'><button type='submit' class='btn ink-reaction btn-floating-action btn-xs btn-danger Pdfportecnico' id='" + data[i].EntidadClave + "'"
                            + " data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar PDF' ><i class='fa fa-file-pdf-o' aria-hidden='true'></i></button></form>"
                            + "</div></td></tr>");

                        //<i class='fa fa-file-excel-o' aria-hidden='true'></i>
                        //<i class='fa fa-file-pdf-o' aria-hidden='true'></i>
                    }

                    console.log(data);

                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

        };

        function ListaPlazas() {
            var id = $("#distribuidores").val();
            var url4 = '/Auditoria/ListaPlazas/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': id },
                type: "POST",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {

                        $('#tplaza').append("<tr><td style='font-weight:bold; font-size:12px;  vertical-align:middle'  align='left'>"
                            + data[i].Nombre + "</td>"
                            + "<td style='vertical-align:middle; white-space: normal' align='center'><button class='btn ink-reaction btn-default-bright btn-xs PlazaRecepciones' id='" + data[i].EntidadClave + "' >Recepciones </button></td>"
                            + "<td style='vertical-align:middle; white-space: normal' align='center'><button class='btn ink-reaction btn-default-bright btn-xs plazaPedidos' id='" + data[i].EntidadClave + "'>Pedidos</button></td>"
                            + "<td style='vertical-align:middle; white-space: normal' align='center'><button class='btn ink-reaction btn-default-bright btn-xs plazaDevoluciones' id='" + data[i].EntidadClave + "'>Devoluciones</button></td>"
                            + "<td style='vertical-align:middle; white-space: normal' align='center'><button class='btn ink-reaction btn-default-bright btn-xs plazadevMat' style='white-space: normal' id='" + data[i].EntidadClave + "'>Dev. Material</button></td>"
                            + "<td style='vertical-align:middle; white-space: normal' align='center'><button class='btn ink-reaction btn-default-bright btn-xs plazaInventario' id='" + data[i].EntidadClave + "'>Inventario</button></td>"
                            + "<td style='vertical-align:middle; white-space: normal' align='center'><button id='" + data[i].EntidadClave + "'class='btn ink-reaction btn-default-bright btn-xs TecnicosAsignados'>Técnicos</button></td>"
                            + "<td style='vertical-align:middle; white-space: normal' align='center'><button id='"
                            + data[i].EntidadClave + "' class='btn ink-reaction btn-default-bright btn-xs TecnicosplazaSalida'>Salidas</button></td><td style='vertical-align:middle; white-space: normal' align='center'><button id='"
                            + data[i].EntidadClave + "' class='btn ink-reaction btn-default-bright btn-xs Tecnicosplazabitacora'>Bitácoras</button></td><td style='vertical-align:middle; white-space: normal' align='center'><button id='"
                            + data[i].EntidadClave + "' class='btn ink-reaction btn-default-bright btn-xs Tecnicossalidasplaza'>Devoluciones</button></td>"
                            + "<td style='vertical-align:middle' align='center'>"

                            + "<form id='formulario' class='col-md-6' action='/Auditoria/detallePlazaExcel'>"
                            + "<input type='hidden' name='idpla' id='idpla' value='" + data[i].EntidadClave + "'>"
                            + "<button class='btn ink-reaction btn-floating-action btn-xs btn-success' id='" + data[i].EntidadClave + "' type='submit' "
                            + "data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar excel' ><i class='fa fa-file-excel-o' aria-hidden='true'></i></button>"
                            + "</form>"

                            + "<form id='formulario2' class='col-md-6' action='/Auditoria/PlazasPDF' ><input type='hidden' name='idpla2' id='idpla2' value='"
                            + data[i].EntidadClave + "'><button type='submit' class='btn ink-reaction btn-floating-action btn-xs btn-danger' id='" + data[i].EntidadClave + "' "
                            + "data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar PDF'><i class='fa fa-file-pdf-o' aria-hidden='true'></i></button></form>"

                            + "</td></tr>");

                    }

                    console.log(data);

                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
        }

        $(".TecnicoSalidas").live('click', function () {
            $('#tSalidasTecnicos').empty();
            $('.mensaje-tecnico-salidas').hide();
            $('#tblSalidasTecnicos').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/SalidaTecnico/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tSalidasTecnicos').append("<tr><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblSalidasTecnicos').hide();
                        $('.mensaje-tecnico-salidas').show();
                    }


                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
            $("#ModalTecnicoSalidas").modal('show');
        });


        $(".TecnicoDevoluciones").live('click', function () {
            $('#tDevolucionesTecnicos').empty();
            $('.mensaje-tecnico-devoluciones').hide();
            $('#tblDevolucionesTecnicos').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/DevolucionTecnico/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tDevolucionesTecnicos').append("<tr><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblDevolucionesTecnicos').hide();
                        $('.mensaje-tecnico-devoluciones').show();
                    }
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
            $("#ModalTecnicoDevoluciones").modal('show');
        });



        $(".TecnicoBitacoras").live('click', function () {
            $('#tBitacorasTecnicos').empty();
            $('.mensaje-tecnico-bitacoras').hide();
            $('#tblBitacorasTecnicos').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/BitacoraTecnico/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tBitacorasTecnicos').append("<tr><td>" + data[i].Nombre + "</td><td>" + data[i].Cantidad + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblBitacorasTecnicos').hide();
                        $('.mensaje-tecnico-bitacoras').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
            $("#ModalTecnicoBitacoras").modal('show');
        });

        $(".TecnicoInventario").live('click', function () {
            $('#tInventarioTecnicos').empty();
            $('.mensaje-tecnico-Inventario').hide();
            $('#tblInventarioTecnicos').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/InventarioTecnico/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tInventarioTecnicos').append("<tr><td>" + data[i].nombre + "</td><td>" + data[i].activos + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblInventarioTecnicos').hide();
                        $('.mensaje-tecnico-Inventario').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
            $("#ModalTecnicoInventario").modal('show');
        });

        $(".TecnicoAlmacenes").live('click', function () {
            $('#panel-almacenes').html('');
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/AlmacenesTecnicos/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#panel-almacenes').append("<span class='label default-primary-bright' style='color:black'>" + data[i].Nombre + "</span><br>");
                        }
                    }
                    else {

                        $('.mensaje-tecnico-almacenes').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });
            $("#ModalTecnicoAlmacenes").modal('show');
        });


        $(".Excelportecnico").live('click', function () {

            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/detalleTecnicoExcel/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (d) {
                    if (d.success == true) { }

                    else { }

                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

        });

        $(".plazadevMat").live('click', function () {

            $('#ModalDevMatplaza').modal('show');
            $('#tdevmat').empty();

            var idplaza = $(this).attr('id');
            var url4 = '/Auditoria/DevMaterialPlaza/';

            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idplaza },
                type: "POST",
                success: function (data) {
                    if (data.length == 0) {
                        $('#mensaje-devmat').show();


                    } else {
                        $('#mensaje-devmat').hide();
                        for (var a = 0; a < data.length; a++) {

                            $('#tdevmat').append("<tr><td>" + data[a].Articulo + "</td><td>" + data[a].Cantidad + "</td></tr>");
                        }
                    }


                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

        });



        $(".plazaPedidos").live('click', function () {

            var idplaza = $(this).attr('id');
            $('#tPedidosPlaza').empty();
            $('.mensaje-plaza-Pedidos').hide();
            $('#tblPedidosPlaza').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/PedidosPlazas/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tPedidosPlaza').append("<tr><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblPedidosPlaza').hide();
                        $('.mensaje-plaza-Pedidos').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

            $("#ModalPlazaPedidos").modal('show');
        });


        $(".PlazaRecepciones").live('click', function () {
            var idplaza = $(this).attr('id');
            $('#tRecepcionesPlaza').empty();
            $('.mensaje-plaza-recepciones').hide();
            $('#tblRecepcionesPlaza').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/RecepcionesPlazas/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tRecepcionesPlaza').append("<tr><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblRecepcionesPlaza').hide();
                        $('.mensaje-plaza-recepciones').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

            $("#ModalPlazaRecepciones").modal('show');
        });


        $(".Aparato").live('click', function () {


            var idplaza = $(this).attr('rel');
            var idArticulo = $(this).attr('id');

            $("#ModalAparatosInstalados").modal('show');
            $('#datos').dataTable({
                "processing": true,
                "serverSide": true,
                "bFilter": false,
                "bDestroy": true,
                "info": true,
                "stateSave": true,
                "lengthMenu": [[5, 10, 15, 20], [5, 10, 15, 20]],
                "ajax": {
                    "url": "/Auditoria/RelacionInstaladosPlaza/",
                    "type": "POST",
                    "data": { 'idArticulo': idArticulo, 'idplaza': idplaza }
                },
                "fnInitComplete": function (oSettings, json) {
                    console.log(json);
                    console.log(oSettings);

                },
                "fnDrawCallback": function (oSettings) {


                },

                "columns": [
                         { "data": "NombreArticulo", "orderable": false },
                         { "data": "contrato", "orderable": false },
                         { "data": "serie", "orderable": false },
                         { "data": "Activacion", "orderable": false }
                ],

                language: {
                    processing: "Procesando información...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Mostrar _MENU_ Elementos",
                    info: "Mostrando   _START_ de _END_ Total _TOTAL_ elementos",
                    infoEmpty: "No hay elemetos para mostrar",
                    infoFiltered: "(filtrados _MAX_ )",
                    infoPostFix: "",
                    loadingRecords: "Búsqueda en curso...",
                    zeroRecords: "No hay registros para mostrar",
                    emptyTable: "No hay registros disponibles",
                    paginate: {
                        first: "Primera",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultima"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },


                "order": [[0, "asc"]]
            })


        });

        $(".plazaDevoluciones").live('click', function () {

            var idplaza = $(this).attr('id');
            $('#tDevolucionPlaza').empty();
            $('.mensaje-plaza-Devolucion').hide();
            $('#tblDevolucionPlaza').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/devolucionPlazas/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idplaza },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tDevolucionPlaza').append("<tr><td>" + data[i].Articulo + "</td><td>" + data[i].Cantidad + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblDevolucionPlaza').hide();
                        $('.mensaje-plaza-Devolucion').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

            $("#ModalPlazaDevolucion").modal('show');
        });




        $(".plazaInventario").live('click', function () {

            var idplaza = $(this).attr('id');
            $('#tInventarioPlaza').empty();
            $('.mensaje-plaza-Inventario').hide();
            $('#tblInventarioPlaza').show();
            var idtecnico = $(this).attr('id');
            var url4 = '/Auditoria/InventarioPlazas/';
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idtecnico },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tInventarioPlaza').append("<tr><td>" + data[i].nombre + "</td><td>" + data[i].activos + "</td><td>" + data[i].standby + "</td><td>" + data[i].recuperados + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblInventarioPlaza').hide();
                        $('.mensaje-plaza-Inventario').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });

            $("#ModalPlazaInventario").modal('show');
        });


        $(".TecnicosAsignados").live('click', function () {

            var idplaza = $(this).attr('id');
            var url4 = '/Auditoria/Plazas_Tecnicos/';
            $('#tTecnicosPlaza').empty();
            $('.mensaje-plaza-Tecnicos').hide();
            $('#tblTecnicosPlaza').show();
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idplaza },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            $('#tTecnicosPlaza').append("<tr><td ><i class='fa fa-male' aria-hidden='true' style='color:#5cb85c;'></i></td><td>" + data[i].Nombre + "</td></tr>");
                        }
                    }
                    else {
                        $('#tblTecnicosPlaza').hide();
                        $('.mensaje-plaza-Tecnicos').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });



            $("#ModalPlazaTecnicos").modal("show");


        });


        $(".TecnicosplazaSalida").live('click', function () {

            var idplaza = $(this).attr('id');
            var url4 = '/Auditoria/SalidasPlaza/';
            $('#tTablaSalidaplaza').empty();
            $('.mensaje-Salidaplaza').hide();
            $('#TablaSalidaplaza').show();
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idplaza },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            var renglon = "<tr><td><span class='label label-default'>Tecnico</span></td><td>" + data[i].NombreTecnico + "</td></tr>";

                            for (var b = 0; b < data[i].Articulos.length; b++) {

                                renglon += "<tr><td>" + data[i].Articulos[b].Articulo + "</td><td>" + data[i].Articulos[b].cantidad + "</td>";
                            }
                            renglon += "<tr><td></td><td></td></tr>";

                            $('#tTablaSalidaplaza').append(renglon);
                        }
                    }
                    else {
                        $('#TablaSalidaplaza').hide();
                        $('.mensaje-Salidaplaza').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });



            $("#ModalSalidaplaza").modal("show");


        });


        $(".Tecnicossalidasplaza").live('click', function () {

            var idplaza = $(this).attr('id');
            var url4 = '/Auditoria/devolucionesPlaza/';
            $('#tTabladevplaza').empty();
            $('.mensaje-devplaza').hide();
            $('#Tabladevplaza').show();
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idplaza },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            var renglon = "<tr><td><span class='label label-default'>Tecnico</span></td><td>" + data[i].NombreTecnico + "</td></tr>";

                            for (var b = 0; b < data[i].Articulos.length; b++) {

                                renglon += "<tr><td>" + data[i].Articulos[b].Articulo + "</td><td>" + data[i].Articulos[b].cantidad + "</td>";
                            }
                            renglon += "<tr><td></td><td></td></tr>";

                            $('#tTabladevplaza').append(renglon);
                        }
                    }
                    else {
                        $('#Tabladevplaza').hide();
                        $('.mensaje-devplaza').show();
                    }
                    console.log(data);
                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });



            $("#Modaldevplaza").modal("show");


        });



        $(".Tecnicosplazabitacora").live('click', function () {

            var idplaza = $(this).attr('id');
            var url4 = '/Auditoria/Bitacorasdeplaza/';
            $('#tTablabitacoraplaza').empty();
            $('.mensaje-bitacoraplaza').hide();
            $('#Tablabitacoraplaza').show();
            $.ajax({
                url: url4,
                dataType: 'json',
                data: { 'id': idplaza },
                type: "POST",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {

                            var renglon = "<tr><td><span class='label label-default'>Tecnico</span></td><td>" + data[i].NombreTecnico + "</td></tr>";

                            for (var b = 0; b < data[i].Articulos.length; b++) {

                                renglon += "<tr><td>" + data[i].Articulos[b].Articulo + "</td><td>" + data[i].Articulos[b].cantidad + "</td>";
                            }
                            renglon += "<tr><td></td><td></td></tr>";

                            $('#tTablabitacoraplaza').append(renglon);
                        }
                    }
                    else {
                        $('#Tablabitacoraplaza').hide();
                        $('.mensaje-bitacoraplaza').show();
                    }

                },
                error: function (request, error) {
                    Mensaje('Error', 'Surgió un error, intente nuevamente más tarde');
                }
            });



            $("#Modalbitacoraplaza").modal("show");


        });
    });


    //resize modal fade in

</script>




@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">*@

<style>
    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #0480be;
        color: #ffffff;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>
<!-- Optional theme -->
<!-- Latest compiled and minified JavaScript -->



<div class="card" style="padding:30px;">
    <div class="card-head">
        <header style="font-weight:bold;"> Clasificación de artículo</header>
    </div>

    <div class="box-content" style="padding:0px;">

        <div class="row" style="padding:0px;">
            <div class=" col-sm-12 col-md-12" style=" padding:0px;">
                <div class="widget-box" style="padding:0px;">
                    @*<h5>Seleccione Distribuidor:</h5>
                        <select id="distribuidores" class="form-control" style="width:50%">
                            <option disabled>Selecciona distribuidor</option>
                        </select>*@


                    <div id="" class="form-inline">
                        <label class="text-muted" style="padding-left:10px;"> Seleccione distribuidor:</label>
                        <div class='input-group date datepicker-default' id='datepicker1'>
                            <select id="distribuidores" class="form-control" style="width:90%">
                                <option disabled>Selecciona distribuidor</option>
                            </select>
                        </div>
                    </div>

                    <hr style="background-color:turquoise; margin-top:20px; margin-bottom:15px" />

                    <div id="Contenido" style="display:none;">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-bars" aria-hidden="true"></i> General distribuidor</a></li>
                            <li><a data-toggle="tab" href="#menu1"><i class="fa fa-building-o" aria-hidden="true"></i> Plazas/Almacenes</a></li>
                            <li><a data-toggle="tab" href="#menu2"><i class="fa fa-users" aria-hidden="true"></i> Técnicos</a></li>
                            <li><a data-toggle="tab" href="#menu3"><i class="fa fa-cube" aria-hidden="true"></i> Aparatos instalados</a></li>
                            <li><a data-toggle="tab" href="#menu4"><i class="fa fa-exchange" aria-hidden="true"></i> Traspasos de contratos</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">

                                <h4 style="">Operaciones Generales</h4> @*class="text-muted"*@
                                <hr style="background-color:silver; margin:0px" />
                                <br />


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading"><b>PEDIDOS TOTALES</b></div>

                                            <!-- Table -->
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td width="80%">Artículo</td>
                                                        <td width="20%">Cantidad</td>
                                                    </tr>
                                                </thead>
                                                <tbody id='pedidos'></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading"><b>RECEPCIONES TOTALES </b></div>

                                            <!-- Table -->
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td width="80%">Artículo</td>
                                                        <td width="20%">Cantidad</td>
                                                    </tr>
                                                </thead>
                                                <tbody id='recepciones'></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading"><b>DEVOLUCIÓN DE APARATOS</b></div>

                                            <!-- Table -->
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td width="80%">Artículo</td>
                                                        <td width="20%">Cantidad</td>
                                                    </tr>
                                                </thead>
                                                <tbody id='devoluciones'></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading"><b>SALDO PAGARÉ</b></div>

                                            <!-- Table -->
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td width="55%">Artículo</td>
                                                        <td width="15%">Asignados</td>
                                                        <td width="15%">Utilizados</td>
                                                        <td width="15%">Disponibles</td>
                                                    </tr>
                                                </thead>
                                                <tbody id='pagare'></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="menu1" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h4 style="">Detalle de plazas</h4> @*class="text-muted"*@
                                    </div>

                                    <div class="form-inline">
                                        <form method="post" action="/Auditoria/pdfGeneralPlazas/" class="form-group" style="padding:0px">
                                            <input type="hidden" id="plazapdf" name="plazapdf" />
                                            <button type="submit" class="btn btn-default-bright btn-xs">
                                                <i class='fa fa-file-pdf-o' aria-hidden='true'></i> Detalle general Plazas pdf
                                            </button>
                                        </form>

                                        <form method="post" action="/Auditoria/excelGeneralPlazas/" class="form-group" style="padding:0px">
                                            <input type="hidden" id="plazaexcel" name="plazaexcel" />
                                            <button type="submit" id="" class="btn btn-success btn-xs">
                                                <i class='fa fa-file-excel-o' aria-hidden='true'></i>
                                                Detalle general Plazas excel
                                            </button>
                                        </form>
                                    </div>
                                    @*<div class="col-md-3" style="vertical-align:middle; background-color:pink">
                                            <form method="post" action="/Auditoria/pdfGeneralPlazas/" style="vertical-align:middle; background-color:aqua">
                                                <input type="hidden" id="plazapdf" name="plazapdf" />
                                                <button type="submit" class="btn btn-danger btn-xs">Detalle general Plazas pdf</button>
                                            </form>
                                        </div>
                                        <div class="col-md-3" style="vertical-align:middle; background-color:yellow">
                                            <form method="post" action="/Auditoria/excelGeneralPlazas/" style="vertical-align:middle; background-color:coral">
                                                <input type="hidden" id="plazaexcel" name="plazaexcel" />
                                                <button type="submit" id="" class="btn btn-success btn-xs">Detalle general Plazas excel</button>
                                            </form>
                                        </div>*@
                                </div>

                                <br>
                                <hr style="background-color:silver; margin-top:-20px; margin-bottom:5px" />
                                <br>

                                @*<table id="colores" class="table table-striped" >*@

                                <table id="pla" class="table table-striped table-bordered">
                                    <thead>
                                        <tr style="font-weight:bold; font-size:12px;">
                                            <th width="11%" style="text-align:center; vertical-align:middle">Plaza</th>
                                            <th width="10%" style="text-align:center; vertical-align:middle">Recepciones</th>
                                            <th width="8%" style="text-align:center; vertical-align:middle">Pedidos</th>
                                            <th width="9%" style="text-align:center; vertical-align:middle">Devoluciones Almacén Central</th>
                                            <th width="9%" style="text-align:center; vertical-align:middle">Dev. material Almacén Central</th>
                                            <th width="9%" style="text-align:center; vertical-align:middle">Inventario</th>
                                            <th width="8%" style="text-align:center; vertical-align:middle">Técnicos</th>
                                            <th width="8%" style="text-align:center; vertical-align:middle">Salidas</th>
                                            <th width="9%" style="text-align:center; vertical-align:middle">Bitácoras</th>
                                            <th width="10%" style="text-align:center; vertical-align:middle">Dev. técnicos</th>
                                            <th width="9%" style="text-align:center; vertical-align:middle">Exportar reporte</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tplaza"></tbody>
                                </table>

                            </div>

                            <div id="menu2" class="tab-pane fade">

                                <div class="row">
                                    <div class="col-md-5">
                                        <h4 style="">Detalle de técnicos</h4> @*class="text-muted"*@
                                    </div>

                                    <div class="form-inline">
                                        @*<form method="post" action="/Auditoria/pdfGeneralPlazas/" class="form-group" style="padding:0px">*@
                                        <form action="/Auditoria/GeneralTecnicosPDF/" class="form-group" style="padding:0px">
                                            <input type="hidden" id="generaltecnicospdf" name="generaltecnicospdf" />
                                            <button type="submit" class="btn btn-default-bright btn-xs">
                                                <i class='fa fa-file-pdf-o' aria-hidden='true'></i> Detalle general Técnicos pdf
                                            </button>
                                        </form>

                                        <form action="/Auditoria/DetalleGeneralTecnicoExcel/" method="post" class="form-group" style="padding:0px">
                                            <input type="hidden" id="generaltecnicosexcel" name="generaltecnicosexcel" />
                                            <button type="submit" class="btn btn-success btn-xs">
                                                <i class='fa fa-file-excel-o' aria-hidden='true'></i>
                                                Detalle general Técnicos excel
                                            </button>
                                        </form>
                                    </div>

                                </div>
                                <br>
                                <hr style="background-color:silver; margin-top:-20px; margin-bottom:5px" />
                                <br>

                                @*<div class="row">
                                         <div class="col-md-4">                                    <h3 class="text-muted" >Detalle de técnicos</h3></div>
                                         <div class="col-md-4"></div>
                                         <div class="col-md-1">
                                    <form action="/Auditoria/GeneralTecnicosPDF/">
                                                 <input type="hidden" id="generaltecnicospdf" name="generaltecnicospdf" />
                                                 <button type="submit" class="btn btn-danger btn-xs">Detalle general Técnicos pdf</button>
                                             </form>
                                         </div>                                    <div class="col-md-1"></div>
                                         <div class="col-md-1">
                                             <form action="/Auditoria/DetalleGeneralTecnicoExcel/" method="post">
                                                 <input type="hidden" id="generaltecnicosexcel" name="generaltecnicosexcel" />
                                                 <button type="submit" class="btn btn-success btn-xs">Detalle general Técnicos excel</button>
                                     </form>
                                         </div>
                                         <div class="col-md-1"></div>
                                     </div>*@


                                @*<table id="pla" class="table table-striped table-bordered" cellspacing="0" style="font-size:8px;">*@
                                <table id="tec" class="table table-striped table-bordered" cellspacing="0" style="font-size:12px;">
                                    <thead>
                                        <tr style="font-weight:bold; font-size:12px;">
                                            <th width="17%" style="text-align:center; vertical-align:middle">Nombre de técnico</th>
                                            <th width="13%" style="text-align:center; vertical-align:middle">Salida de material</th>
                                            <th width="18%" style="text-align:center; vertical-align:middle">Bitácoras</th>
                                            <th width="15%" style="text-align:center; vertical-align:middle">Devolución de material</th>
                                            <th width="15%" style="text-align:center; vertical-align:middle">Almacenes asignados</th>
                                            <th width="12%" style="text-align:center; vertical-align:middle">Inventario de técnico</th>
                                            <th width="10%" style="text-align:center; vertical-align:middle">Exportar reporte</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ttecnicos"></tbody>
                                </table>

                            </div>

                            <div id="menu3" class="tab-pane fade">

                                <div class="row">
                                    <div class="col-md-5">
                                        <h4 style="">Detalle de equipos instalados</h4> @*class="text-muted"*@
                                    </div>

                                    <div class="form-inline">
                                        @*<form method="post" action="/Auditoria/pdfGeneralPlazas/" class="form-group" style="padding:0px">*@

                                        <form action="/Auditoria/detalleGeneralAparatosPDF/" class="form-group" style="padding:0px" id="form5">
                                            <input type="hidden" id="generalaparatospdf" name="idDistribuidor" value="" />
                                            <button type="submit" id="AparatosGeneral" class="btn btn-default-bright btn-xs">
                                                <i class='fa fa-file-pdf-o' aria-hidden='true'></i>
                                                Detalle general Distribuidor PDF
                                            </button>
                                        </form>

                                        <form action="/Auditoria/detallegeneralExcelAparatos/" class="form-group" style="padding:0px" id="form5">
                                            <input type="hidden" id="generalaparatosexcel" name="idDistribuidor2" value="" />
                                            <button type="submit" class="btn btn-success btn-xs">
                                                <i class='fa fa-file-excel-o' aria-hidden='true'></i>
                                                Detalle general Distribuidor Excel
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                                <hr style="background-color:silver; margin-top:-20px; margin-bottom:5px" />
                                <br>

                                @*<div class="row">
                                        <div class="col-md-4"><h3 class="text-muted">Detalle de equipos instalados</h3></div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-1">
                                            <form action="/Auditoria/detalleGeneralAparatosPDF/" id="form5">
                                                <input type="hidden" id="generalaparatospdf" name="idDistribuidor" value="" />
                                                <button type="submit" id="AparatosGeneral" class="btn btn-danger btn-xs">Detalle general Distribuidor PDF</button>
                                            </form>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-1">

                                            <form action="/Auditoria/detallegeneralExcelAparatos/" id="form5">
                                                <input type="hidden" id="generalaparatosexcel" name="idDistribuidor2" value="" />
                                                <button type="submit" class="btn btn-success btn-xs">Detalle general Distribuidor Excel</button>
                                            </form>
                                        </div>

                                        <div class="col-md-1"></div>
                                    </div>*@

                                <table id="tec" class="table table-striped table-bordered">
                                    <thead>
                                        <tr style="font-weight:bold; font-size:12px;">
                                            <th width="19%" style="text-align:center; vertical-align:middle">Plaza</th>
                                            <th width="67%" style="text-align:center; vertical-align:middle">Aparatos</th>
                                            <td width="14%" style="text-align:center; vertical-align:middle">Exportar reporte </td>
                                        </tr>
                                    </thead>
                                    <tbody id="taparatosInstalados"></tbody>

                                </table>
                            </div>




                            <div id="menu4" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 style="">Detalle de traspasos de contratos</h4> @*class="text-muted"*@
                                    </div>
                                </div>
                                <br>
                                <hr style="background-color:silver; margin-top:-20px; margin-bottom:5px" />

                                <br>



                                <h4><i class="fa fa-arrow-down" style="color:red;" aria-hidden="true"></i> Contratos traspasados</h4>
                                <table id="traspasoContratos" class="table table-hover-color">
                                    <thead>
                                        <tr style="font-weight:bold">
                                            <td>No.traspaso</td>
                                            <td>Distrib. receptor</td>
                                            <td>Almacén Receptor</td>
                                            <td>Fecha</td>
                                            <td>Contratos</td>
                                        </tr>

                                    </thead>
                                    <tbody id="ttraspasos"></tbody>

                                </table>
                                <hr />
                                <h4><i class="fa fa-arrow-up" style="color:green;" aria-hidden="true"></i> Contratos recibidos</h4>
                                <table id="traspasoContratosrec" class="table table-hover-color">
                                    <thead>
                                        <tr style="font-weight:bold">
                                            <td>No.traspaso</td>
                                            <td>Distrib. receptor</td>
                                            <td>Almacén Receptor</td>
                                            <td>Fecha</td>
                                            <td>Contratos</td>
                                        </tr>

                                    </thead>
                                    <tbody id="ttraspasosrec"></tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<style>
    .modal-header {
        background-color: white;
        /*position: fixed; --flotante */
        color: black;
    }

    .modal-body {
        padding-top: 7px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        /*align="center"*/
    }

    .modal-footer {
        padding-top: 5px;
    }

    /*.table {
    text-align:center;
    }*/
</style>


<!------------------------------------------------------------ Modal     ------------------------------------------------------------------------------------------ -->



<div class="modal fade" id="ModalTecnicoSalidas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Salidas de técnico</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-tecnico-salidas" role="alert" style="display:none;">
                    <strong>Atención: </strong>Este técnico no tiene salida de material.
                </div>
                <table class=" table table-bordered table-striped" id="tblSalidasTecnicos">
                    <thead>
                        <tr><td>Articulo</td><td>Cantidad salida</td></tr>
                    </thead>
                    <tbody id="tSalidasTecnicos"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>

            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="ModalTecnicoBitacoras" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Bitácoras de tecnico</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-tecnico-bitacoras" role="alert" style="display:none;">
                    <strong>Atención: </strong>Este técnico no tiene bitácotas de material.
                </div>
                <table class=" table table-bordered table-striped" id="tblBitacorasTecnicos">
                    <thead>
                        <tr><td>Articulo</td><td>Cantidad salida</td></tr>
                    </thead>
                    <tbody id="tBitacorasTecnicos"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="ModalTecnicoDevoluciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Devoluciones de técnico</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-tecnico-devoluciones" role="alert" style="display:none;">
                    <strong>Atención: </strong>Este técnico no tiene devoluciones de material.
                </div>
                <table class="table table-bordered table-striped" id="tblDevolucionesTecnicos">
                    <thead>
                        <tr><td>Articulo</td><td>Cantidad salida</td></tr>
                    </thead>
                    <tbody id="tDevolucionesTecnicos"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="ModalTecnicoInventario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-backdrop fade in" style="height: 1100px;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class=" modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Inventario de técnico</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-tecnico-Inventario" role="alert" style="display:none;">
                    <strong>Atención: </strong>Este técnico no tiene Inventario de material.
                </div>
                <table class=" table table-bordered table-striped" id="tblInventarioTecnicos">
                    <thead>
                        <tr><td>Articulo</td><td>Cantidad salida</td></tr>
                    </thead>
                    <tbody id="tInventarioTecnicos"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="ModalTecnicoAlmacenes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-backdrop fade in" style="height: 1100px;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Almacenes asignados de técnico</h4>
            </div>
            <div class="modal-body" align="left">
                <div class="alert alert-callout alert-info mensaje-tecnico-almacenes" role="alert" style="display:none;">
                    <strong>Atención: </strong>Este técnico no tiene asignado almacenes.
                </div>
                <div id="panel-almacenes">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    cerrar
                </button>

            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="ModalPlazaRecepciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class=" modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Recepciones de la plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-plaza-recepciones" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene recepciones.
                </div>
                <table class="table table-bordered table-striped" id="tblRecepcionesPlaza">
                    <thead>
                        <tr>
                            <td><b>Articulo</b></td>
                            <td><b>Cantidad</b></td>
                        </tr>
                    </thead>
                    <tbody id="tRecepcionesPlaza"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="ModalPlazaPedidos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class=" modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Pedidos de la plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-plaza-Pedidos" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tienes recepciones.
                </div>
                <table class="table table-bordered table-striped" id="tblPedidosPlaza">
                    <thead>
                        <tr>
                            <td><b>Articulo</b></td>
                            <td><b>Cantidad</b></td>
                        </tr>
                    </thead>
                    <tbody id="tPedidosPlaza"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="ModalPlazaInventario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class=" modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Inventario de la plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-plaza-Inventario" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene Inventario.
                </div>
                <table class="table table-bordered table-striped" id="tblInventarioPlaza">
                    <thead>
                        <tr>
                            <td><b>Articulo</b></td>
                            <td><b>Cantidad</b></td>
                            <td><b>Standby</b></td>
                            <td><b>Recuperados</b></td>
                        </tr>
                    </thead>
                    <tbody id="tInventarioPlaza"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="ModalPlazaDevolucion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-backdrop fade in" style="height: 1100px;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class=" modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Devoluciones Alm. Central de la plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-plaza-Devolucion" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene devoluciones.
                </div>
                <table class="table table-bordered table-striped" id="tblDevolucionPlaza">
                    <thead>
                        <tr>
                            <td><b>Artículo</b></td>
                            <td><b>Cantidad</b></td>
                        </tr>
                    </thead>
                    <tbody id="tDevolucionPlaza"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="ModalPlazaTecnicos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class=" modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Técnicos asignados a la plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-plaza-Devolucion" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene técnicos asignados.
                </div>
                <table class="table" id="tblTecnicosPlaza" style="width:75%; border-collapse:separate;">
                    <thead>
                        <tr>
                            <td></td>
                            <td><b>Nombre</b></td>
                        </tr>
                    </thead>
                    <tbody id="tTecnicosPlaza"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>





<div class="modal fade modal-full-width" id="ModalAparatosInstalados" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Aparatos Instalados</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-plaza-Inventario" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene aparatos instalados
                </div>
                <table class="table table-bordered table-striped" id="datos" style="width:100%; text-align:center">
                    <thead>
                        <tr>
                            <td>Articulo</td>
                            <td>Contrato</td>
                            <td>Serie</td>
                            <td>Fecha</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td>Articulo</td>
                            <td>Contrato</td>
                            <td>Serie</td>
                            <td>Fecha</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>





<div class="modal fade modal-full-width" id="ModalSalidaplaza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-backdrop fade in" style="height: 1100px;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Detalle salidas a técnicos de esta plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-Salidaplaza" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene salidas a técnicos
                </div>
                <table class="table" id="TablaSalidaplaza" style="width:75%; border-collapse:separate;">

                    <tbody id="tTablaSalidaplaza"></tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>








<div class="modal fade modal-full-width" id="Modaldevplaza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-backdrop fade in" style="height: 1100px;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Detalle devoluciones de técnicos a esta plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-devplaza" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene salidas a técnicos
                </div>
                <table class="table" id="Tabladevplaza" style="width:75%; border-collapse:separate;">

                    <tbody id="tTabladevplaza"></tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>





<div class="modal fade modal-full-width" id="Modalbitacoraplaza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-backdrop fade in" style="height: 1700px;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Detalle bitacoras de técnicos a esta plaza</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-bitacoraplaza" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene bitacoras a técnicos
                </div>
                <table class="table" id="Tablabitacoraplaza" style="width:75%; border-collapse:separate;">

                    <tbody id="tTablabitacoraplaza"></tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>








<div class="modal fade modal-full-width" id="ModalDevMatplaza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-backdrop fade in" style="height: 1100px;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Detalle devolución de material</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="alert alert-callout alert-info mensaje-devmat" role="alert" style="display:none;">
                    <strong>Atención: </strong>Esta plaza no tiene devolución de material
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Artículo</td>
                            <td>Cantidad</td>
                        </tr>
                    </thead>
                    <tbody id="tdevmat"></tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>









<div class="modal fade modal-full-width" id="ModalContratos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Contratos del Traspaso</h4>
            </div>
            <div class="modal-body" align="center">
                <table class="table-bordered table-striped">
                    @*table-hover-color*@
                    <thead>
                        <tr style="font-weight:bold">
                            <td>No contrato </td>
                            <td>Aparatos</td>
                        </tr>

                    </thead>
                    <tbody id="tcontratos"></tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>










<div class="modal fade modal-full-width" id="ModalContratosApa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="TitleModalContratosApa" style=""></h4>
            </div>
            <div class="modal-body" align="center">
                <table class="table table-bordered table-striped">
                    @*table-hover-color*@
                    <thead>
                        <tr style="font-weight:bold">
                            <td>Articulo </td>
                            <td>Serie</td>
                            <td>Cantidad</td>
                        </tr>
                    </thead>
                    <tbody id="tcontratosApa"></tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<script>
    $('.modal').on('shown.bs.modal', function (e) {
        $(this).modal('handleUpdate'); //Update backdrop on modal show
        $(this).scrollTop(0); //reset modal to top position
    });
</script>