﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    web.Models.Proceso proceso = (web.Models.Proceso)ViewData["proceso"];

}
<script>
    function GetDetalle(){

    }
    var url = '/Devolucion/DetalleDevolucion/';
    $.ajax({
        url: url,
        data: { 'proceso': @proceso.ProcesoClave },
        type: "POST",
        success: function (data) {

            $('#edPE_guia').val(data.guia);
            $('#edPE_transportista').val(data.tran);
            $('#edPE_fecha').val(data.fecha);

        },
        error: function (request, error) {
            toastr.error('Error, Surgió un error, intente nuevamente más tarde');
        }
    });


</script>


<div class="card">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Reparación y garantias</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;">
             <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" id="save">
                    Guardar
                </button>
                <button type="button" class="btn btn-sm ink-reaction btn-flat btn-danger" >
                    cancelar
                </button>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding:30px;">
        

    </div>

</div>