﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();
    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());
    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();
    List<web.Models.catEntidadTipo> tiposalmacen = (List<web.Models.catEntidadTipo>)ViewData["tipoalmacen"];



    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTransportista> transportistas = (List<web.Models.catTransportista>)ViewData["transportistas"];
    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];

}


<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {

            }
            else
            {
                @Html.Raw(@"
             #panelopciones{ display:none !important;}

               ")

            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {




            }
            else
            {

            }

           if (a.Elimina.Value == true)
           {

           }
           else
           {
                  @Html.Raw(@"
                   .del{ display:none !important;}

               ")
           }

        }


    }


</style>




<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>            
                <strong style="font-weight:bold; border:none; margin-left:10px;">Traspasos de material</strong>
                <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
         </header>
        <div class="tools">
            <div class="btn-group">
                <button type="button" class="btn btn-block ink-reaction btn-flat btn-info btn-sm" id="add">
                    Crear traspaso
                </button>

            </div>
        </div>
    </div>
    <div class="card-body" style="padding:30px;">
        <div class="row">
            <div class="col-md-2">
                <p class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i> Filtros:</p>
            </div>
            <div class="col-md-10">

                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control input-sm" id="falmacen">

                            @*<option selected disabled>Filtrar por almacén </option>*@
                            <option selected>Todos los almacenes </option>
                            @{
                                foreach (var a in almacenes.OrderBy(x => x.Nombre))
                                {
                                    <option value="@a.EntidadClave">@a.Nombre</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="col-sm-4">

                        <input type="number" placeholder="Buscar por orden" class="form-control input-sm" id="ord" />

                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-sm" style="float:left;" id="buscar"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="indice">
            <thead>
                <tr>
                    <td>Orden</td>
                    <td >Fecha</td>
                    <td >Status</td>
                    <td>Almacén de origen</td>
                    <td >Almacén de destino</td>
                    <td ><b>Detalle</b></td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
   



</div>




<div id="AgregaDevolucion" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Crear traspaso </h4>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-bars" aria-hidden="true"></i> Detalle de traspaso</a></li>
                    <li><a data-toggle="tab" href="#menu1" id="elMenu"><i class="fa fa-cube" aria-hidden="true"></i> Artículos</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="form-group">
                            <div class="col-md-6">
                                <p>Selecciona almacén que enviará el traspaso</p>
                                <select class="form-control" id="almacen">
                                    @{
                                        foreach (var a in almacenes)
                                        {
                                            <option value="@a.EntidadClave">@a.Nombre</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">  

                                <p>¿Donde enviaras este material?</p>
                                <select id="selectenvio" class="form-control">
                                  @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                                  {
                                    <option value="">Selecciona</option>
                                        <option value="2">Distribuidores</option>
                                  }
                                  else
                                  {
                                    <option value="1">Almacenes del mismo distribuidor</option>
                                    <option value="2">Almacenes de un distribuidor diferente</option>

                                  
                                  }


                                </select>                              
                            </div>

                        </div>
                        <div class="col-md-12">
@if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
{
}
else
{
    <div id="mismodis">
        <p>Selecciona almacén que recibirá el traspaso</p>
        <select class="form-control" id="almacenAfectado">
            @{
                foreach (var a in almacenes)
                {
                    <option value="@a.EntidadClave">@a.Nombre</option>
                }
            }
        </select>

    </div>
                }
                            
                            <div id="difdis">
                                <p>Selecciona el distribuidor</p>
                                <select class="form-control" id="distribuidor">
                                    <option value="">selecciona</option>
                                    @{
                                        foreach (var a in distribuidores)
                                        {
                                            <option value="@a.catDistribuidorClave">@a.Nombre</option>
                                        }
                                    }
                                </select>
                                <p>Selecciona almacén que recibirá el traspaso</p>
                                <select class="form-control" id="almacenAfectadodis">
                                   
                                </select>
                            </div>
                         </div>
                        <div class="col-md-12">
                            Motivo del traspaso
                            <textarea class="form-control" id="motivo"></textarea>

                        </div>
                           
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <br />
                        <button class="btn btn-default-bright btn-sm" id="addArticulo">Agregar artículo</button>
                        <hr />
                        <center><label class="label label-warning" id="msn-detalle" style="background-color:#de8c13; border-radius:5px; font-size:12px;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> La orden aún no cuenta con artículos </label></center>

                        <table class="table table-hover-color" id="tablaresumen" style="display:none;">
                            <thead>
                                <tr>
                                    <td style="font-size:14px;"><b>Artículo</b></td>
                                    <td style="font-size:14px;"><b>Cantidad en devolución</b></td>
                                   
                                    <td style="font-size:14px;"><b>Opciones</b></td>
                                </tr>
                            </thead>
                            <tbody id="contenidoresumen"></tbody>
                        </table>

                    </div>

                </div>






                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default -bright btn-sm">Cancelar</button>
                <button type="button" id="guardaTraspaso" class="btn  btn-success btn-sm"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> Guardar</button>
                <button type="button" id="EditaDevolucion" class="btn btn-success btn-sm"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> Editar</button>
                <!-- Danger button with label -->



            </div>
        </div>
    </div>

</div>










<div id="AgregaArticulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Agregar artículo </h4>
            </div>
            <div class="modal-body">

                <div id="seleccion">
                    <div class="form-group">
                        <div class="col-md-6">
                            Clasificación de material
                            <select class="form-control" id="clasificacion">
                                <option selected disabled value="0">Selecciona</option>
                                @{
                                    foreach (var b in clasificaciones)
                                    {
                                        <option value="@b.catClasificacionArticuloClave">@b.Descripcion</option>
                                    }
                                }

                            </select>

                        </div>
                        <div class="col-md-6">
                            Tipo de material
                            <select class="form-control" id="tipomat">
                                <option selected>Selecciona</option>

                            </select>
                        </div>
                        <div class="col-md-6">
                            <p>Artículo</p>
                            <select class="form-control" id="articulo" onchange="DetalleArticulo(this.options[this.selectedIndex].getAttribute('rel'))">
                                <option selected>Selecciona</option>

                            </select>
                        </div>
                        <div class="col-md-2">
                            <p>En almacén</p>
                            <input type="text" class="form-control" id="enalmacen" readonly />
                        </div>
                        <div class="col-md-2" id="colcantant">
                            <p>Cantidad anterior</p>
                            <input type="number" class="form-control" id="cantidad_anterior" readonly />
                        </div>
                        <div class="col-md-2">
                            <p id="label-cantidad">Cantidad</p>
                            <input type="number" class="form-control" id="cantidad" />
                            <input type="hidden" id="InventarioClave" />
                        </div>


                    </div>

                    <div class="form-group" id="PanelSeleccionSeries" style="display:none">
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Ingresa la serie/mac del aparato" id="serie" />
                        </div>
                        <div class="col-md-3">
                            <select id="statusaparato" class="form-control">
                                <option value="0" selected disabled>Selecciona estatus</option>
                                <option value="7">Buen Estado</option>
                                @*<option value="9">Revisión</option>
                                <option value="10">Dañado</option>
                                <option value="11">Baja</option>*@

                            </select>
                        </div>
                    </div>


                    <div id="panelbusqueda_series" style="display:block;">

                        <table class="table" id="datos" style="width:100%;">
                            <thead>
                                <tr>
                                    <td>selección</td>
                                    <td>Serie</td>
                                    <td>Estatus</td>

                                </tr>
                            </thead>
                            <tbody id="tseries"></tbody>
                            <tfoot>
                                <tr>
                                    <td>selección</td>
                                    <td>Serie</td>
                                    <td>Estatus</td>

                                </tr>
                            </tfoot>
                        </table>



                    </div>

                </div>-<!--div seleccion-->

                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                <button type="button" class="btn btn-info btn-sm" id="guardaAccesorios" style="display:none;">Guarda</button>
            </div>
        </div>
    </div>

</div>

<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title" id="titulo_ver"></h4>
                </div>
                <div class="modal-body">
                    <iframe src="#" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>






<div id="edProcesoEnvio" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmProcesoEnvio" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="_ProcesoEnvio-Titulo" class="modal-title">Datos de envío</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Transportista</label>
                        </div>
                        <div class="col-md-12">
                            <select class="form-control validate[required]" style="width:80%;" id="edPE_transportista">
                                <option value="-1">Seleccione...</option>
                                @foreach (web.Models.catTransportista t in transportistas)
                                {
                                    <option value="@t.catTranspClave" rel="@t.URLSeguimiento">@t.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-7">
                            <label>Guía</label>
                        </div>
                        <div class="col-md-7">
                            <div class='input-group'>
                                <input type="text" class="form-control validate[required]" id="edPE_guia" />
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>

                        <br />
                        @*<div class="col-md-8">
                                <label>Fecha de Envío (DD/MM/AAAA)</label>
                                <input id="edPE_fecha" name="edPE_fecha" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text" />
                            </div>*@

                        <div class="col-md-7">

                            <label>Fecha de envío</label>
                            <div class='input-group date datepicker-default' id='datepicker1'>
                                <input id="edPE_fecha" placeholder="dd/mm/aaaa" class="form-control input-sm  validate[required,custom[date]]" type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="devEnv" />
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm" id="btn_cerrar">Cerrar</button>
                    <button type="button" class="btn btn-default btn-info btn-sm" id="btn_PEguardar">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>





























<div id="CancelaDev" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmProcesoEnvio" action="#" method="post">
        <input type="hidden" value="" id="id_procesoc" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Cancelar devolución</h4>
                </div>
                <div class="modal-body">

                    <b>¿Estas seguro de cancelar esta devolución?</b>
                    <br clear="all" />
                </div>
                <div class="modal-footer">

                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-xs">Cerrar</button>
                    <button type="button" class="btn btn-default btn-danger btn-xs" id="Cancelar-dev">Si, continuar con el proceso</button>
                </div>
            </div>
        </div>
    </form>
</div>





<!--BEGIN LOADING SCRIPTS FOR PAGE-->

<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>
<!--END LOADING SCRIPTS FOR PAGE-->
<!--BEGIN JAVASCRIPT-->
<!--END JAVASCRIPT-->





<script src="http://neue.cc/linq.min.js"></script>
<script src="~/Content/pags/Traspasos/lista.js"></script>
<script src="~/Content/pags/Traspasos/AgregaTraspasos.js"></script>
<script src="~/Content/pags/Traspasos/Controles.js"></script>
<script src="~/Content/pags/Traspasos/EditaTraspaso.js"></script>



