﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();

}


<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {

                  @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {




            }
            else
            {

                 @Html.Raw(@"
                   .edit{ display:none !important;}

               ")

            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
           }

        }


    }


</style>


<div class="card">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Serie</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button class="btn btn-block ink-reaction btn-flat btn-info" data-toggle='tooltip' data-placement='top' title='' data-original-title='Agrega nueva serie' type="button" id="add">

                Nuevo
            </button>


        </div>
    </div>


    <div class="card-body">
        <div class="content">
            <div class="row">
                <div class="col-sm-1 col-md-12">
                    <div class="widget-box">
                        <h4 class="caption" id="resultados"></h4>
                        @* <table class="table table-striped" id="datos" style="padding-left:10px;">*@
                        <table class="table table-hover-color" id="datos" style="padding-left:10px;">
                            <thead>
                                <tr>
                                    <th width="9%">#</th>
                                    <th width="30%">Nombre</th>
                                    <th width="15%">Hexadecimal</th>
                                    <th width="12%">Min</th>
                                    <th width="12%">Max</th>
                                    <th width="12%">Activo</th>
                                    <th width="10%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" id="paginador"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<div id="edita" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>Nombre</label><br />
                            <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
                            <br clear="all" />
                        </div>
                        <div class="col-md-4 checactivo">
                            <br />
                            <input type="checkbox" name="ed_hexadecimal" id="ed_hexadecimal" />   <label for="ed_hexadecimal">Hexadecimal</label>
                            <br>
                            <input type="checkbox" id="ed_activo" name="ed_activo" class="form-control">  <label for="ed_activo">Activo</label>
                        </div>
                        @*<div class="col-md-12" align="center">
                                <span>Longitud</span><br />
                            </div>*@
                        <div class="col-md-6">
                            <label><i>Longitud Mínima</i></label><br />
                            <input type="text" id="ed_minima" name="ed_minima" placeholder="Mínina" class="form-control input-xsmall validate[required,custom[integer]]" data-width="150px">
                        </div>
                        <div class="col-md-6">
                            <label><i>Longitud Máxima</i></label><br />
                            <input type="text" id="ed_maxima" name="ed_maxima" placeholder="Máxima" class="form-control input-xsmall validate[required,custom[integer]]" data-width="150px">
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info btn-sm" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>








<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">

        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de desactivar esta Serie?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright">Cerrar</button>
                    <button type="submit" class="btn btn-danger" id="eliminar">Desactivar</button>
                </div>
            </div>
        </div>
    </form>
</div>





<div id="activa" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaactiva" action="#" method="post">
        <input type="hidden" value="" id="activa_id" name="activa_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinactiva" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de activar esta Serie?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    <button type="submit" class="btn btn-info" id="activar">Activar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="~/Content/pags/Utilerias/serie.js"></script>
<script src="/Content/pags/paginacion.js"></script>