﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<script>
    function validar() {
        $('#panel').empty();
       var clave= $('#clave').val();
        $.ajax({
            url: '/Refresh/valida',
            dataType: 'json',
            data: { 'clave': clave },
            type: "POST",
            success: function (data) {
            
                if (data == "-1") {
                    toastr.warning("Atención, el aparato no esta asignado a un técnico");
                }
                else if(data =="-2"){
                    toastr.warning("Atención, la serie no existe en su inventario");
                }
                else if (data == "-3") {
                    toastr.warning("Atención, su usuario no tiene un distribuidor asignado");
                }
                else if (data == "-4") {
                    toastr.warning("Atención, la serie no pertenece a un STV-001HD");
                }
                else {

                    $('#panel').append("<label><b>Nombre del técnico</b></label> : " + data + "<br><label><b>serie Aparato </b></label> :" + clave + "<br><button class='btn btn-info refresh' rel='"+clave+"' id='refresh' onclick='ref();'><i class='fa fa-refresh fa-spin fa-3x fa-fw'></i> Aplicar refresh</button><input type='hidden' value='"+clave+"' id='c'>");
                    $('#panel').show();
                }
            },
            error: function (request, error) {
                toastr.error('Surgió un error, intente nuevamente más tarde');
            }
        });
    };

    
    function ref() {
        

        var clave=$('#c').val();
        $.ajax({
            url: '/Refresh/HacerRefresh',
            dataType: 'json',
            data: { 'clave': clave },
            type: "POST",
            success: function (data) {
                if (data == "-1") {
                    toastr.warning("Atención, hubo un error de conexión intente más tarde");
                }
                else if(data=="0") {
                    toastr.warning("Atención, no se pudo ejecutar el refresh de aparatos");
                }
                else {
                    toastr.warning(data);
                    $('#clave').val('');
                    $('#c').val('');
                    $('#panel').hide();


                }
            },
            error: function (request, error) {
                toastr.error('Surgió un error, intente nuevamente más tarde');
            }
        });

       
    }
    

</script>


<div class="card" >



    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Refresh de aparatos</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
           

        </div>
    </div>


    <div class="card-body" style="padding:30px;">
        <center>
            <br />
            <h4>Ingresa la clave del aparato</h4>
            <br />
            <div class="row">

                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="clave" placeholder="clave del aparato" />

                    </div>
                    <div class="col-md-3">

                        <button type="button"
                                class="btn btn-block ink-reaction btn-flat btn-info"
                                data-toggle="tooltip" data-placement="right" title=""
                                data-original-title="Validar la serie"
                                onclick="validar();">
                            <i class="glyphicon glyphicon-ok"></i> Validar serie
                        </button>


                    </div>

                </div>

                <div class="col-md-2">

                </div>

            </div>
            <div class="row" id="panel">

            </div>
        </center>
    </div>
      

                
      





</div>



