﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
}


<div class="card" >


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Vehículos</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button class="btn btn-block ink-reaction btn-flat btn-info" data-toggle='tooltip' data-placement='right' title='' data-original-title='Agrega un nuevo vehículo' type="button" id="add"> Nuevo</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <p class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i> Filtros:</p>
            </div>
            <div class="col-md-10">

                <div class="form-group">
                    <div class="col-md-4">
                        <select id="bdistrib" class="form-control input-sm">
                            <option value="0">Todos los distribuidores</option>
                            @foreach (var a in distribuidor.OrderBy(x => x.Nombre))
                            {
                                <option value="@a.catDistribuidorClave">@a.Nombre</option>
                            }

                        </select>


                    </div>
                    <div class="col-md-4">

                        <input type="text" class="form-control input-sm" id="bseguro" placeholder="#poliza" />


                    </div>
                    <div class="col-md-2">


                        <button class="btn btn-info btn-sm " id="sbuscar">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Buscar
                        </button>

                    </div>
                </div>



            </div>


        </div>




        <table class="table" id="indice" style="padding-left:10px;">
            <thead>
                <tr>
                    <td>Distribuidor</td>
                    <td>Conductor</td>
                    <td>No.Serie</td>
                    <td>No.Placas</td>
                    <td>No.Póliza</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td>Distribuidor</td>
                    <td>Conductor</td>
                    <td>No.Serie</td>
                    <td>No.Placas</td>
                    <td>No.Póliza</td>
                    <td>Opciones</td>
                </tr>
            </tfoot>
        </table>




    </div>

  


</div>



















<div id="addVehiculo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

    <input type="hidden" value="" id="activa_id" name="activa_id" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinactiva" class="modal-title">Agregar Vehículo</h4>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a data-target="#home" data-toggle="tab"><i class="fa fa-bars" aria-hidden="true"></i> Detalles de vehículo</a></li>
                    <li><a data-target="#profile" data-toggle="tab"><i class="fa fa-car" aria-hidden="true"></i> Caracteristicas del vehículo</a></li>


                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">

                                    <div class="col-md-6">
                                        Distribuidor: <select class="form-control" id="distrib">
                                            <option value="0" disabled>Selecciona distribuidor</option>
                                            @foreach (var a in distribuidor)
                                            {
                                                <option value="@a.catDistribuidorClave">@a.Nombre</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="col-md-6">
                                        Plaza de encierro: <select class="form-control" id="plaza">
                                            <option value="0" disabled>Selecciona plaza</option>
                                          </select>
                                    </div>




                                  
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    Conductor Titular:
                                    <input type="text" placeholder="Nombre del conductor titular" id="nombreC" class="form-control" />

                                </div>
                                <div class="col-md-6">
                                    Serie:
                                    <input type="text" placeholder="# de serie" id="serie" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    Placas:
                                    <input type="text" id="placas" placeholder="Placas" class="form-control" />

                                </div>
                                <div class="col-md-6">
                                    Póliza:
                                    <input type="text" placeholder="# de poliza" id="poliza" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                   
                                    <input type="checkbox" class="asegurado" > Asegurado
                                </div>
                                <div class="col-md-3">

                                    <input type="checkbox" class="activo"> Activo
                                </div>
                                <div class="col-md-6">
                                   
                                </div>
                            </div>



                        </div>



                    </div>
                    <div class="tab-pane" id="profile">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    Marca:
                                    <input type="text" placeholder="Marca" id="marca" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    Modelo:
                                    <input type="text" placeholder="Modelo" id="modelo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    Color:
                                    <input type="text" placeholder="Color" id="color" class="form-control" />
                                </div>
                                
                            </div>


                            <div class="col-md-12">
                                <p>Detalles generales:</p>
                                <textarea class="form-control" id="detalles"></textarea>
                            </div>

                        </div>


                    </div>

                </div>















                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                <button type="button" class="btn btn-info btn-sm" id="Guardar">Guardar</button>
                <button type="button" class="btn btn-info btn-sm" id="edita">Editar</button>
                <input type="hidden" id="idVehiculo" />
            </div>
        </div>
    </div>

</div>




<div id="DetalleVehiculo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

    <input type="hidden" value="" id="activa_id" name="activa_id" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinactiva" class="modal-title">Detalles del Vehículo</h4>
            </div>
            <div class="modal-body">

                <div class="row" style="margin-top:30px;">
                    <div class="col-md-2" style="padding-left:30px;">
                        
                      

                    </div>

                    <div class="col-md-10">
                        <table class="table table-hover-color" style="font-size:12px;">
                            <tbody id="dchofer"></tbody>
                        </table>

                    </div>


                </div>
               

                <div class="row">
                    <div class="col-md-2">
                        

                    </div>
                    <div class="col-md-10">
                        <table class="table table-hover-color" style="font-size:12px;">
                            <tbody id="dvehiculo"></tbody>
                        </table>

                    </div>

                </div>

         





                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>

            </div>
        </div>
    </div>

</div>


<script src="~/Content/pags/vehiculos/Lista.js"></script>

<script>

    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });

</script>