﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];




}


<div class="card" style="padding:30px;">
    <div class="card-head" style="">
        <header>
            <div class="alert alert-callout alert-success" role="alert">
                <strong style="font-weight:bold; border:none;">Autorización de órdenes de compra </strong>
                <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
            </div>

        </header>
        <div class="tools">

        </div>
    </div>


    <div class="form-group">
        <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="buscastatus">
            <option value="-1">Estatus</option>
            <option value="1">Por autorizar</option>
            <option value="2">Autorizados</option>
            <option value="5">Rechazados</option>
        </select>

        @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
        {
            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="buscaproveedor">
                <option value="-1">Proveedor</option>
                @foreach (web.Models.catProveedor p in proveedores)
                {
                    <option value="@p.catProveedorClave">@p.Nombre</option>
                }
            </select>
        }




        <form id="formbusca" action="#" method="post">
            <input type="text" placeholder="# de Orden de Compra" class="form-control input-sm validate[custom[integer]]" style="width:250px;float:left;margin-right:10px" id="abuscar" />
            <button type="button" class="btn btn-info btn-sm" id="buscar">
                <i class="fa fa-search" aria-hidden="true"></i>
                Buscar
            </button>
        </form>
    </div>




    <a class="btn btn-icon-toggle  btn-default" id="btnaut" style="display:none" href="#offcanvas-search-autorizacion" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
    <table class="table" id="datos" style="font-size:12px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Almacén</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Total USD</th>
                <th>Estatus</th>
                <th>Detalle</th>
                <th>Acciones</th>
            </tr>
        </thead>


    </table>




</div>




<div class="offcanvas">

    <!-- BEGIN OFFCANVAS SEARCH -->
    <div id="offcanvas-search-autorizacion" class="offcanvas-pane" style="width:1000px;">
        <div class="offcanvas-head">
            <header class="text-primary" id="titulocanvas-aut"></header>
            <div class="offcanvas-tools">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas" id="close">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>

        <div class="offcanvas-body no-padding">
            <div style="position:fixed; z-index:100;color:#ff0000; padding:10px; background-color:#ffffff; width:100%;display:none;" id="autorizacion">
                <form id="formadetalle" action="#" method="post">

                    @*<label>Comentarios</label>
                        <textarea id="comentario" class="form-control validate[required]"></textarea>*@

                    <input type="hidden" id="autoriza_id" name="autoriza_id" />
                    <br />

                    <button type="button" class="btn btn-danger">Rechazar</button>
                    <button type="button" class="btn btn-success">Autoriza</button>
                </form>
            </div>


            <iframe id="frameaut" src="" style="position:absolute;top:0px;width:100%;height:100vh;"></iframe>
        </div><!--end .offcanvas-body -->
    </div>


</div>











<script src="~/Content/pags/AutorizacionOrdenes/funciones.js"></script>
<script src="~/Content/pags/AutorizacionOrdenes/Lista.js"></script>
