﻿@{
    ViewBag.Title = "Pagos";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
    List<web.Models.catBanco> bancos = (List<web.Models.catBanco>)ViewData["bancos"];
    List<web.Models.CatTipoPago> pagos = (List<web.Models.CatTipoPago>)ViewData["pagos"];

    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();


}


<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   .seleccionarpedido{ display:none !important;}

               ")

           @Html.Raw(@"
                   .pago{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {

                @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
                 @Html.Raw(@"
                   .cancel{ display:none !important;}

               ")
           }


            if (a.Ejecuta.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   .factura{ display:none !important;}

               ")
            }

        }


    }


</style>




<div class="card">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; font-size: 16px; ">Pago de pedidos</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">procesos</a></small>

        </header>
        <div class="tools">

        </div>
    </div>


    <div class="card-body">


        <div class="form-group">
            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="buscastatus">
                <option value="-1">Estatus</option>
                <option value="12">Por Pagar</option>
                <option value="-12">Pagados</option>
            </select>
            @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
            {
                <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="buscadistribuidor">
                    <option value="-1">Distribuidor</option>
                    @foreach (web.Models.catDistribuidor p in distribuidores)
                    {
                        <option value="@p.catDistribuidorClave">@p.Nombre</option>
                    }
                </select>
            }
            <form id="formbusca" action="#" method="post">
                <input type="text" placeholder="# de Pedido" class="form-control validate[custom[integer]] input-sm" style="width:250px;float:left;margin-right:10px;" id="abuscar" />
                <button type="button" class="btn ink-reaction btn-info btn-sm" id="buscar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Buscar
                </button>




            </form>
        </div>





        <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>



        <table class="table" id="datos">
            <thead>
                <tr>
                    <th style="width:10%">#</th>
                    <th style="width:20%">Distribuidor</th>
                    <th style="width:10%">Fecha</th>
                    <th style="width:10%">Total</th>
                    <th style="width:10%">Total USD</th>
                    <th style="width:10%">Estatus</th>
                    <th style="width:10%">Facturacion</th>
                    <th style="width:20%">Acciones</th>
                </tr>
            </thead>


        </table>



    </div>






</div>






































<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Pedido</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="pago" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formapago" action="#" method="post">
        <input type="hidden" id="pago_id" name="pago_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Capturar Pago</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-9">
                            <iframe src="/Pedido/Detalle" frameborder="0" width="700" height="700" id="eliframepago"></iframe>
                        </div>
                        <div class="col-md-3">
                            Capture el monto del pago<br />
                            Monto en M.N.<br />
                            <input type="text" class="form-control validate[required,custom[number]]" id="montopesos" name="montopesos" value="0" /><br />
                            Monto en USD<br />
                            <input type="text" class="form-control validate[required,custom[number]]" id="montodolares" name="montodolares" value="0" /><br />

                            Forma de Pago<br />
                            <select class="form-control validate[required]" id="forma_pago" name="forma_pago">
                                <option selected>Selecciona</option>
                                @foreach (var p in pagos.Where(x => x.Activo == true))
                                {
                                    if (@p.Cuenta == true)
                                    {
                                        <option cuenta="si" value="@p.Descripcion">@p.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option cuenta="no" value="@p.Descripcion">@p.Descripcion</option>
                                    }

                                }
                            </select><br />
                            Número de cuenta<br />
                            <input type="text" class="form-control validate[required,custom[number]]" maxlength="4" id="cuenta" name="cuenta" value="0" />
                            <br />
                            Banco<br />
                            <select class="form-control validate[required]" id="banco" name="banco">
                                <option value="">Seleccione</option>
                                @foreach (web.Models.catBanco b in bancos)
                                {
                                    <option value="@b.catBancoClave">@b.Descripcion</option>
                                }
                            </select><br />
                            Fecha de Pago (dd/MM/yyyy)<br />
                            <input type="text" class="form-control validate[required,custom[date]]" id="fechapago" name="fechapago" value="" /><br />
                            <button type="button" class="btn btn-info btn-sm" id="validaimportes">Registrar pago</button>
                        </div>
                        <br clear="all" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="ed_pago" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="ed_formapago" action="#" method="post">
        <input type="hidden" id="ed_pago_id" name="ed_pago_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Editar Pago</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-12">
                        <h4>Monto del Pago</h4>
                        <div class="col-md-4">
                            <label>Monto en M.N.</label>
                            <input type="text" class="form-control validate[required,custom[number]]" id="ed_montopesos" name="ed_montopesos" value="0" /><br />
                        </div>
                        <div class="col-md-4">
                            <label>Monto en USD</label>
                            <input type="text" class="form-control validate[required,custom[number]]" id="ed_montodolares" name="ed_montodolares" value="0" /><br />
                        </div>
                        <div class="col-md-4">
                            <label>Forma de Pago</label>
                            <select class="form-control validate[required]" id="ed_forma_pago" name="ed_forma_pago">
                                <option selected>Selecciona</option>
                                @foreach (var p in pagos.Where(x => x.Activo == true))
                                {
                                    if (@p.Cuenta == true)
                                    {
                                        <option cuenta="si" value="@p.Descripcion">@p.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option cuenta="no" value="@p.Descripcion">@p.Descripcion</option>
                                    }

                                }
                            </select><br />
                        </div>
                        <div class="col-md-4">
                            Número de cuenta<br />
                            <input type="text" class="form-control validate[required,custom[number]]" maxlength="4" id="ed_cuenta" name="ed_cuenta" value="0" />
                            <br />
                        </div>
                        <div class="col-md-4">
                            <label>Banco</label>
                            <select class="form-control validate[required]" id="ed_banco" name="ed_banco">
                                <option value="">Banco</option>
                                @foreach (web.Models.catBanco b in bancos)
                                {
                                    <option value="@b.catBancoClave">@b.Descripcion</option>
                                }
                            </select><br />
                        </div>
                        <div class="col-md-4">
                            <label>Fecha de Pago (dd/MM/yyyy)</label>
                            <input type="text" class="form-control validate[required,custom[date]]" id="ed_fechapago" name="ed_fechapago" value="" /><br />
                        </div>
                        <div class="col-md-4">
                            <label>Usuario Registro</label><br />
                            <label id="ed_user"></label><br />
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="button" class="btn btn-success btn-sm editOk">Aceptar</button>
                </div>
            </div>
        </div>
    </form>
</div>


@Html.Partial("_Confirma")


<script src="/Content/pags/Utils.js"></script>
<script src="/Content/pags/ordencompradistribuidor-pagos.js"></script>
<script src="/Content/pags/paginacion.js"></script>