﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];
    List<web.Models.catUbicacion> ubicaciones = (List<web.Models.catUbicacion>)ViewData["ubicaciones"];

    List<web.Models.catUnidad> unidades = (List<web.Models.catUnidad>)ViewData["unidades"];


    List<web.Models.Entidad> tecnicos = (List<web.Models.Entidad>)ViewData["tecnicos"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catTipoSalida> tipossalida = (List<web.Models.catTipoSalida>)ViewData["tipossalida"];


    List<web.Models.Usuario> usuarios = (List<web.Models.Usuario>)ViewData["usuarios"];



    List<web.Models.Proceso> salidaspendientes = (List<web.Models.Proceso>)ViewData["salidaspendientes"];

    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();


    
    
    

}

<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
             
           }

        }


    }


</style>



<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Salida de Material</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">Administración</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">

        <div class="content">



            <div class="row">
                <div class="col-sm-9 col-md-9">
                    <div class="widget-box">


                        <div class="form-group">
                            <select class="form-control" style="width:250px;float:left;margin-right:10px" id="tecnico" name="tecnico">
                                <option value="@Guid.Empty">Tecnicos</option>
                                @foreach (web.Models.Entidad t in tecnicos)
                                {
                                    <option value="@t.EntidadClave">@t.Nombre</option>
                                }
                            </select>
                            <input type="text" placeholder="# de Salida" class="form-control" style="width:250px;float:left" id="abuscar" />
                            <button type="button" class="btn btn-info" id="buscar">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Buscar
                            </button>
                        </div>


                        <div id="nuevos" class="tab-pane fade active in">

                            <h4 class="caption" id="resultadosnuevos"></h4>
                            <table class="table table-hover-color" id="datos" style="font-size:12px;">
                                <thead>
                                    <tr>
                                        <th># Salida</th>
                                        <th># Orden de Compra</th>
                                        <th>Fecha</th>
                                        <th>Técnico</th>
                                        <th>Estatus</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <th># Salida</th>
                                        <th># Orden de Compra</th>
                                        <th>Fecha</th>
                                        <th>Técnico</th>
                                        <th>Estatus</th>
                                        <th>Opciones</th>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info" id="PanelAcciones">
                        <div class="panel-heading">
                            <div class="caption">Acciones</div>
                        </div>
                        <div class="panel-body">
                            <p>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-labeled btn-info" id="add"><span class="btn-label"><i class="fa fa-plus"></i></span> Salida a técnico</button>
                                        @*<button type="button" class="btn btn-default btn-block" id="add">
                                            Salida a técnico
                                        </button>*@


                                    </div>
                                </div>

                                <br /><br /><br />

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editadistribuidor" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditadistribuidor" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindistribuidor" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <ul id="myTab5distribuidor" class="nav nav-tabs">
                        <li class="active"><a href="#t1distribuidor" data-toggle="tab" id="tt1">Pedidos Pendientes</a></li>
                        <li><a href="#t2distribuidor" data-toggle="tab" id="tt2">Productos</a></li>

                        <div id="myTabContent4distribuidor" class="tab-content">
                            <div id="t1distribuidor" class="tab-pane fade active in">
                                <div class="form-group">

                                    <br clear="all" />


                                    <table class="table table-hover-color" id="datospedido">
                                        <thead>
                                            <tr>
                                                <th># Pedido</th>
                                                <th>Distribuidor</th>
                                                <th>Seleccionar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (web.Models.Proceso p in salidaspendientes)
                                            {
                                                <tr>
                                                    <td>@p.NumeroPedido</td>
                                                    <td>@p.catDistribuidor.Nombre</td>
                                                    <td><button type='button' class='btn btn-info btn-xs seleccionarpedido' rel='@p.NumeroPedido' data-almacen="@p.EntidadClaveSolicitante">&nbsp;Seleccionar</button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                            <div id="t2distribuidor" class="tab-pane fade in">
                                <div class="form-group">
                                    <br clear="all" />
                                    <div class="col-md-9"></div>

                                    <table class="table table-hover-color" id="articulostabledistribuidor">
                                        <thead>
                                            <tr>
                                                <th>Artículo</th>
                                                <th>Cantidad</th>
                                                <th>Salida</th>
                                                <th>Pendiente</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" id="paginadordistribuidor"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <br clear="all" />
                </div>
                <div class="modal-footer hide" id="botonesdistribuidor">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <ul id="myTab5" class="nav nav-tabs">
                        <li class="active"><a href="#t1" data-toggle="tab" id="at1">General</a></li>
                        <li><a href="#t2" data-toggle="tab" id="at2">Productos</a></li>

                        <div id="myTabContent4" class="tab-content">
                            <div id="t1" class="tab-pane fade active in">
                                <div class="form-group">

                                    <br clear="all" />
                                    <div class="col-md-12">
                                        <label>Almacen</label><br />
                                        <select id="ed_almacen" name="ed_almacen" class="form-control validate[required]">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.Entidad enti in almacenes)
                                        {
                                        <option value="@enti.EntidadClave">@enti.Nombre</option>
                                        }
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Tipo de Salida</label><br />
                                        <select id="ed_tiposalida" name="ed_tiposalida" class="form-control validate[required]">
                                            
                                            @foreach (web.Models.catTipoSalida ts in tipossalida)
                                        {
                                        <option value="@ts.catTipoSalidaClave">@ts.Descripcion</option>
                                        }
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Técnico</label><br />
                                        <select id="ed_tecnico" name="ed_tecnico" class="form-control validate[required]">
                                        <option value="">Selecciona</option>
                                        @foreach (web.Models.Entidad usu in tecnicos)
                                        {
                                        <option value="@usu.EntidadClave" data-almacen="@string.Join(",", usu.AmbitoAlmacen.Select(o=>o.EntidadClaveAlmacen))">@usu.Nombre</option>
                                        }
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <label>Observaciones</label><br />
                                        <textarea id="ed_observaciones" name="ed_observaciones" class="form-control"></textarea>
                                    </div>

                                </div>
                            </div>
                            <div id="t2" class="tab-pane fade in">
                                <div class="form-group">
                                    <br clear="all" />
                                    <div class="col-md-9"></div>
                                    <div class="col-md-3"><button type="button" class="btn btn-default" id="agregar">Agregar Artículo</button></div>

                                    <table class="table table-hover-color" id="articulostable">
                                        <thead>
                                            <tr>
                                                <th>Artículo</th>
                                                <th>En Almacen</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" id="paginador"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-labeled btn-danger" data-dismiss="modal"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Cancelar</button>
                    <button type="submit" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="articulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaarticulo" action="#" method="post">

        <input type="hidden" value="" id="art_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinarticulo" class="modal-title">Agregar Artículo</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Clasificacion de Material</label><br />
                            <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                                <option value="">Selecciona</option>
                                @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                                {
                                <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label>Tipo de Material</label><br />
                            <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                                <option value="">Seleccion</option>
                                @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                                {
                                <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" class="optiontipo">@tia.Descripcion</option>
                                }
                            </select>
                        </div>


                        <div class="col-md-6">
                            <label>Artículo</label><br />
                            <select id="ed_articulo" name="ed_articulo" class="form-control validate[required]">
                                <option value="">Seleccion</option>

                            </select>
                        </div>

                        <div class="col-md-3">
                            <label>En Almacén</label><br />
                            <input type="text" id="en_almacen" name="en_almacen" class="form-control">
                        </div>

                        <div class="col-md-3">
                            <label>Cantidad</label><br />
                            <input type="text" id="ed_cantidad" name="ed_cantidad" class="form-control validate[required,custom[integer]]">
                        </div>


                        <div class="col-md-6">
                            <input type="text" id="ed_buscar" name="ed_buscar" class="form-control" placeholder="Buscar" style="display:none">
                        </div>

                        <div class="col-md-12">
                            <label id="lblBusqueda"></label>
                            <br />
                            <input type="text" id="_DetBuscar" class="form-control" style="text-transform: uppercase">
                        </div>

                        <br clear="all" />
                        <div class="col-md-12">
                            <table class="table table-hover-color" id="lasseries">
                                <thead>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>


                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-info" id="agregararticulo">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">

        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de eliminar este Artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-danger" id="eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade modal-lg">
    <form id="formadetalle" action="#" method="post">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 class="modal-title">Salida de Material</h4>
                </div>
                <div class="modal-body">


                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>


                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="editadetalle" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeditadetalle" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindetalle" class="modal-title"></h4>
                </div>
                <div class="modal-body">




                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="cancelar" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formacancelar" action="#" method="post">

        <input type="hidden" value="" id="cancelar_id" name="cancelar_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowincancelar" class="modal-title">Cancela Salida a Técnico</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de cancelar esta salida a técnico?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    <button type="submit" class="btn btn-danger" id="cancelarsalida">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/Content/pags/Utils.js"></script>
<script src="/Content/pags/salida.js"></script>
<script src="/Content/pags/salidamaterialdetalle.js"></script>


<script src="/Content/pags/salida-distribuidor.js"></script>

<script src="/Content/pags/paginacion.js"></script>