﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distri = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
}



<div class="card" >
 

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Recepción de devolución de material</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Devoluciones</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">        </div>
    </div>

  




    <div class="card-body">
        <div class="row">
            <div class="form-group">
                <select id="Distribuidor" class="form-control input-sm" style="width:250px;float:left;margin-right:10px">
                    <option disabled>Selecciona distribuidor</option>
                    @foreach (var a in distri.OrderBy(x => x.Nombre))
            {
                        <option value="@a.catDistribuidorClave">@a.Nombre</option>
                    }

                </select>
                <select id="falmac" class="form-control input-sm" style="display:none; width:250px;float:left;margin-right:10px">
                    <option disabled>Selecciona distribuidor</option>
                    @foreach (var a in distri.OrderBy(x => x.Nombre))
            {
                        <option value="@a.catDistribuidorClave">@a.Nombre</option>
                    }

                </select>

                <input type="text" placeholder="Número de orden" class="form-control input-sm" id="orden" style="width:250px;float:left;margin-right:10px" />
                <button class="btn ink-reaction  btn-info btn-sm" id="buscar">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>

        </div>

        <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="indice">
            <thead>
                <tr>
                    <td>Orden</td>
                    <td>Fecha</td>
                    <td>Status</td>
                    <td>Almacén de origen</td>
                    <td>Detalle de devolución</td>
                    <td>Opciones de recepción</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>

  



</div>



<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title" id="titulo_ver"></h4>
                </div>
                <div class="modal-body">
                    <iframe src="#" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="DetalleDevolucion" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

    <div class="modal-dialog modal-lg">
        <div class="modal-content  ">
            <div class="modal-header ">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinsinpedido" class="modal-title">Detalle devolución </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert"><b>Atención: </b>Los siguientes artículos se ingresarán al almacén central</div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover-color" id="tabladetalle">
                            <thead>
                                <tr>
                                    <td style="font-size:14px;"><b>Artículo</b></td>
                                    <td style="font-size:14px;"><b>Cantidad en devolución</b></td>
                                    <td style="font-size:14px;"><b>Series/Piezas</b></td>
                                </tr>
                            </thead>
                            <tbody id="contenidoresumen"></tbody>
                        </table>

                    </div>

                    <div class="col-md-6" style="max-height:300px;overflow-y:scroll; ">
                        <table class="table" id="tablaseries">
                            <thead>
                                <tr>
                                    <td style="font-size:14px;"><b>Serie de aparato</b></td>
                                    <td style="font-size:14px;"><b>Estado</b></td>
                                </tr>
                            </thead>
                            <tbody id="contenidoseries"></tbody>
                        </table>

                    </div>
                </div>

                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cancelar</button>
                <input type="hidden" id="iddev" />
                <button type="button" class="btn btn-success btn-sm" id="guardaRecepcion">Guarda Recepción</button>
            </div>
        </div>
    </div>

</div>






<script src="~/Content/pags/RecepcionDevMaterial/Lista.js"></script>
<script src="~/Content/pags/RecepcionDevMaterial/Funciones.js"></script>