﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catClasificacionArticulo>clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo> )ViewData["tiposarticulo"];

    web.Models.Entidad e = (web.Models.Entidad)ViewData["e"];
    
}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script>

    $(document).ready(function () {

       


        $("#obtenexcel").click(function () {


            if (document.getElementById("cla").value == null || document.getElementById("cla").value == -1) {
                alert("debe de elegir alguna opcion ")
            }
            if (document.getElementById("tip").value == null || document.getElementById("tip").value == -1) {
                alert("debe de elegir alguna opcion ")
            }
        var cla = document.getElementById("cla").value;
        var tip = document.getElementById("tip").value;
        var almacen = document.getElementById("almacen").value;

        document.getElementById("clasi").value = cla;
        document.getElementById("tipo").value = tip;
        document.getElementById("almace").value = almacen;


        });

        $('#obtenexcel').attr("disabled", true);

        $("#cla").change(function () {
            if ($("#cla").val() == -1 || $("#tip").val() == -1) {
                $('#obtenexcel').attr("disabled", true);
               
            }
            if ($("#cla").val() >-1 && $("#tip").val() > -1) {
                $('#obtenexcel').attr("disabled", false);
              

            }
        });

        $("#tip").change(function () {
            
            if ($("#cla").val() == -1 || $("#tip").val() == -1) {
                $('#obtenexcel').attr("disabled", true);
               
            }
            if ($("#cla").val() > -1 && $("#tip").val() > -1) {
                $('#obtenexcel').attr("disabled", false);
            

            }
        });

    });


   
      
 
 
        
        



       
        
   
   

</script>
<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Saldo Articulos del Almacén @e.Nombre</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Reportes&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">Saldo Articulos</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">

        <div class="content">



            <div class="row">
                <div class="col-md-4">
                    <div class="widget-box">

                        <input type="hidden" id="almacen" name="almacen" value="@(Request["u"])" />

                        <div class="form-group">
                            <div class="col-md-12">
                                <select class="selectpicker form-control" data-style="btn-white" data-width="250px" id="cla" name="cla" >
                                    <option value="-1">Clasificación Artículo</option>
                                    @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                                    {
                                        <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-12">
                                <select class="selectpicker form-control" data-style="btn-white" data-width="250px" id="tip" name="tip" >
                                    <option value=" -1">
                                    Tipo de Articulo
                                    </option>
                                </select>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default btn-sm" id="buscar">
                                    Generar Reporte
                                </button>
                                @using (Html.BeginForm("getexcel", "SaldoArticulo", new { clasi = "clasi", tipo = "tipo", almace = "almace" }, FormMethod.Post, new { @class = "header-search pull-right" }))
                                {
                                    

                                    <input type="hidden" id="clasi" name="clasi" />
                                    <input type="hidden" id="tipo" name="tipo" />
                                    <input type="hidden" id="almace" name="almace" />

    

    <input type="submit" value="obtener reporte excel" id="obtenexcel" class="btn btn-success" />
                                    @*<button type="submit" class="btn btn-success btn-sm" id="obtenexcel">Obtener Reporte en excel</button>*@
                                }
                            </div>
                            <div>@ViewBag.error</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <iframe src="/SaldoArticulo/Detalle" width="100%" height="600" frameborder="0" id="eliframe"></iframe>

                </div>
        </div>
    </div>
</div>


<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <div class="form-group">
            <br clear="all" />
            <div class="col-md-6">
                <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                    <option value="">Seleccion</option>
                    @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                    {
                        <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" class="optiontipo">@tia.Descripcion</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div>


<script>
    var _acciones = true;

    @if (web.Utils.Config.Dame("EDITARELACIONADOS").ToLower() == "no")
    {
        @("_acciones = false;");
    }

</script>
 <script src="~/Content/pags/saldo-articulo.js"></script>