﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificacion"];

}


<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Aparatos en robo</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Inventario</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdf"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
           
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>



    <div class="card-body">
        <div class="row">
            <div class="col-md-12" id="filtrosDiv" align="center" style="padding-bottom:30px">
                     <div class="col-md-4    col-md-offset-2">
                        <div style="margin:10px;">
                            <label style=" font-weight:bold">   Distribuidor:  </label>
                            <select class="form-control" id="distribuidor" name="distribuidor">
                                <option value="0" selected>Todos los distribuidores</option>
                                @foreach (var a in distribuidores)
                                {
                                    <option value="@a.catDistribuidorClave">@a.Nombre</option>
                                }
                            </select>
                        </div>

                        <div style="margin:10px;">
                            <label style="font-weight:bold">Almacén:</label>
                            <select class="form-control" id="almacen" name="almacen">
                                <option value="0" selected>Todos los almacenes</option>
                            </select>
                        </div>

                        <div style="margin:10px;">
                            <label style="font-weight:bold">Clasificación</label>
                            <select class="form-control" id="clasificacion" name="clasificacion">
                                @foreach (var c in clasificaciones)
                                {
                                    <option value="@c.catClasificacionArticuloClave">@c.Descripcion</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div style="margin:10px;">
                            <label style="font-weight:bold">Tipo de artículos:</label>
                            <select class="form-control" id="tiparticulos" name="tiparticulos">
                                <option value="0" selected>Todos los tipos</option>
                            </select>
                        </div>

                        <div style="margin:10px;">
                            <label style="font-weight:bold">Artículos:</label>
                            <select class="form-control" id="articulos" name="articulos">
                                <option value="0" selected>Todos los artículos</option>
                            </select>
                        </div>
                    </div>

                   

            

            </div>

        </div>
     
    </div>
</div>










<script src="~/Content/pags/ReporteRobados/AparatosRobados.js"></script>

