﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}


<div class="card" >


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Distribuidores</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
           
        </div>
    </div>

   <div class="card-body">
       <table class="table" id="datos" style="padding-left:10px;">
           <thead>
               <tr>
                   <th>Nombre</th>
                   <th>Activo</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody></tbody>

       </table>

   </div>
    

    
</div>


<div id="edita" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

    <input type="hidden" value="" id="ed_id" name="ed_id" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">&times;</button>
                <h4 id="titulowin" class="modal-title"></h4></div>
            <div class="modal-body">

<div class="form-group">
<div class="col-md-12">

    <h4>Datos Generales</h4>
    <div class="col-md-8">
    <label>Nombre</label><br />
        <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre"  maxlength="50" class="form-control validate[required]">
    </div>

     <div class="col-md-4">
    <label>RFC</label><br />
        <input type="text" id="ed_rfc" name="ed_rfc" placeholder="RFC"  maxlength="13" class="form-control validate[required]" />
    </div>

    

    <br clear="all"/>
    <h4>Dirección</h4>
    <div class="col-md-8">
    <label>Domicilio</label><br />
        <input type="text" id="ed_CalleNumero" name="ed_CalleNumero" placeholder="Calle y Numero" maxlength="150" class="form-control validate[required]" />
    </div>


    <div class="col-md-4">
    <label>Colonia</label><br />
        <input type="text" id="ed_Colonia" name="ed_Colonia" placeholder="Colonia" maxlength="50" class="form-control validate[required,custom[alfabeto]]" />
    </div>

     <div class="col-md-6">
    <label>Codigo Postal</label><br />
         <input type="text" id="ed_CodigoPostal" name="ed_CodigoPostal" placeholder="C.P." maxlength="5" class="form-control validate[required,custom[integer],minSize[5]]" />
    </div>

    <div class="col-md-6">
    <label>Ciudad</label><br />
        <input type="text" id="ed_Ciudad" name="ed_Ciudad" placeholder="Ciudad" maxlength="50" class="form-control validate[required,custom[alfabeto]]" />
    </div>

    <br clear="all"/>
    <h4>Contacto</h4>

    <div class="col-md-6">
    <label>Nombre del contacto</label><br />
        <input type="text" id="ed_nombrecontacto" name="ed_nombrecontacto" placeholder="Nombre del contacto" maxlength="50" class="form-control validate[required,custom[alfabeto]]">
    </div>

    <div class="col-md-6">
    <label>Correo electrónico</label><br />
        <input type="text" id="ed_emailcontacto" name="ed_emailcontacto" placeholder="Correo electrónico de contacto"  maxlength="50" class="form-control validate[required,custom[email]]">
    </div>

    <div class="col-md-6">
    <label>Teléfono 1</label><br />
        <div class="col-md-4">
        <input type="text" id="ed_lada1contacto" name="ed_lada1contacto" placeholder="Lada"  maxlength="3" class="form-control validate[required,custom[integer],min[2]]">
        </div>
        <div class="col-md-8">
        <input type="text" id="ed_telefono1contacto" name="ed_telefono1contacto" placeholder="Teléfono 1"  maxlength="15" class="form-control validate[required,custom[integer]]">
        </div>
    </div>

    <div class="col-md-6">
    <label>Teléfono 2</label><br />
        <div class="col-md-4">
            <input type="text" id="ed_lada2contacto" name="ed_lada2contacto" placeholder="Lada" maxlength="3" class="form-control validate[required,custom[integer],min[2]]">
        </div>
        <div class="col-md-8">
        <input type="text" id="ed_telefono2contacto" name="ed_telefono2contacto" placeholder="Teléfono 2"  maxlength="15" class="form-control validate[required,custom[integer]]">
        </div>
    </div>
    <div class="col-md-6">
        <input type="checkbox" id="ed_activo" name="ed_activo" placeholder="Nombre" class="form-control"><label>&nbsp;&nbsp; Activo</label>
    </div>

       
</div>
</div>
<br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar
                </button>
                <button type="submit" class="btn btn-info" id="guarda" style="display:none">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>



<script>

    var _acciones = true;

    @if (web.Utils.Config.Dame("EDITARELACIONADOS").ToLower() == "no")
    {
        @("_acciones = false;");
    }



</script>
<script src="~/Content/pags/Distribuidores/Lista.js"></script>
