﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];

    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];

    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];



    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();



}

<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .editarecepcionsp{ display:none !important;}
                  .editarecepcion{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
               @Html.Raw(@"
                   .cancelarecepcion{ display:none !important;}

               ")
           }

        }


    }


</style>


<script type="text/javascript">
    function gettipoarticulos() {
        $("#mas_tipo_articulo").empty();
        var valor = parseInt($("select[id=mas_clasificacion]").val())
        $.ajax({
            type: "POST",
            url: '@Url.Action("gettipoarticulos", "CargaMasiva")',
            data: { id: valor },
            success: function (result) {
                $("#mas_tipo_articulo").append("<option value=''>Selecciona</option>");
                if (result) {
                    $("#mas_tipo_articulo").append(result);
                }
            }
        });
    }



    function getarticulos() {


        var valor = parseInt($("#mas_tipo_articulo").val());
        $('#mas_articulo').empty();

        var objRoles = {};
        objRoles.tipo = valor;

        $("#mas_articulo").append("<option value=''>Seleccione</option>");

        var myJSONText = JSON.stringify(objRoles);
        var url = '/Articulo/ObtenPorTipo2/?cs=1';
        $.ajax({
            url: url,
            dataType: 'json',
            data: { 'data': myJSONText },
            type: "POST",
            success: function (data) {

                var arreglo = eval(data);
                for (var i = 0; i < arreglo.length; i++) {

                    var yaesta = false;
                    var selected = '';
                    for (var j = 0; j < _objArticulos.length; j++) {
                        if (_objArticulos[j].ArticuloClave == arreglo[i].Clave) {

                            if (_indiceArticulo == -1) {
                                yaesta = true;
                            }
                            else {
                                selected = 'selected';
                            }
                        }
                    }

                    if (!yaesta) {
                        if (arreglo[i].Activo == "1") {
                            $("#mas_articulo").append("<option value='" + arreglo[i].Clave + "' data-catseriesclaves='" + JSON.stringify(arreglo[i].catSeriesClaves) + "' " + selected + ">" + arreglo[i].Descripcion + "</option>");
                        }
                    }
                }

                if (_indiceArticulo != -1) {
                    if (_objArticulos[_indiceArticulo].TieneSeries > 0) {
                        _seriales = _objArticulos[_indiceArticulo].Series;

                    }
                    else {
                        _seriales = new Array();
                        $("#lasseriessp").hide();
                        $("#lasseries").hide();
                    }
                }
            },
            error: function (request, error) {
                toastr.error("Ocurrio un error al momento de consultar la información");
            }
        });



    }

    function getseries_con_orden() {
        var conorden = true;
        $('#btnUpload2').attr('disabled', true);
        if ($("#inputFile2").get(0).files.length == 0) {
            toastr.error("Hey!,No hay archivo seleccionado");
        }
        else {

            if ($('#ed_articulo').val() == "" || $('#ed_articulo').val() == null) {
                toastr.error("Selecciona un artículo");
            }
            else {


                $('#existen').val('');
                var files = $("#inputFile2").get(0).files;


                var data = new FormData();
                for (i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }
                data.append("Articulo", $('#ed_articulo').val())

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetExcelData", "CargaMasiva")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        console.log(result);
                        GetSerie(result, conorden);
                        toastr.success("Se han encontrado " + result.Total + " Series");
                    },
                    error: function (request, error) {
                        toastr.error("Ha ocurrido un error,No se encontraron series");
                    }
                });

            }
        }

    }






    function getseries() {
        $('#btnUpload').attr('disabled', true);
        if ($("#inputFile").get(0).files.length == 0) {

            toastr.error("Hey!,No hay archivo seleccionado");
        }
        else {

            if ($('#mas_articulo').val() == "" || $('#mas_articulo').val() == null) {
                toastr.error("Selecciona un artículo");
            }
            else {
                $("#tbodyid").empty();
                $('#tbodysr ').empty();
                $('#existen').val('');
                var files = $("#inputFile").get(0).files;
                var almacen = $("#almacensinpedido").val();
                var proveedor = $("#proveedorsinpedido").val();
                var clasificacion = $("#mas_clasificacion").val();
                var tipo = $("#mas_tipo_articulo").val();
                var articulo = $("#mas_articulo").val();
                var precio = $("#mas_precio").val();
                var moneda = $("#mas_moneda").val();


                var data = new FormData();
                for (i = 0; i < files.length; i++) {
                    data.append("file" + i, files[i]);
                }
                data.append("Articulo", $('#mas_articulo').val())

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetExcelData", "CargaMasiva")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        console.log(result);
                        GetSerie(result);
                        if (parseInt(result.Total) == 0) {
                            $('#agregararticulo_carga_masiva').attr('disabled',true);
                        }
                        toastr.success("Se han encontrado " + result.Total + " Series");
                    },
                    error: function (request, error) {
                        toastr.error("Ha ocurrido un error,No se encontraron series");
                    }
                });


            }




        }

    }



    function activa() {
        $('#btnUpload').attr('disabled', false);

    }

    function activa2() {
        $('#btnUpload2').attr('disabled', false);
    }

</script>







<style>
    .secundaria {
        display: none !important;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>


<script>
    $(document).ready(function () {



        $("#agregararticulosinpedido").click(function () {
            $('#articulo').appendTo("body").modal('show');
        });


    });


</script>




<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Recepción de material</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <div class="btn-group">
                <button type="button" class="btn ink-reaction btn-flat btn-info btn-sm"
                        data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Recepción de material con orden de compra"
                        id="add" style="margin-right:5px;">
                    Recepción con orden
                </button>

                <button type="button" class="btn ink-reaction btn-flat btn-info btn-sm"
                        data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Recepción de material sin orden de compra"
                        id="addsin">
                    Recepción sin orden
                </button>

            </div>
        </div>
    </div>

    <div class="card-body" style="padding:30px;">
        <div class="form-group">

            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="tiporecepcion" name="tiporecepcion">
                <option value="-1">Con y sin orden de compra </option>
                <option value="CP">Con orden de compra</option>
                <option value="SP">Sin orden de compra</option>
            </select>


            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="buscaproveedor" name="buscaproveedor">
                <option value="-1">Proveedor</option>
                @foreach (web.Models.catProveedor p in proveedores)
                {
                    <option value="@p.catProveedorClave">@p.Nombre</option>
                }
            </select>


            <input type="text" placeholder="# de Orden de Compra o # de Recepción" class="form-control input-sm" style="width:250px;float:left; margin-right:5px;" id="abuscar" name="abuscar" />

            <button class="btn ink-reaction  btn-info btn-sm " id="buscar" type="button"><i class="fa fa-search"></i> Buscar</button>
        </div>


        <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="datos">
            <thead>
                <tr>
                    <th># Recepción</th>
                    <th>Fecha</th>
                    <th>Almacen</th>
                    <th>Orden</th>
                    <th>Recepción</th>
                </tr>
            </thead>
            <tbody></tbody>


        </table>
        

    </div>

  

</div>





<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <input type="hidden" value="" id="pedido_id" name="pedido_id" />

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">


                    <ul class="nav nav-tabs" data-toggle="tabs">
                        <li class="active"><a href="#first1" id="at1"><i class="fa fa-clipboard" aria-hidden="true"></i> Seleccionar orden de compra</a></li>
                        <li class="" style="display:none"><a href="#second1" id="at2"><i class="fa fa-cubes" aria-hidden="true"></i> Recibir</a></li>
                       
                    </ul>

                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="first1">
                            <div class="form-group">

                                    <select class="form-control" style="float:left;margin-right:10px" id="buscarproveedor">                                        <option value="-1">Proveedor</option>
                                        @foreach (web.Models.catProveedor p in proveedores)
                                        {
                                            <option value="@p.catProveedorClave">@p.Nombre</option>
                                        }
                                    </select>
                               

                                @*<div class="col-md-4">
                                        <input type="text" placeholder="# de Orden de Compra" class="form-control" style="float:left" id="pedidoseleccionar" />
                                        <button type="button" class="btn ink-reaction btn-floating-action btn-xs btn-primary" id="buscarpedido">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>*@
                            </div>

                            <div class="col-sm-12">
                               

                                <table class="table" id="datospedido">
                                    <thead>
                                        <tr>
                                            <th># Orden de compra</th>
                                            <th>Fecha</th>
                                            @*<th>Proveedor</th>*@
                                            <th>Estatus</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="second1">
                            <div class="form-group">

                                <label>Recibir en  Almacén</label>
                                <br />
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="almacen" class="form-control validate[required]">
                                            @foreach (web.Models.Entidad a in almacenes)
                                            {
                                                <option value="@a.EntidadClave">@a.Nombre</option>
                                            }

                                        </select>
                                    </div>
                                </div>


                            </div>

                            <table class="table table-responsive" id="datos2pedido">
                                <thead>
                                    <tr>
                                        <th>Articulo</th>
                                        <th>C. Pedida</th>
                                        <th>
                                            C. Surtida<br />(Otras recepciones)
                                        </th>
                                        <th>En Recepción</th>
                                        <th>C. Pendiente</th>
                                        <th>P. Unitario</th>
                                        <th>Importe</th>
                                        <th colspan="2">Recepción</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                     
                    </div><!--end .card-body -->





                </div>
                <div class="modal-footer">

                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">cerrar</button>
                    <button type="button" class="btn ink-reaction btn-success btn-sm" id="guarda"> Guardar</button>
                    @*<button type="button" class="btn btn-info hide " id="guarda">Guarda</button>*@
                </div>
            </div>
        </div>
    </form>
</div>





<div id="editasinpedido" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formaeditasinpedido" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <input type="hidden" value="" id="ed_idsinpedido" name="ed_idsinpedido" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinsinpedido" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs " data-toggle="tabs">

                        <li class="active  "><a href="#second3"><i class="fa fa-home" aria-hidden="true"></i> Datos generales</a></li>
                        <li><a href="#third3"><i class="fa fa-cubes" aria-hidden="true"></i> Recibir artículos</a></li>
                    </ul>

                    <div class="card-body tab-content">

                        <div class="tab-pane active" id="second3">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label>Almacén</label>
                                    <br />
                                    <div class="form-group">
                                        <select id="almacensinpedido" class="form-control validate[required]">
                                            <option value="">Selecciona Almacén</option>
                                            @foreach (web.Models.Entidad a in almacenes)
                                            {
                                                <option value="@a.EntidadClave">@a.Nombre</option>
                                            }

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Proveedor</label>
                                    <br />
                                    <div class="form-group">
                                        <select id="proveedorsinpedido" class="form-control validate[required]">
                                            <option value="">Selecciona Proveedor</option>
                                            @foreach (web.Models.catProveedor p in proveedores)
                                            {
                                                <option value="@p.catProveedorClave">@p.Nombre</option>
                                            }

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label>Tipo de cambio</label><br />
                                    <input readonly type="text" value="@ViewData["tipocambio"]" id="tipocambiosinpedido" name="tipocambiosinpedido" placeholder="$" class="form-control validate[required] preciootrosgastos" />
                                </div>

                                <div class="col-md-3">
                                    <label>IVA</label><br />
                                    <input readonly type="text" value="@ViewData["iva"]" id="ivasinpedido" name="ivasinpedido" placeholder="IVA" class="form-control validate[required,custom[number]] preciootrosgastos" />
                                </div>
                                <div class="col-md-3">
                                    <label>Descuento</label><br />
                                    <input readonly type="text" value="0" id="descuentosinpedido" name="descuentosinpedido" placeholder="%" class="form-control validate[required] preciootrosgastos" />
                                </div>

                                <div class="col-md-3">
                                    <label>Días de crétido</label><br />
                                    <input readonly type="text" value="0" id="diascreditosinpedido" name="diascreditosinpedido" placeholder="Días" class="form-control validate[required,custom[integer]]" />
                                </div>
                                <div class="col-md-12">
                                    <label>Observaciones:</label>
                                    <textarea class="form-control" id="Observaciones" rows="3"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="third3">
                            <div class="form-group">



                                <div class="col-md-6">
                                </div>
                                <div class="col-md-2">
                                    <button type="button"
                                            class="btn ink-reaction btn-flat btn-info btn-sm"
                                            data-toggle="tooltip" data-placement="right" title=""
                                            data-original-title="Agrega un artículo"
                                            id="agregararticulosinpedido">
                                        Agregar artículo
                                    </button>

                                </div>
                                <div class="col-md-2">
                                    <button type="button"
                                            class="btn ink-reaction btn-flat btn-info btn-sm"
                                            data-toggle="tooltip" data-placement="right" title=""
                                            data-original-title="Agrega artículo de forma masiva"
                                            id="btnp">
                                        Agregar masivamente
                                    </button>
                                                              
                                
                                 </div>
                                @*<button type="button" class="btn btn-default" id="artmasivo">Agregar Artículo masivo</button>*@
                            </div>
                            <br />

                            <table class="table" id="articulostable">
                                <thead>
                                    <tr>
                                        <th>Articulo</th>
                                        <th>C. Surtiendo</th>
                                        <th>Precio Unitario</th>
                                        <th>Importe</th>
                                        <th>Importe USD</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>



                        </div>
                    </div><!--end .card-body -->
                    @*<ul id="myTab5sinpedido" class="nav nav-tabs">
                        <li class="active"><a href="#t0sinpedido" data-toggle="tab" id="at0sinpedido">Datos Generales</a></li>
                        <li><a href="#t2sinpedido" data-toggle="tab" id="at2sinpedido">Recibir Artículos</a></li>

                        <div id="myTabContent4sinpedido" class="tab-content">

                            <div id="t0sinpedido" class="tab-pane fade active in">
                                <div class="form-group">

                                    <br clear="all" />


                                    <div class="col-md-6">
                                        <label>Almacen</label>
                                        <br />
                                        <div class="form-group">
                                            <select id="almacensinpedido" class="form-control validate[required]">
                                                <option value="">Selecciona Almacén</option>
                                                @foreach (web.Models.Entidad a in almacenes)
                                                {
                                                <option value="@a.EntidadClave">@a.Nombre</option>
                                                }

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Proveedor</label>
                                        <br />
                                        <div class="form-group">
                                            <select id="proveedorsinpedido" class="form-control validate[required]">
                                                <option value="">Selecciona Proveedor</option>
                                                @foreach (web.Models.catProveedor p in proveedores)
                                                {
                                                <option value="@p.catProveedorClave">@p.Nombre</option>
                                                }

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label>Tipo de cambio</label><br />
                                        <input type="text" value="@ViewData["tipocambio"]" id="tipocambiosinpedido" name="tipocambiosinpedido" placeholder="$" class="form-control validate[required] preciootrosgastos" />
                                    </div>

                                    <div class="col-md-3">
                                        <label>IVA</label><br />
                                        <input type="text" value="@ViewData["iva"]" id="ivasinpedido" name="ivasinpedido" placeholder="IVA" class="form-control validate[required,custom[number]] preciootrosgastos" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Descuento</label><br />
                                        <input type="text" value="0" id="descuentosinpedido" name="descuentosinpedido" placeholder="%" class="form-control validate[required] preciootrosgastos" />
                                    </div>

                                    <div class="col-md-3">
                                        <label>Días de crétido</label><br />
                                        <input type="text" value="0" id="diascreditosinpedido" name="diascreditosinpedido" placeholder="Días" class="form-control validate[required,custom[integer]]" />
                                    </div>


                                </div>
                            </div>

                            <div id="t2sinpedido" class="tab-pane fade in">
                                <div class="form-group">

                                    <br clear="all" />

                                    <div class="col-md-6">
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-info" id="agregararticulosinpedido">Agregar Artículo</button>

                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-info" id="btnp">Agregar masivamente</button>
                                        </div>
                                        @*<button type="button" class="btn btn-default" id="artmasivo">Agregar Artículo masivo</button>*@


                    @*<table class="table table-hover-color" id="articulostable">
                                                <thead>
                                                    <tr>
                                                        <th>Articulo</th>
                                                        <th>C.Surtiendo</th>
                                                        <th>Precio Unitario</th>
                                                        <th>Importe</th>
                                                        <th>Importe USD</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>


                                        </div>
                                </div>


                        </ul>*@


                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="button" class="btn btn-success btn-sm" id="guardasinpedido">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">
        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de eliminar este artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm" id="eliminar">Sí, deseo eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="eliminarecepcion" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaeliminarecepcion" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <input type="hidden" value="" id="delrecepcion_id" name="delrecepcion_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Eliminar recepción</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label>
                                    <b>¡Atención!</b> Estás a punto de eliminar varios artículos del inventario,
                                    esto puede provocar que los usuarios que en este momento utilizan estas series se vean afectados.
                                    <br />
                                    <br />
                                    Recomendaciones: <br />
                                    1.- Asegúrate que los artículos a eliminar se <b> encuentren disponibles en el almacén central, en buen estado y activos</b>, de lo contrario la cancelación no se podrá ejecutar.<br />
                                    2.- Notifica a los demás usuarios que eliminarás las series para que se tomen medidas preventivas y eviten utilizarlas.

                                </label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar </button>
                    <button type="submit" class="btn btn-danger btn-sm" id="eliminar">Estoy seguro, deseo eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Recepción de material</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="recepcionmaterial" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <form id="formadetallerm" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Recepción de material</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/RecepcionMaterial/Detalle" frameborder="0" width="100%" height="400" id="eliframerm"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="recibir" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formarecepcion" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Recibir material</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="ed_articulo" name="ed_articulo" />

                    <div class="form-group">

                        <div id="camposagrega">
                            <div class="col-md-4">
                                <label>Cantidad solicitada</label>
                                <input type="text" id="ed_solicitada" name="ed_solicitada" readonly class="form-control validate[required,custom[integer]]">
                            </div>
                            <div class="col-md-4">
                                <label>Máxima recepción</label>
                                <input type="text" id="ed_pendiente" name="ed_pendiente" readonly class="form-control validate[required,custom[integer]]">
                            </div>
                            <div class="col-md-4">
                                <label>Cantidad en recepción</label>
                                <input type="text" id="ed_asurtir" name="ed_asurtir" class="form-control validate[required,custom[integer]]">
                            </div>

                            <div class="col-md-6">
                                <label>&nbsp;<br /></label><br />
                                <button type="button" class="btn btn-sm ink-reaction btn-warning hide" id="detalle">Agregar seriales</button>
                                <button type="button" class="btn btn-sm btn-success hide" id="guardarsurtir">Guardar</button>
                            </div>
                        </div>

                        <div class="col-md-12" style="max-height:400px; overflow-y:scroll;">

                            <table class="table" id="lasseries">
                                <thead>

                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>


                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <div style="float:left;font-weight:normal" id="resumen"></div>
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="recibircm" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formarecepcion" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Recibir material</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="ed_articulo" name="ed_articulo" />
                    <div class="row">
                        <div class="form-group">

                            <div id="camposagrega">
                                <div class="col-md-3">
                                    <label>Cantidad solicitada</label>
                                    <input type="text" id="ed_solicitadacm" name="ed_solicitada" readonly class="form-control validate[required,custom[integer]]">
                                </div>
                                <div class="col-md-3">
                                    <label>Máxima recepción</label>
                                    <input type="text" id="ed_pendientecm" name="ed_pendiente" readonly class="form-control validate[required,custom[integer]]">
                                </div>
                                <div class="col-md-3">
                                    <label>En recepción</label>
                                    <input type="text" id="ed_asurtircm" name="ed_asurtir" class="form-control validate[required,custom[integer]]">
                                </div>


                                <div class="col-md-3">
                                    <button type="button" class="btn btn-sm btn-success hide" id="guardarsurtir">Guardar</button>
                                </div>

                                <input type="hidden" id="ed_surtida" name="ed_surtida">
                            </div>


                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">

                                <span class="btn btn-primary btn-file btn-sm ink-reaction">
                                    <i class="fa fa-paperclip"></i> Adjuntar archivo <input type="file" id="inputFile2" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onclick="activa2();">
                                </span>

                            </div>
                            <div class="col-md-6">
                                <button type="button" id="btnUpload2" class="btn btn-info btn-sm ink-reaction" onclick="getseries_con_orden();"><span class="glyphicon glyphicon-thumbs-up"></span> Validar series </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="max-height:300px;overflow-y:scroll; ">

                            <table class="table table-hover-color" id="tabla_carga_masiva_con_orden">
                                <thead>
                                    <tr>
                                        <td>
                                            No. Series
                                        </td>

                                    </tr>
                                </thead>
                                <tbody id="id_tbody_tabla_carga_masiva_con_orden">
                                    <tr><td colspan=" 2">
                                    No hay series seleccionadas</td></tr>
                                </tbody>
                            </table>

                        </div>

                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <div style="float:left;font-weight:normal" id="resumen"></div>

                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>





<div id="articulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaarticulo" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1638px;"></div>
        <input type="hidden" value="" id="art_id" name="del_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowinarticulo" class="modal-title">Agregar artículo</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <div class="col-md-4">
                            <label>Clasificación</label><br />
                            <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                                <option value="">Selecciona</option>
                                @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                                {
                                    <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label>Tipo de Artículo</label><br />
                            <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                                <option value="">Seleccion</option>
                                @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                                {
                                    <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" class="optiontipo">@tia.Descripcion</option>
                                }
                            </select>
                        </div>


                        <div class="col-md-4">
                            <label>Artículo</label><br />
                            <select id="ed_articulosinpedido" name="ed_articulosinpedido" class="form-control validate[required]">
                                <option value="">Seleccion</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label>Cantidad</label><br />
                            <input type="number" id="ed_cantidad" name="ed_cantidad" class="form-control validate[custom[integer]]">
                        </div>
                        <div class="col-md-3">
                            <label>Precio</label><br />
                            <input type="text" id="ed_precio" name="ed_precio" placeholder="$" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Tipo Moneda</label><br />
                            <select id="ed_moneda" name="ed_moneda" class="form-control">
                                <option value="">Seleccione</option>
                                @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                {
                                    <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-12" style="max-height:340px;overflow-y:scroll;">
                            <table class="table table-hover-color" id="lasseriessp">
                                <thead>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>


                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button"  id="cerrarArticulo" class="btn btn-default  btn-sm">Cerrar</button>
                    <button type="button" class="btn btn-info btn-sm" id="agregararticulo">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="precio" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaprecio" action="#" method="post">

        <input type="hidden" value="" id="precio_id" name="precio_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinprecio" class="modal-title">Modificar precio</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>Precio</label><br />
                                <input type="text" id="ed_precio_edita" name="ed_precio_edita" placeholder="" class="form-control validate[required]">
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cancelar</button>
                    <button type="button" class="btn btn-success btn-sm" id="guardaprecio">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>




<div id="cm" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaarticulocm" action="#" method="post">

        <input type="hidden" value="" id="art_id" name="del_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowinarticulo" class="modal-title">Agregar artículo forma masiva</h4>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="form-group">

                            <div class="col-md-4">


                                <label>Clasificación</label><br />

                                <select id="mas_clasificacion" name="mas_clasificacion" onchange="gettipoarticulos();" class=" form-control validate[required]">
                                    <option value="">Seleccion</option>
                                    @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                                    {
                                    <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                    }

                                </select>
                            </div>

                            <div class="col-md-4">
                                <label>Tipo de Artículo</label><br />
                                <select id="mas_tipo_articulo" name="mas_tipo_articulo" onchange="getarticulos();" class="form-control validate[required]">
                                    <option value="">Seleccion</option>

                                </select>
                            </div>


                            <div class="col-md-4">
                                <label>Artículo</label><br />
                                <select id="mas_articulo" name="mas_articulo" class="form-control validate[required]">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label>Cantidad</label><br />
                                <input type="text" id="mas_cantidad" name="mas_cantidad" readonly class="form-control validate[custom[integer]]">
                            </div>
                            <div class="col-md-4">
                                <label>Precio</label><br />
                                <input type="text" id="mas_precio" name="mas_precio" placeholder="$" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Tipo Moneda</label><br />
                                <select id="mas_moneda" name="mas_moneda" class="form-control">
                                    <option value="">Seleccione</option>
                                    @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                    {
                                    <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="form-group">




                            <div class="col-md-3">

                                <span class="btn btn-warning btn-file btn-sm">
                                    <i class="fa fa-search"></i> Elige un archivo 
                                    <input type="file" id="inputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" onclick="activa();">
                                </span>
                                <p class="help-block">(solo archivos de excel)</p>
                            </div>
                            <div class="col-md-3">
                                <input type="button" value="Encontrar series" id="btnUpload" class="btn btn-info btn-sm" onclick="getseries();" />
                            </div>

                        </div>


                        <input type="hidden" id="existen" />
                    </div>
                    <div class="row text-center" style="overflow-y:scroll; max-height:300px;">
                        <br />
                        <b>Series encontradas</b>
                        <table id="series" class="table">
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Cerrar</button>
                    <button type="button" class="btn btn-info btn-sm" id="agregararticulo_carga_masiva">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>





<div id="eleccion_series" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="titulowinarticulo" class="modal-title">Carga masiva</h4>
            </div>
            <div class="modal-body">
                <h3>¡Se han detectado series repetidas!</h3>
                <p> Las siguientes series no se agregarán al inventario :</p>
                <div class="row">


                    <div class="col-md-12" style="max-height:240px;overflow-y:scroll; ">

                        <table id="series-repetidas" class="table table-hover-color">
                            <thead>
                                <tr>
                                    Número de serie
                                </tr>
                            </thead>
                            <tbody id="tbodysr"></tbody>
                        </table>

                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <p>
                    No puede agregar series que ya están en el inventario
                </p>
                <button type="button" data-dismiss="modal" class="btn btn-info btn-lg">Entiendo</button>

            </div>
        </div>

    </div>

</div>

<div id="conteo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade modal-sm">



    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="titulowinarticulo" class="modal-title">Validando series</h4>
            </div>
            <div class="modal-body">
                <p>Validando series</p> <p id="inicio"></p><p>de:</p><p id="fin"></p>
            </div>



        </div>

    </div>

</div>

@*------------------------------------------modal carga masiva---------------------------------------------------------------------------- *@


<script src="~/Content/pags/Utils.js"></script>
@*<script src="~/Content/pags/RecepcionMaterial/Lista.js"></script>
    <script src="~/Content/pags/RecepcionMaterial/Filtros.js"></script>
    <script src="~/Content/pags/RecepcionMaterial/AgregaRecepcion.js"></script>*@

<script src="~/Content/pags/rm-objetos.js"></script>
<script src="~/Content/pags/rm-handlers.js"></script>
<script src="~/Content/pags/rm-funciones.js"></script>
<script src="~/Content/pags/rm-botones.js"></script>
<script src="/Content/pags/paginacion.js"></script>