﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];
    List<web.Models.catUbicacion> ubicaciones = (List<web.Models.catUbicacion>)ViewData["ubicaciones"];

    List<web.Models.catUnidad> unidades = (List<web.Models.catUnidad>)ViewData["unidades"];


    List<web.Models.Entidad> tecnicos = (List<web.Models.Entidad>)ViewData["tecnicos"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catTipoSalida> tipossalida = (List<web.Models.catTipoSalida>)ViewData["tipossalida"];


    List<web.Models.Usuario> usuarios = (List<web.Models.Usuario>)ViewData["usuarios"];



    List<web.Models.Proceso> salidaspendientes = (List<web.Models.Proceso>)ViewData["salidaspendientes"];


}


<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Salida de materia</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-block ink-reaction btn-flat btn-info btn-sm"
                        data-toggle="tooltip" data-placement="right" title=""
                        data-original-title="Salida de material a técnicos"
                        id="add">
                    Salida a técnico
                </button>   

            </div>
        </div>
    </div>

   

    <div class="card-body" style="padding:30px;">
        <div class="form-group">
            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="tecnico" name="tecnico">
                <option value="@Guid.Empty">Técnicos</option>
                @foreach (web.Models.Entidad t in tecnicos.OrderBy(y=>y.Nombre).ToList())

                {
                    <option value="@t.EntidadClave">@t.Nombre</option>
                }
            </select>
            <input type="text" placeholder="# de Salida" class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="abuscar" />
            <button type="button" class="btn btn-info btn-sm" id="buscar">
                <i class="fa fa-search" aria-hidden="true"></i>
                Buscar
            </button>
        </div>

        <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>

        <table class="table table-hover-color" id="datos" style="font-size:12px;">
            <thead>
                <tr>
                    <th># Salida</th>
                    <th># Orden de Compra</th>
                    <th>Fecha</th>
                    <th>Técnico</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
            </thead>           
        </table>
    </div>

























    <div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <form id="formadetalle" action="#" method="post">

            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header ">
                        <button type="button" data-dismiss="modal" aria-hidden="true"
                                class="close">
                            &times;
                        </button>
                        <h4 class="modal-title">Salida de material</h4>
                    </div>
                    <div class="modal-body">


                        <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>


                        <br clear="all" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title">Salida de material a técnicos</h4>
                </div>
                <div class="modal-body">



                    <ul class="nav nav-tabs" data-toggle="tabs">

                        <li class="active"><a href="#second1"><i class="fa fa-home" aria-hidden="true"></i> General</a></li>
                        <li class=""><a href="#third1"><i class="fa fa-cubes" aria-hidden="true"></i> Selección de artículos</a></li>
                    </ul>
                    <!--end .card-head -->
                    <div class=" tab-content">

                        <div class="tab-pane active" id="second1">
                            <div class="form-group">


                                <div class="col-md-12">
                                    <label>Almacén</label><br />
                                    <select id="ed_almacen" name="ed_almacen" class="form-control validate[required]">
                                        <option value="0">Seleccione</option>
                                        @foreach (web.Models.Entidad enti in almacenes.OrderBy(x=>x.Nombre))
                                        {
                                            <option value="@enti.EntidadClave">@enti.Nombre</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label>Tipo de salida</label><br />
                                    <select id="ed_tiposalida" name="ed_tiposalida" class="form-control validate[required]">
                                        <option value="0">Seleccione</option>
                                        @foreach (web.Models.catTipoSalida ts in tipossalida)
                                        {
                                            <option value="@ts.catTipoSalidaClave">@ts.Descripcion</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label>Técnico</label><br />
                                    <select id="ed_tecnico" name="ed_tecnico" class="form-control validate[required]">
                                        <option value="0">Selecciona</option>
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label>Observaciones</label><br />
                                    <textarea id="ed_observaciones" name="ed_observaciones" class="form-control"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane " id="third1">

                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-3"><button type="button" class="btn btn-block ink-reaction btn-flat btn-info btn-sm" id="agregar">Agregar artículo</button></div>
                            </div>


                            <div class="alert  alert-callout alert-warning" id="mDetalle" role="alert">
                                <strong>¡Atención!</strong> No hay material seleccionado.
                            </div>


                            <table class="table table-hover-color" id="tablaresumen" style="display:none;">
                                <thead>
                                    <tr>
                                        <td style="font-size:14px;"><b>Artículo</b></td>
                                        <td style="font-size:14px;"><b>Cantidad por salir</b></td>
                                        <td style="font-size:14px;"><b>Opciones</b></td>
                                    </tr>
                                </thead>
                                <tbody id="contenidoresumen"></tbody>
                            </table>

                        </div>
                    </div><!--end .card-body -->




                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" class=" btn ink-reaction btn-default-bright btn-sm" data-dismiss="modal"><span class="btn-label"></span>Cancelar</button>
                    <button type="button" id="guardaSalida" class="btn btn-success btn-sm"><span class="btn-label"></span>Guardar</button>
                </div>
            </div>
        </div>

    </div>





    <div id="articulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

        <input type="hidden" value="" id="art_id" name="del_id" />
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinarticulo" class="modal-title">Agregar artículo</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Clasificacion de Material</label><br />
                            <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                                <option value="0" disabled selected>Selecciona</option>
                                @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                                {
                                    <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label>Tipo de Material</label><br />
                            <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                                <option value="0">Selecciona</option>
                                @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                                {
                                    <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" class="optiontipo">@tia.Descripcion</option>
                                }
                            </select>
                        </div>


                        <div class="col-md-6">
                            <label>Artículo</label><br />
                            <select id="ed_articulo" name="ed_articulo" class="form-control validate[required]" onchange="DetalleArticulo(this.options[this.selectedIndex].getAttribute('rel'))">
                                <option value="0">Selecciona</option>

                            </select>
                        </div>

                        <div class="col-md-3">
                            <label>En almacén</label><br />
                            <input type="text" id="en_almacen" name="en_almacen" class="form-control" disabled>
                        </div>

                        <div class="col-md-3">
                            <label>Cantidad</label><br />
                            <input type="number" id="ed_cantidad" name="ed_cantidad" class="form-control validate[required,custom[integer]]">
                        </div>
                        <input type="hidden" id="InventarioClave" />

                        <div class="col-md-6">
                            <input type="text" id="ed_buscar" name="ed_buscar" class="form-control" placeholder="Buscar" style="display:none">
                        </div>

                        <div class="col-md-12">
                            <label id="lblBusqueda"></label>
                            <br />
                            <input type="text" placeholder="Serie de aparato" id="serie" class="form-control" style="text-transform: uppercase">
                        </div>


                        <div id="panelbusqueda_series" style="display:none;">
                            <table class="table" id="datos2" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>Selección</td>
                                        <td>Serie</td>
                                        <td>Estatus</td>

                                    </tr>
                                </thead>
                                <tbody id="tseries"></tbody>
                                <tfoot>
                                    <tr>
                                        <td>Selección</td>
                                        <td>Serie</td>
                                        <td>Estatus</td>

                                    </tr>
                                </tfoot>
                            </table>



                        </div>

                    </div>


                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" class=" btn ink-reaction btn-default-bright btn-sm" data-dismiss="modal"><span class="btn-label"></span>Cerrar</button>
                    <button type="button" class="btn btn-success btn-sm" id="guardaAccesorios">Agregar</button>
                </div>
            </div>
        </div>

    </div>









    <script src="http://neue.cc/linq.min.js"></script>
    <script src="~/Content/pags/SalidaMaterialTecnicos/Aparatos.js"></script>
    <script src="~/Content/pags/SalidaMaterialTecnicos/AgregaSalida.js"></script>
    <script src="~/Content/pags/SalidaMaterialTecnicos/Lista.js"></script>
    <script src="~/Content/pags/SalidaMaterialTecnicos/EditaDetalle.js"></script>
    <script src="~/Content/pags/SalidaMaterialTecnicos/GuardaSalida.js"></script>
