﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.Rol> roles = (List<web.Models.Rol>)ViewData["roles"];

    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];

    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();


}
<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {

            }
            else
            {
                @Html.Raw(@"
             #panelopciones{ display:none !important;}

               ")

            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {





            }
            else
            {
                   @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
                  @Html.Raw(@"
                   .del{ display:none !important;}

               ")
           }

        }


    }


</style>
<link rel="stylesheet" type="text/css" href="~/Content/assets/js/libs/fineuploader/fineuploader-3.6.4.css">
@*<link rel="stylesheet" type="text/css" href="/Content/assets/plugins/fineuploader/fineuploader-3.6.4.css">*@
@*<link rel="stylesheet" type="text/css" href="/Content/assets/plugins/bootstrap-colorpicker/css/colorpicker.css">*@



<div class="card" >
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Usuarios</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Usuarios</a>><a href="#" class="paginaActiva">seguridad</a></small>
        </header>
        <div class="tools">
            <div class="btn-group">
                <button class="btn btn-block ink-reaction btn-flat btn-info" data-toggle='tooltip' data-placement='top' title='' data-original-title='Agregar un nuevo usuario' type="button" id="add"> Nuevo</button>

            </div>


        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    Almacénes y distribuidores
                    <select class="selectpicker form-control input-sm" id="distribuidor">
                        <option value="@Guid.Empty">Almacen Principal</option>
                        @foreach (web.Models.catDistribuidor d in distribuidores)
                        {
                            <option value="@d.catDistribuidorClave">@d.Nombre</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    filtrar por roles
                    <select class="selectpicker form-control input-sm" id="rol">
                        <option value="-1">Todos los Roles</option>
                        @foreach (web.Models.Rol r in roles)
                        {
                            @Html.Raw("<option value='" + r.RolClave + "'>" + r.Nombre + "</option>")
                        }

                    </select>
                </div>
                <div class="col-md-3">
                    Buscar por coincidencia:
                    <input type="text" id="keyword" placeholder="Palabra Clave(ej. nombre almacen)" class="form-control input-sm">


                </div>
                <div class="col-md-3">
                    <br />
                    <button type="button" class="btn btn-info btn-sm" id="obten"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                </div>


            </div>
        </div>


        <table class="table" id="datos">
            <thead>
                <tr>

                    <th>Nombre</th>

                    <th>Rol</th>
                    <th>E-Mail</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>


        </table>




    </div>

    


</div>
























<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <div class="modal-backdrop fade in" style="height: 1019px;"></div>
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <div class="col-lg-8">

                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <label>Nombre</label><br />
                                    <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
                                </div>

                                <div class="col-md-12">
                                    <label>E-Mail</label><br />
                                    <input type="text" id="ed_email" name="ed_email" placeholder="E-Mail" class="form-control validate[required,custom[email]]">
                                </div>

                                <div class="col-md-12">
                                    <label>Rol</label><br />
                                    <select class="selectpicker form-control validate[required]" id="ed_rol" name="ed_rol">
                                        <option value="">Selecciona</option>
                                        @foreach (web.Models.Rol r in roles)
                                        {
                                            @Html.Raw("<option value='" + r.RolClave + "'>" + r.Nombre + "</option>")
                                        }
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label>Estatus</label><br />
                                    <select class="form-control validate[required]" id="ed_estatus" name="ed_estatus">
                                        <option disabled selected>Selecciona estatus</option>
                                        <option value="1">Activo (Acceso al sistema)</option>
                                        <option value="0">No activo (Sin acceso al sistema)</option>

                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label>Distribuidor</label><br />
                                    <select class="form-control" id="ed_distribuidor" name="ed_distribuidor" />
                                    <option value="-1">Sin Distribuidor</option>
                                    @foreach (web.Models.catDistribuidor d in distribuidores)
                                    {
                                        <option value="@d.catDistribuidorClave">@d.Nombre</option>
                                    }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">


                                <input type="hidden" value="" id="edfirma_id" name="edfirma_id" />
                                <div class="col-md-12">
                                    <label>Carga firma</label>
                                    <div id="file_edfirma"></div> <span style="color:#CCC">(archivos permitidos: jpg; tamaño máximo: 5Mb)</span><br>
                                    <input type="hidden" id="edfirma_valor" name="edfirma_valor">

                                    <img src="" id="imgfirma" width="100%" />

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Almacenes del Usuario</h4>

                            <div id="almacenes" style="overflow-y:scroll; max-height:350px;">

                            </div>
                        </div>
                    </div>


                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm ink-reaction">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info btn-sm" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">
        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de quitar acceso a este Usuario?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    <button type="submit" class="btn btn-danger" id="eliminar">desactivar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="~/Content/pags/Usuarios/Funciones.js"></script>
<script src="~/Content/pags/Usuarios/Lista.js"></script>


<script src="~/Content/assets/js/libs/fineuploader/jquery.fineuploader-3.6.4.min.js"></script>
@*<script src="/Content/assets/plugins/fineuploader/jquery.fineuploader-3.6.4.min.js"></script>*@
<script>
    uploader("edfirma");

    function uploader(cual) {

        var elfotomapa = new qq.FineUploader({
            element: $('#file_' + cual)[0],
            request: {
                endpoint: '/Upload/Archivo?cual=' + cual
            },
            multiple: false,
            validation: {
                allowedExtensions: ['png', 'jpg'],
                sizeLimit: 100 * 54 * 1024
            },
            text: {
                uploadButton: 'Cargar Archivo...'
            },
            showMessage: function (message) {
                alert(message);
            },
            messages: {
                typeError: 'El tipo de archivo es incorrecto',
                sizeError: "El archivo es demasiado grande"
            },
            callbacks: {
                onComplete: function (id, fileName, responseJSON) {


                    if (responseJSON.success) {


                        $("#imgfirma").attr("src", "/Content/media/" + responseJSON.laurl + "");
                        $("#edfirma_valor").val(responseJSON.laurl);
                    }
                    else {
                        alert("error");
                    }

                }
            }
        });
    }

</script>