﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.Rol> roles = (List<web.Models.Rol>)ViewData["roles"];

    List<web.Models.Modulo> todosmodulos = (List<web.Models.Modulo>)ViewData["modulos"];

    List<web.Models.Modulo> modulospadre = (from su in todosmodulos
                                     where su.ModuloPadreClave == null
                                     && su.Activo==true
                                     select su).ToList();

}


<div class="card" >
    <form action="#" id="forma" name="forma">

        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">Permisos</strong>
                <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Seguridad</a></small>
            </header>
            <div class="tools">
               
                Selecciona un rol para asignar permisos:
                <select class="selectpicker form-control" id="rol" name="rol">
                    <option value="-1">Selecciona Rol</option>
                    @foreach (web.Models.Rol r in roles)
                    {
                        @Html.Raw("<option value='" + r.RolClave + "'>" + r.Nombre + "</option>")
                    }

                </select><br />

            </div>
        </div>

      <div class="card-body">
          <div class="row" style="overflow-y:scroll; max-height:400px;">
          <table class="table table-hover-color" id="datos">
              <thead>
                  <tr>
                      <th colspan="2">Modulo</th>
                      <th>Consultar</th>
                      <th>Agregar</th>
                      <th>Editar</th>
                      <th>Eliminar</th>
                      <th>Ejecutar</th>
                  </tr>
              </thead>
              <tbody>
                  @foreach (web.Models.Modulo m in modulospadre)
                  {
                      <tr>
                          <td><b>@m.Nombre</b></td>
                          <td></td>
                          @if (m.URL != null)
                          {
                              <td><input type="checkbox" id="@("co_" + m.ModuloClave)" name="@("co_" + m.ModuloClave)" class="permiso" /></td>
                              <td><input type="checkbox" id="@("ag_" + m.ModuloClave)" name="@("ag_" + m.ModuloClave)" class="permiso" /></td>
                              <td><input type="checkbox" id="@("ed_" + m.ModuloClave)" name="@("ed_" + m.ModuloClave)" class="permiso" /></td>
                              <td><input type="checkbox" id="@("el_" + m.ModuloClave)" name="@("el_" + m.ModuloClave)" class="permiso" /></td>
                              <td><input type="checkbox" id="@("ej_" + m.ModuloClave)" name="@("ej_" + m.ModuloClave)" class="permiso" /></td>
                          }
                          else
                          {
                              <td colspan="5">&nbsp;</td>
                          }
                      </tr>
                      {
                          List<web.Models.Modulo> submodulos = (from su in todosmodulos
                                                                where su.ModuloPadreClave == m.ModuloClave
                                                                && su.Activo==true
                                                                select su).ToList();

                          foreach (web.Models.Modulo su in submodulos)
                          {

                              <tr>
                                  <td></td>
                                  <td>@su.Nombre</td>
                                  <td><input type="checkbox" id="@("co_" + su.ModuloClave)" name="@("co_" + su.ModuloClave)" class="permiso" /></td>
                                  <td><input type="checkbox" id="@("ag_" + su.ModuloClave)" name="@("ag_" + su.ModuloClave)" class="permiso" /></td>
                                  <td><input type="checkbox" id="@("ed_" + su.ModuloClave)" name="@("ed_" + su.ModuloClave)" class="permiso" /></td>
                                  <td><input type="checkbox" id="@("el_" + su.ModuloClave)" name="@("el_" + su.ModuloClave)" class="permiso" /></td>
                                  <td><input type="checkbox" id="@("ej_" + su.ModuloClave)" name="@("ej_" + su.ModuloClave)" class="permiso" /></td>
                              </tr>

                          }
                      }


                  }
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="6" id="paginador"></td>
                  </tr>
              </tfoot>
          </table>
          </div>

          <div class="row">
              <button type="submit" class="btn btn-success ink-reaction" id="guarda">Guardar</button>
          </div>

      </div>

        

       
    </form>


</div>
<script src="/Content/pags/permisos.js"></script>


















