﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Rastreo surtido de pedidos</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li>
                <i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
            </li>
            <li class="active">Administración</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">

        <div class="content">


            <div class="row">

                <div class="col-sm-12 col-md-12">

                    <div class="widget-box">

                        A continuación se muestran rastreo las salidas a distribuidores 
                        <input type="text"  class="form-control"/>
                        <hr />
                        <table class="table">
                           <thead>
                               <tr>
                                   <td>Numero de Pedido</td>
                                   <td>Fecha de pedido</td>
                                   <td>Nmero de salida</td>
                                   <td>Fecha de salida</td>
                                   <td>Plaza </td>
                                   <td>Distribuidor</td>
                                   
                               </tr>
                           </thead>

                        </table>

                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
