﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.Articulo> articulos = (List<web.Models.Articulo>)ViewData["articulos"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.Usuario> usuarios = (List<web.Models.Usuario>)ViewData["usuarios"];
}


<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Reporte de recepción de material de almacén principal</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs" style="font-size:14px;">
            <li><i class="fa fa-home"></i><a href="/Acceso/Dashboard/">Inicio</a></li>
            
                > Reportes
            
            > Reporte recepciones de material
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">

        <div class="content">
            <div class="row">

                <div class="widget-box">
                    <div class="row">
                        <form id="formulario" action="#" method="post">
                            <div class="col-md-4">
                                <h4>
                                    <i class="fa fa-filter" aria-hidden="true"></i>
                                    Filtros de búsqueda
                                </h4>

                                <hr />

                                <p>Selecciona artículo</p>
                                <select id="articulo" class="form-control">
                                    <option value="0">Todos los los articulos</option>
                                    @foreach (var a in articulos)
                                    {
                                        <option value="@a.ArticuloClave">@a.Nombre</option>
                                    }
                                                                       
                                </select>
                                <br />

                                <p>Selecciona proveedor</p>
                                <select id="provedor" class="form-control">
                                    <option value="0">Todos los los proveedores</option>
                                    @foreach (var a in proveedores)
                                    {
                                        <option value="@a.catProveedorClave">@a.Nombre</option>
                                    }
                                </select>
                                <br />

                               <p> Selecciona usuario</p>
                                <select id="usuario" class="form-control">
                                    <option value="0">Todos los los usuarios</option>
                                    
                                    @foreach (var a in usuarios)
                                    {
                                        <option value="@a.UsuarioClave">@a.Nombre</option>
                                    }
                                </select>
                                <br />

                                 
                                <div class='input-group date datepicker-default' id='datepicker1'>
                                    <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <br />
                              
                                 
                                    <label>Fecha Fin</label>
                                    <div class='input-group date datepicker-default' id='datepicker2'>
                                        <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                              


                                <br />
                                <hr />
                                <button type="submit" class="btn btn-info">Ver Reporte</button>


                            </div>
                        </form>
                        <div class="col-md-8">

                            <iframe src="/ReporteVehiculos/Estatica/" width="700" height="500" frameborder="0" id="eliframe"></iframe>

                        </div>

                    </div>


                </div>



            </div>
        </div>
    </div>

    <script src="/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Content/assets/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
    <script src="~/Content/pags/ReporteRecepciones/reporte.js"></script>
    <script type="text/javascript">

        //$('input').iCheck({
        //    checkboxClass: 'icheckbox_square-blue',
        //    radioClass: 'iradio_square-blue',
        //    increaseArea: '20%' // optional
        //});


    

$('#datepicker1').datepicker(
    {
        format: "dd/mm/yyyy",
        language: "es",
        autoclose: true

    });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });



   




    </script>
