﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catProveedor> proveedor = (List<web.Models.catProveedor>)ViewData["proveedor"];
    List<web.Models.Entidad> tecnicos = (List<web.Models.Entidad>)ViewData["tecnicos"];
    List<web.Models.catClasificacionArticulo> clasificacion = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tipoarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.Articulo> articulos = (List<web.Models.Articulo>)ViewData["articulos"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
}
<script>

    $(document).on("ready", function () {

        $("#btnUpload").on('click', function () {
            var files = $("#inputFile").get(0).files;
            var proveedor = $("#prov").val();
            
            var articulo = $("#art").val();
            var data = new FormData();
            for (i = 0; i < files.length; i++) {
                data.append("file" + i, files[i]);
            }
            data.append("proveedor",proveedor);
            data.append("articulo",articulo);
           
            $.ajax({
                type: "POST",
                url: '@Url.Action("Carga", "CargaMasiva")',
                contentType: false,
                processData: false,
                data:  data ,
                success: function (result) {
                    if (result) {


                        $("#datos tbody").append('<tr><td>Cantidad de series encontradas</td><td>' + result + '</td><tr>')


                        //$("#eliframe").attr("src", result);
                        //$("#inputFile").val('');
                    }
                }
            });
        });

        $("select[id=dis]").on('change', function () {
            $("#ta").empty();
           var valor= parseInt($("select[id=dis]").val())
            $.ajax({
                type: "POST",
                url: '@Url.Action("gettipoarticulos", "CargaMasiva")',                
                data: { id: valor },
                success: function (result) {
                    if (result) {
                       
                        $("#ta").append(result);
                    }
                }
            });

        });




        $("select[id=ta]").on('change', function () {
            var valor = parseInt($("select[id=ta").val())
            $("#art").empty();

            $.ajax({
                type: "POST",
                url: '@Url.Action("getarticulos", "CargaMasiva")',
                data: { id: valor },
                success: function (result) {
                    
                    if (result) {
                        $("#art").append(result)
                    }
                    else {
                        $("#art").append("");
                    }
                }
            });
        });

    });




</script>
<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Carga masiva</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Reportes&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Movimientos de Técnicos</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
 <div class="row">

     <div class="col-md-4" style="background-color:#ffffff !important">
         

         <br />
         <br />
         
         <select class="form-control validate[required]" data-style="btn-white" data-width="250px" id="prov" name="prov">
             <option disabled>Selecciona proveedor</option>

             @foreach (web.Models.catProveedor dist in proveedor)
             {
                 <option value="@dist.catProveedorClave">@dist.Nombre</option>
             }
         </select>
         <br />
         <select class="form-control validate[required]" data-style="btn-white" data-width="250px" id="dis" name="dis">
             <option disabled>Selecciona clasificacion</option>

             @foreach (web.Models.catClasificacionArticulo dist in clasificacion)
             {
                 <option value="@dist.catClasificacionArticuloClave">@dist.Descripcion</option>
             }
         </select>
         <br />
         
         <select class="form-control validate[required]" data-style="btn-white" data-width="250px" id="ta" name="ta">
             <option disabled>Tipo de articulo</option>
         </select>
         <br />
         <select class="form-control validate[required]" data-style="btn-white" data-width="250px" id="art" name="art">
             <option disabled>Articulo</option>
         </select>


         <br />
         <div class="form-group">

             
             
             <img src="~/Content/assets/images/xlsx-1567.png" style="width:40px; height:40px;" />
             <div class="col-md-10">
              
                 <input id="inputFile" type="file" multiple="multiple" class="btn btn-info" value="Elige archivo" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                              </div>
         </div>
         <div class="form-group">
             <div class="col-md-offset-2 col-md-10">
                 <input type="submit" value="procesar archivo" id="btnUpload" class="btn btn-default" />
             </div>
         </div>

         <table id="datos" class="table">


             <tbody></tbody>
         </table>



     </div>
     <div class="col-md-5">
        

     </div>
     <div class="col-md-3"></div>
 </div>


   
    
</div>
    




     
   

  