﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
}



<div class="card">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Almacenes</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Entidades</a></small>
        </header>
        <div class="tools">
           
        </div>
    </div>

    <div class="card-body">


        <div class="row">
            <div class="col-md-2">
                <p class="text-muted"><i class="fa fa-filter" aria-hidden="true"></i> Filtros:</p>
            </div>
            <div class="col-md-10">

                <div class="form-group">
                    <div class="col-sm-5 col-md-5">
                        <select class="form-control" id="busca_distribuidor">

                            @foreach (web.Models.catDistribuidor d in distribuidores)
                        {
                                <option value="@d.IdDistribuidor">@d.Nombre</option>
                        }
                        </select>

                    </div>



                </div>



            </div>


        </div>
        <hr />





        <table class="table table-striped" id="datos">
            <thead>
                <tr>
                    <th># almacén</th>
                    <th>Nombre</th>
                    <th>status</th>
                    <th>Servicios</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th># almacén</th>
                    <th>Nombre</th>
                    <th>status</th>
                    <th>Servicios</th>
                    <th>Editar</th>
                </tr>
            </tfoot>
        </table>




    </div>
</div>

<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowin" class="modal-title">Agrega Servicios</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    Selecciona los servicios para esta plaza
                    <div class="col-md-12" id="panelServicios">
                        <table class="table table-hover-color">
                            <thead>
                                <tr>
                                    <td><b>Selecciona</b></td>
                                    <td><b>Servicio</b></td>
                                </tr>
                            </thead>
                            <tbody id="tblser"></tbody>
                        </table>

                    </div>
                </div>
                <br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                    Cerrar
                </button>
                <button type="button" class="btn btn-info btn-sm" id="guarda">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>

<script>
    var _acciones = true;
    @if (web.Utils.Config.Dame("EDITARELACIONADOS").ToLower() == "no")
                {
                    @("_acciones = false;");
                }
</script>
<script src="~/Content/pags/CatAlmacenes/Lista.js"></script>

















@*<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Lista de Almacenes</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li><i class="fa fa-home"></i>&nbsp;<a href="index.html">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active" style="color:#000000;">Entidades <i class="fa fa-angle-right"></i></li>
            <li class="active" style="color:#000000;">Almacenes</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">
        <div class="content">
            
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="widget-box">
                            <h4 class="caption" id="resultados"></h4>                        
                            


                            <div class="col-sm-3 col-md-3">
                                <select class="form-control" data-width="250px" id="busca_distribuidor">
                                    
                                    @foreach (web.Models.catDistribuidor d in distribuidores)
                                    { 
                                    <option value="@d.IdDistribuidor">@d.Nombre</option>
                                    }
                                </select>
                            </div>

                            <div class="col-sm-4 col-md-4">
                                <form id="formbusca" action="#" method="post">
                                    <input type="text" placeholder="Almacén" class="form-control validate[custom[integer]]" style="width:250px;float:left" id="abuscar">
                                    <button type="button" class="btn btn-default" id="buscar">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar
                                    </button>
                                </form>
                            </div>
                            <br />
                            <br />
                            <hr />
                            

                                <div class="table-responsive">
                                    <table class="table table-hover-color" id="datos">
                                        <thead>
                                            <tr>
                                                <th># almacén</th>
                                                <th>Nombre</th>
                                                <th>status</th>
                                                <th>Servicios</th>
                                                <th>Editar</th>
                                            </tr>
                                        </thead>
                                       
                                        <tfoot>
                                        <tr>
                                            <th># almacén</th>
                                            <th>Nombre</th>
                                            <th>status</th>
                                            <th>Servicios</th>
                                            <th>Editar</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                
                              
                            </div>
                    </div>
                   
                </div>*@
          

           
