﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["Distribuidores"];
    List<web.Models.catClasificacionArticulo> clasificacion = (List<web.Models.catClasificacionArticulo>)ViewData["Clasificacion"];
}




<div class="card">   
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Detalle de ordenes de compra</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Inventario</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdf"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        <li><a href="javascript:void(0); " id="excel"><i class="fa fa-circle fa-fw text-default-dark"></i>Excel</a></li>
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>
    
              
    <div class="card-body">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            @*<p>Selecciona distribuidor:</p>*@
            <span style="font-weight:bold;">Distribuidores:</span>
            <select class="form-control " data-style="btn-white" data-width="250px" id="dis" name="dis">

                <option value="-1">Selecciona</option>
                @foreach (web.Models.catDistribuidor dist in distribuidor)
                {
                    <option value="@dist.catDistribuidorClave">@dist.Nombre</option>
                }
            </select>
            <br />
            <span style="font-weight:bold;">Clasificación Artículo:</span>
            <select class="form-control" data-style="btn-white" data-width="250px" id="cla" name="cla">
                <option value="">Selecciona</option>
                @foreach (web.Models.catClasificacionArticulo cla in clasificacion)
                {
                    <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                }
            </select>
            <br />
            <span style="font-weight:bold;">Tipos de Artículo:</span>
            <select class="form-control" data-style="btn-white" data-width="250px" id="tip" name="tip">
                <option value="">
                    Selecciona
                </option>
            </select>

        </div>



        <div class="col-md-4">

            <span style="font-weight:bold;">Artículos:</span>
            <select class="selectpicker form-control" data-style="btn-white" data-width="250px" id="articulos" name="articulos" style="">
                <option value="">
                    Selecciona
                </option>
            </select>
            <br />

            <span style="font-weight:bold;">Fecha inicio:</span>
            <div class='input-group date datepicker-default' id='datepicker1'>
                <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>


            <span style="font-weight:bold;">Fecha fin:</span>
            <div class='input-group date datepicker-default' id='datepicker2'>
                <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

                

                   
                
           <br />
            <br />
            <br />
            <br />


    
        
   

</div>




<!--BEGIN SCRIPT-->
<script>
    var _acciones = true;
    @if(web.Utils.Config.Dame("EDITARELACIONADOS").ToLower() == "no")
    {
        @("_acciones = false;");
    }
</script>

<!--BEGIN LOADING SCRIPTS FOR PAGE-->
@*\web\Content\assets\js\libs\bootstrap-datepicker\locales*@

<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>
<script src="~/Content/pags/ReporteSurtidoDistribuidor/Reporte.js"></script>
<!--END LOADING SCRIPTS FOR PAGE-->
<!--BEGIN JAVASCRIPT-->
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

</script>



<script>

    $(document).ready(function () {

        $('#headerFlotante').hide();
        $('#reporteDiv').hide();
        $('#verFiltros').hide(); //oculto mediante id

        $('#verFiltros').click //muestra filtros
            (function () {
                $("#filtrosDiv").animate({
                    width: "toggle",
                    opacity: "toggle"
                });

                $('#verFiltros').hide(); //oculto mediante id
                $('#headerFlotante').hide();
                $('#reporteDiv').hide();
            });
    });





</script>
<!--END JAVASCRIPT-->
