﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];
    List<web.Models.catUbicacion> ubicaciones = (List<web.Models.catUbicacion>)ViewData["ubicaciones"];

    List<web.Models.catUnidad> unidades = (List<web.Models.catUnidad>)ViewData["unidades"];


    List<web.Models.Entidad> tecnicos = (List<web.Models.Entidad>)ViewData["tecnicos"];
    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];
    List<web.Models.catTipoSalida> tipossalida = (List<web.Models.catTipoSalida>)ViewData["tipossalida"];


    List<web.Models.Usuario> usuarios = (List<web.Models.Usuario>)ViewData["usuarios"];



    List<web.Models.Proceso> salidaspendientes = (List<web.Models.Proceso>)ViewData["salidaspendientes"];



    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();



}

<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {

                @Html.Raw(@"
                  .recdevdist{ display:none !important;}

               ")
           @Html.Raw(@"
                  .recprov{ display:none !important;}

               ")



                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {

                 @Html.Raw(@"
                   .edit{ display:none !important;}

               ")

            @Html.Raw(@"
                   .envio{ display:none !important;}

               ")

            }
            else
            {
            }
           if (a.Elimina.Value == true)
           {
                 @Html.Raw(@"
                   .cancel{ display:none !important;}

               ")
           }
           else
           {
           }

        }


    }


</style>


<div class="card">


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Devoluciones de técnicos</strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>
        </header>
        <div class="tools">
            <button type="button"
                    class="btn btn-block ink-reaction btn-flat btn-info btn-sm"
                    data-toggle="tooltip" data-placement="right" title=""
                    data-original-title=" Devolución de material de técnico"
                    id="add">
                Devolución de técnico
            </button>       

            </div>
        </div>
   

 

    <div class="card-body" style="padding:30px;">

        <div class="row">

            <div class="form-group">
                <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="tecnico" name="tecnico">
                    <option value="@Guid.Empty">Técnicos</option>
                    @foreach (web.Models.Entidad t in tecnicos.OrderBy(p => p.Nombre))
                    {
                        <option value="@t.EntidadClave">@t.Nombre</option>
                    }
                </select>
                <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="almacen" name="almacen">
                    <option value="@Guid.Empty">Almacén</option>
                    @foreach (web.Models.Entidad a in almacenes.OrderBy(x => x.Nombre))
                    {
                        <option value="@a.EntidadClave">@a.Nombre</option>
                    }
                </select>

                <input type="text" placeholder="# de Devolución" class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="abuscar" />
                <button type="button" class="btn btn-info ink-reaction btn-sm" id="buscar">
                    <i class="fa fa-search"></i> Buscar
                </button>
            </div>

        </div>
       



        <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table table-hover-color" id="datos">
            <thead>
                <tr>
                    <th># Devolución</th>
                    <th>Fecha</th>
                    <th>Técnico</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
            </thead>


        </table>

    </div>





</div>






















<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formadetalle" action="#" method="post">

        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 class="modal-title">Bitacora de Técnico</h4>
                </div>
                <div class="modal-body">


                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>


                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">             Cerrar           </button>
                </div>
            </div>
        </div>
    </form>
</div>




<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">
                    &times;
                </button>
                <h4 id="titulowin" class="modal-title">Devolución de  material</h4>
            </div>
            <div class="modal-body">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#first1"><i class="fa fa-bars" aria-hidden="true"></i> General</a></li>
                            <li><a href="#second1"><i class="fa fa-cube" aria-hidden="true"></i> Artículos</a></li>
                            
                        </ul>
               
                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="first1">
                            


                                <div class="col-md-6">
                                    <label>Almacén</label><br />
                                    <select id="ed_almacen" name="ed_almacen" class="form-control validate[required]">
                                        <option value="0">Seleccione</option>
                                        @foreach (web.Models.Entidad enti in almacenes.OrderBy(s=>s.Nombre))
                                        {
                                            <option value="@enti.EntidadClave">@enti.Nombre</option>
                                        }
                                    </select>
                                </div>


                                <div class="col-md-6">
                                    <label>Técnico</label><br />
                                    <select id="ed_tecnico" name="ed_tecnico" class="form-control validate[required]">
                                        <option value="0">Selecciona</option>
                                        @foreach (web.Models.Entidad usu in tecnicos.OrderBy(y=>y.Nombre))
                                        {
                                            <option value="@usu.EntidadClave" data-almacen="@string.Join(",", usu.AmbitoAlmacen.Select(o=>o.EntidadClaveAlmacen))">@usu.Nombre</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label>Observaciones</label><br />
                                    <textarea id="ed_observaciones" name="ed_observaciones" class="form-control"></textarea>
                                </div>

                           
                        </div>
                        <div class="tab-pane" id="second1">
                           
                               <div class="row">
                                
                                <div class="col-md-offset-9"><button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" id="agregar">Agregar Artículo</button></div>
                                </div>
                               
                            <div class="alert  alert-callout alert-warning" id="mDetalle" role="alert">
                                <strong>¡Atención!</strong> No hay material seleccionado.
                            </div>
                                <table class="table table-hover-color" id="tablaresumen" style="display:none;">
                                    <thead>
                                        <tr>
                                            <td style="font-size:14px;"><b>Artículo</b></td>
                                            <td style="font-size:14px;"><b>Cantidad por salir</b></td>
                                            <td style="font-size:14px;"><b>Opciones</b></td>
                                        </tr>
                                    </thead>
                                    <tbody id="contenidoresumen"></tbody>
                                </table>
                           
                        </div>
                       
                    </div><!--end .card-body -->
              


                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-bright btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="button" id="guardaSalida" class="btn btn-success btn-sm">Guardar</button>
            </div>
        </div>
    </div>

</div>





<div class="modal fade" id="articulo" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true" >
    <div class="modal-backdrop fade in" style="height:1019px;"></div>
    <input type="hidden" value="" id="art_id" name="del_id" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="simpleModalLabel">Agregar artículo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="col-md-6">
                        <label>Clasificacion de Material</label><br />
                        <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                            <option value="0" disabled selected>Selecciona</option>
                            @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                            {
                                <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>Tipo de Material</label><br />
                        <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                            <option value="0">Selecciona</option>
                            @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                            {
                                <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" class="optiontipo">@tia.Descripcion</option>
                            }
                        </select>
                    </div>


                    <div class="col-md-6">
                        <label>Artículo</label><br />
                        <select id="ed_articulo" name="ed_articulo" class="form-control validate[required]" onchange="DetalleArticulo(this.options[this.selectedIndex].getAttribute('rel'))">
                            <option value="0">Selecciona</option>

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>En Almacén</label><br />
                        <input type="text" id="en_almacen" name="en_almacen" class="form-control" disabled>
                    </div>

                    <div class="col-md-3">
                        <label>Cantidad</label><br />
                        <input type="number" id="ed_cantidad" name="ed_cantidad" class="form-control validate[required,custom[integer]]">
                    </div>
                    <input type="hidden" id="InventarioClave" />

                    <div class="col-md-6">
                        <input type="text" id="ed_buscar" name="ed_buscar" class="form-control" placeholder="Buscar" style="display:none">
                    </div>

                    <div class="col-md-12">
                        <label id="lblBusqueda"></label>
                        <br />
                        <input type="text" placeholder="Ingresa la serie del aparato" id="serie" class="form-control" style="text-transform: uppercase">
                    </div>
                </div>
                <div class="row">
                    <div id="panelbusqueda_series" style="display:none; margin:20px;">
                        <table class="table" id="datos2" style="width:100%;">
                            <thead>
                                <tr>
                                    <td>selección</td>
                                    <td>Serie</td>
                                    <td>Estatus</td>

                                </tr>
                            </thead>
                            <tbody id="tseries"></tbody>
                           
                        </table>



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-bright btn-sm" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success btn-sm" id="guardaAccesorios">Guardar Aceesorios</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
















<script src="http://neue.cc/linq.min.js"></script>
<script src="~/Content/pags/DevolucionTecnicos/Lista.js"></script>
<script src="~/Content/pags/DevolucionTecnicos/AgregaDevolucion.js"></script>
<script src="~/Content/pags/DevolucionTecnicos/Aparatos.js"></script>
<script src="~/Content/pags/DevolucionTecnicos/EditaDetalle.js"></script>
<script src="~/Content/pags/DevolucionTecnicos/GuardaDevolucion.js"></script>