﻿<script src="/Content/pags/_DetProdSer.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/assets/plugins/bootstrap-datepicker/css/datepicker.css">
@*<link rel="stylesheet" type="text/css" href="/Content/assets/plugins/DataTables/media/css/jquery.dataTables.min.css">
<script src="/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>*@

<div id="edDetProdSer" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmedProdSer" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="_DetProdSer-Titulo" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover-color" id="resumen">
                        <thead>
                            <tr>
                                <th>Total Orden</th>
                                <th>Total Surtidas</th>
                                <th>Pendientes</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="col-md-12">
                        <label id="lblBusqueda"></label>
                        <br />
                        <input type="text" id="_DetProdSer-Busca" class="form-control" style="text-transform: uppercase">
                    </div>
                    <br clear="all">
                    <div class="modal-body col-md-12" style="clear:both;height:250px;overflow:auto">
                        <table id="lasseries" class="table table-hover-color">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <br clear="all">
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm" id="btn_cierraSelArt">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="edDetProdSer_IR" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmedProdSer_IR" action="#" method="post">
        <input type="hidden" value="" id="ed_id_IR" name="ed_id_IR" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover-color" id="newSerie">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm" id="btn-cierra_edDPS_IR">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>