﻿<div id="edDetProdSer" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmedProdSer" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="_DetProdSer-Titulo" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover-color" id="resumen">
                        <thead>
                            <tr>
                                <th>Total Orden</th>
                                <th>Total Surtidas</th>
                                <th>Pendientes</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="col-md-12">
                        <label id="lblBusqueda"></label><input type="text" id="_DetProdSer-Busca" class="form-control" style="text-transform: uppercase">
                    </div>
                    <br clear="all">
                    <div class="col-md-12" style="max-height:300px;overflow-y:scroll">
                        <table class="table table-hover-color" id="lasseries">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <br clear="all" />
                    </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm" id="btn_cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/Content/pags/_DetProdSerSalida.js"></script>