﻿@{
    ViewBag.Title = "_Plantilla";
}
<!DOCTYPE html>
<html lang="en">
<head><title>SofTV - Almacen</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="shortcut icon" href="/Content/assets/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/Content/assets/images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/assets/images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/assets/images/icons/favicon-114x114.png">
    <!--<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">//-->
    <link type="text/css" rel="stylesheet" href="/Content/global/plugins/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/Content/global/plugins/simple-line-icons/simple-line-icons.css">
    <link type="text/css" rel="stylesheet" href="/Content/global/plugins/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/Content/global/plugins/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="/Content/global/plugins/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="/Content/assets/plugins/bootstrap-switch/css/bootstrap-switch.css">
    <link type="text/css" rel="stylesheet" href="/Content/assets/plugins/google-code-prettify/prettify.css">
    <link type="text/css" rel="stylesheet" href="" id="font-layout">
    <link type="text/css" rel="stylesheet" href="/Content/global/css/core.css">
    <link type="text/css" rel="stylesheet" href="/Content/assets/css/system.css">
    <link type="text/css" rel="stylesheet" href="/Content/assets/css/system-responsive.css">
    <link href="/Content/global/plugins/validator_engine/css/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>

    <style>
        .renglon, .periodo {
            cursor:pointer;
        }

        .tiene {
            background-color:#87E5FF;
        }

        #wrapper {
              background-color: #FFF;
        }
    </style>

    <script src="/Content/global/js/jquery-1.10.2.min.js"></script>
</head>
<body class="sidebar-color-white font-source-sans-pro layout-sidebar-collapsed"><!--Modal Default-->
<div id="source-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h4 id="modal-default-label" class="modal-title">View Code</h4></div>
            <div class="modal-body">
                <pre class="prettyprint linenums"></pre>
            </div>
        </div>
    </div>
</div>



<div class="fluid"><!--BEGIN TEMPLATE SETTING-->

    <!--END TEMPLATE SETTING-->
    <div id="wrapper"><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN SIDEBAR MAIN-->
            <!--END SIDEBAR MAIN--><!--BEGIN PAGE CONTENT-->

                    
                    @RenderBody()




            <!--END PAGE CONTENT--></div>
        <!--END PAGE WRAPPER--></div>


</div>

    <!--Modal Default-->
    <div id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
         aria-hidden="true" class="modal fade">
    </div>

<script src="/Content/global/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/Content/global/js/jquery-ui.js"></script>
<script src="/Content/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/Content/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="/Content/global/js/html5shiv.js"></script>
<script src="/Content/global/js/respond.min.js"></script>
<script src="/Content/global/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/Content/global/plugins/slimScroll/jquery.slimscroll.js"></script>
<script src="/Content/global/plugins/iCheck/icheck.min.js"></script>
<script src="/Content/global/plugins/iCheck/custom.min.js"></script>
<script src="/Content/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="/Content/assets/plugins/google-code-prettify/prettify.js"></script>
<script src="/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="/Content/assets/plugins/jquery.pulsate.js"></script>

<script src="/Content/global/plugins/validator_engine/js/languages/jquery.validationEngine-es.js" type="text/javascript" charset="utf-8"></script>
<script src="/Content/global/plugins/validator_engine/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>


<script src="/Content/global/js/core.js"></script>
<script src="/Content/assets/js/system.js"></script>
<script src="/Content/assets/js/system-layout.js"></script>
<script src="/Content/assets/js/jquery-responsive.js"></script>
<script>jQuery(document).ready(function () {
    "use strict";
    JQueryResponsive.init();
    Layout.init();
});
</script>
<script>jQuery(document).ready(function () {
    try
    {
        layout_sidebar_collapsed.init();
    }
    catch (e)
    { }
});
</script>

    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.addimage.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.cell.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.from_html.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.ie_below_9_shim.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.javascript.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.sillysvgrenderer.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.split_text_to_size.js"></script>
    <script src="/Content/global/plugins/jsPDF-0.9.0rc2/jspdf.plugin.standard_fonts_metrics.js"></script>

 <script>
     function demoFromHTML() {
         var doc = new jsPDF('p', 'in', 'letter');
         var source = $('#testcase').first();
         var specialElementHandlers = {
             '#bypassme': function (element, renderer) {
                 return true;
             }
         };

         doc.fromHTML(
            $('#testcase').get(0), // [Refer Exact code tutorial][2]HTML string or DOM elem ref.
             0.5,    // x coord
             0.5,    // y coord
             {
                 'width': 7.5, // max width of content on PDF
                 'elementHandlers': specialElementHandlers
             });

         doc.output('dataurl');
     }
</script>

</body>
</html>