﻿@{
    ViewBag.Title = "_Plantilla";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> @web.Utils.Config.Dame("SISTEMA")</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!--JQUERY-->
  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
   
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
    <!-- END STYLESHEETS -->


    <!--loader-->
    <link href="~/Content/assets/css/reportes.css" rel="stylesheet" />
   
   <!--datatables-->
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>
    
    @*<link rel="stylesheet" href="~/Content/assets/js/libs/DataTables/dataTables.customLoader.circle.css" />*@

    <!--toastr-->
    <link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/libs/toastr/toastr.css?1425466569" />    
    <!--Validation engine jQUERY-->
    <link href="~/Content/assets/js/libs/validator_engine/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />    
    <!--icheck-->
    <link type="text/css" rel="stylesheet" href="~/Content/assets/js/libs/iCheck/skins/all.css">
    <!--colorpicker-->
     <style>
         .paginaActiva{
             color:#0c6542;
         }
     </style>

    </head>
<body class="menubar-hoverable header-fixed  ">
  
    <header id="header">
        <div class="headerbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder active expanded">
                            <a href="/Acceso/Dashboard/">
                                <span class="text-lg text-bold text-primary">@web.Utils.Config.Dame("SISTEMA")</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="headerbar-right">
                <ul class="header-nav header-nav-options">
                    <li>
                        <!-- Search form -->
                        <form class="navbar-search" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
                            </div>
                            <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                   
                    
                </ul><!--end .header-nav-options -->
                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            <img src="~/Content/media/@web.Utils.Config.Dame("LOGO_LOGIN")" alt="" />
                            <span class="profile-info">
                                @if (Session["u"] != null)
                                {
                                    @Html.Raw(((web.Models.Usuario)Session["u"]).Nombre);
                                }
                                @if (Session["u"] != null)
                                {
                                    @Html.Raw(((web.Models.Usuario)Session["u"]).CorreoElectronico);
                                }
                               
                            </span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                        @if (Session["u"] != null)
                        {
                            <li><a href="#" id="modificapassword"><i class="md-vpn-key text-danger"></i> Cambiar Contraseña</a></li>
                            
                        }                           
                           
                            <li><a href="/Acceso/CerrarSesion/"><i class="fa fa-fw fa-power-off text-danger"></i> Cerrar Sesión</a></li>
                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                </ul><!--end .header-nav-profile -->
                <ul class="header-nav header-nav-toggle">
                    <li>
                        @*<a class="btn btn-icon-toggle btn-default" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>*@
                    </li>
                </ul><!--end .header-nav-toggle -->
            </div><!--end #header-navbar-collapse -->
        </div>
    </header>
    
                        @*@web.Utils.Config.Dame("SISTEMA")
        @web.Utils.Config.Dame("LOGO_LOGIN")
            a href="/Acceso/CerrarSesion/">

                  @if (Session["u"] != null)
                            {
                                @Html.Raw(((web.Models.Usuario)Session["u"]).Nombre + "&nbsp;&nbsp;&nbsp;");
                            }

                <img src="/Content/media/@web.Utils.Config.Dame("LOGO_LOGIN")" width="20" height="20" />
                <div class="pull-left" style="color:#000000;">©@Html.Raw(DateTime.Now.Year) @web.Utils.Config.Dame("EMPRESA")

                          @Html.Raw(Session["m"])

                @RenderBody()
                        *@

        
        <!--END TOPBAR-->
        
                      
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">

            <!-- BEGIN LIST SAMPLES -->
            <section>
               
                <div class="section-body contain-lg">

                   @RenderBody()

                </div><!--end .section-body -->
            </section>
        </div><!--end #content-->
        <!-- END CONTENT -->
        <!-- BEGIN MENUBAR-->
        <div id="menubar" class="menubar-inverse ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <a href="../../html/dashboards/dashboard.html">
                        <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                    </a>
                </div>
            </div>
            <div class="menubar-scroll-panel">

                <!-- BEGIN MAIN MENU -->
                <ul id="main-menu" class="gui-controls">

                    <!-- BEGIN DASHBOARD -->
                    <li>
                        <a href="/Acceso/Dashboard/">
                            <div class="gui-icon"><i class="md md-home"></i></div>
                            <span class="title">Menú principal</span>
                        </a>
                    </li><!--end /menu-li -->
                    <!-- END DASHBOARD -->
                    <!-- BEGIN EMAIL -->

                    @Html.Raw(Session["m"])

                    
                    
                    <!-- END LEVELS -->

                </ul><!--end .main-menu -->
                <!-- END MAIN MENU -->

                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        
                    </small>
                </div>
            </div><!--end .menubar-scroll-panel-->
        </div><!--end #menubar-->
        <!-- END MENUBAR -->
        <!-- BEGIN OFFCANVAS RIGHT -->
        <div class="offcanvas">

            <!-- BEGIN OFFCANVAS SEARCH -->
            <div id="offcanvas-search" class="offcanvas-pane" style="width:1000px;">
                <div class="offcanvas-head">
                    <header class="text-primary" id="titulocanvas"></header>
                    <div class="offcanvas-tools">
                        <a class="btn btn-icon-toggle btn-danger pull-right" data-dismiss="offcanvas">
                            <i class="md md-close"></i>
                        </a>
                    </div>
                </div>
                <div class="offcanvas-body no-padding">
                    <iframe id="framecanvas" src="" style="position:absolute;top:0px;width:100%;height:100vh;"></iframe>

                </div><!--end .offcanvas-body -->
            </div>
            

        </div>
     

    </div>

   
    <div id="password" tabindex="-1" role="dialog"
         aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
        <form id="formapassword" action="#" method="post">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true"
                                class="close">
                            &times;
                        </button>
                        <h4 id="titulowindel" class="modal-title"><i class="md-lock-open"></i> Modificar Contraseña</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="col-md-6">

                                <label>Contraseña Actual</label><br />
                                <input id="actual" name="actual" placeholder="Contraseña Actual" type="password" class=" validate[required]" />

                            </div>
                            <div class="col-md-6">

                                <label>Contraseña Nueva</label><br />
                                <input id="nueva" name="nueva" placeholder="Contraseña Nueva" type="password" class=" validate[required]" />

                                <label>Confirmar Contraseña</label><br />
                                <input id="confirma" name="confirma" placeholder="Confirmar Contraseña" type="password" class=" validate[required,equals[nueva]]" />


                            </div>
                        </div>
                        <br clear="all" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">
                            Cerrar
                        </button>
                        <button type="button" class="btn btn-info btn-sm" id="setpassword">
                            Modificar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>






    <script>
   
      
    
    </script>
   


    






    <style>
@if (web.Utils.Config.Dame("FONDO_BARRASUPERIOR") != "")
{
    @Html.Raw(@"
    #header
    {
        background-color: " + web.Utils.Config.Dame("FONDO_BARRASUPERIOR") +@" !important;
    }");
}

@if (web.Utils.Config.Dame("FONDO_MENU") != "")
{
    @Html.Raw(@"
    #menubar.menubar-inverse:before 
    {
        background-color: " + web.Utils.Config.Dame("FONDO_MENU") + @" !important;
    }");
}

@if (web.Utils.Config.Dame("FONDO_PAGINA") != "")
{
    @Html.Raw(@"
    body 
    {
        background-color: " + web.Utils.Config.Dame("FONDO_PAGINA") + @" !important;
    }");
}

@if (web.Utils.Config.Dame("FONDO_TITULO") != "")
{
    @Html.Raw(@"
    .page-title-breadcrumb
    {
        background-color: " + web.Utils.Config.Dame("FONDO_TITULO") + @" !important;
    }");
}

@if (web.Utils.Config.Dame("LETRA_BARRASUPERIOR") != "")
{
    @Html.Raw(@"
#header
    {
        color: " + web.Utils.Config.Dame("LETRA_BARRASUPERIOR") + @" !important;
    }");
}


@if (web.Utils.Config.Dame("LETRA_MENU") != "")
{
    @Html.Raw(@"
    .menubar-inverse .gui-controls li.gui-folder > a .title,.menubar-inverse .gui-icon {
        color: " + web.Utils.Config.Dame("LETRA_MENU") + @" !important;
    }");
}


@if (web.Utils.Config.Dame("LETRA_PAGINA") != "")
{
    @Html.Raw(@"
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
    {
        color: " + web.Utils.Config.Dame("LETRA_PAGINA") + @" !important;
    }");
}


@if (web.Utils.Config.Dame("LETRA_TITULO") != "")
{
    @Html.Raw(@"
    .page-title-breadcrumb .page-header .page-title
    {
        color: " + web.Utils.Config.Dame("LETRA_TITULO") + @" !important;
    }");
}
    </style>

    <script>

        


        $(document).ready(function () {

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-purple',
                radioClass: 'iradio_minimal-purple'
            });

                   
                $("body").tooltip({ selector: '[data-toggle=tooltip]' });
           

        $.ajaxSetup({ 'global': true });

        $(document).ajaxStart(function () {
            $.blockUI({
                message: '<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>',
                css: {

                    backgroundColor: 'transparent'
                }
            });

        });

        $(document).ajaxStop(function () {
            $.unblockUI();
        });

        
    });


    </script>
    <!-- BEGIN JAVASCRIPT -->
    
    
    <script src="~/Content/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/libs/spin.js/spin.min.js"></script>
    <script src="~/Content/assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="~/Content/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="~/Content/assets/js/core/source/App.js"></script>
    <script src="~/Content/assets/js/core/source/AppNavigation.js"></script>
    <script src="~/Content/assets/js/core/source/AppOffcanvas.js"></script>
    <script src="~/Content/assets/js/core/source/AppCard.js"></script>
    <script src="~/Content/assets/js/core/source/AppForm.js"></script>
    <script src="~/Content/assets/js/core/source/AppNavSearch.js"></script>
    <script src="~/Content/assets/js/core/source/AppVendor.js"></script>
    <script src="~/Content/assets/js/core/demo/Demo.js"></script>
    <script src="~/Content/assets/js/core/demo/DemoLayouts.js"></script>
    <script src="~/Content/assets/js/libs/toastr/toastr.js"></script>
    <script src="~/Content/assets/js/libs/blockui/blockui.js"></script>
    <script src="~/Content/assets/js/libs/validator_engine/js/languages/jquery.validationEngine-es.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/libs/validator_engine/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/assets/js/libs/iCheck/icheck.min.js"></script>
    <script src="~/Content/assets/js/libs/iCheck/custom.min.js"></script>
    <script src="/Content/pags/password.js"></script>
   

    <!-- END JAVASCRIPT -->


    
</body>
</html>