﻿<div id="edProcesoEnvio" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="frmProcesoEnvio" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="_ProcesoEnvio-Titulo" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-8">
                        <div class="col-md-8">
                            <label>Transportista</label>
                            <select class="form-control validate[required]" style="width:200px;" id="edPE_transportista">
                                <option value="">Seleccione...</option>
                                @foreach (web.Models.catTransportista t in ViewBag.transportistas)
                                {
                                    <option value="@t.catTranspClave" rel="@t.URLSeguimiento">@t.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-8">
                            <label>Guía</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control validate[required]" id="edPE_guia" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-info info-envio">&#128269;</button>
                        </div>
                        <br />
                        <div class="col-md-8">
                            <label>Fecha de Envío (DD/MM/AAAA)</label>
                            <input id="edPE_fecha" name="edPE_fecha" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text" />
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm" id="btn_cerrar">Cerrar</button>
                    <button type="button" class="btn btn-info btn-sm" id="btn_PEguardar">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/assets/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
<script src="/Content/pags/_ProcesoEnvio.js"></script>