﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
   List<web.Models.Entidad> tecnicos = (List<web.Models.Entidad>)ViewData["tecnicos"];
}


<div class="card" id="filtros" >
  
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Equipos de técnicos</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="btn-reporte" onclick="generarReporte()" disabled><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        <
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>


    <div class="card-body">

        @*<div class="col-md-4">*@

            @*<div style="margin:10px;">
                <label style=" font-weight:bold">Distribuidor: </label>
                <select id="select_distribuidor" class="form-control">
                    <option value="0">Selecciona</option>
                    @foreach (var a in distribuidor.OrderBy(x => x.Nombre))
                    {
                        <option value="@a.catDistribuidorClave">@a.Nombre</option>
                    }
                </select>
            </div>*@

            @*<div style="margin:10px;">
                <label style="font-weight:bold">Almacén:</label>
                <select id="select_almacen" class="form-control" disabled>
                    <option value="0">Selecciona</option>
                </select>
            </div>*@

        @*</div>*@

        <div class="col-md-5">

            <div style="margin:10px;">
                <div class="col-md-8">
                    <label style=" font-weight:bold"> Técnico: </label>
                </div>

                <div class="col-md-4 input-group radio" id="panel_todos">
                    <input type="checkbox" name="todos" id="todos_tecnicos" value="Todos"> Todos
                </div>

                <select id="select_tecnico" class="form-control">
                    <option value="0">Todos los técnicos</option>
                    @foreach(var a in tecnicos)
                    {
                        <option value="@a.EntidadClave">@a.Nombre</option>
                    }
                </select>
                <div style="margin:10px;">
                    <label style=" font-weight:bold">Tipo de artículo: </label>
                    <select id="select_tipos" class="form-control">
                        <option value="0">Selecciona</option>
                    </select>
                </div>

                <div style="margin:10px;">
                    <label style="font-weight:bold">Artículo:</label>
                    <select id="select_articulos" class="form-control">
                        <option value="0">seleccion</option>
                    </select>
                </div>
            </div>
        </div>



    </div>
 
    <hr />

    @*<div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-2" align="center">

        </div>
        <div class="col-md-3">

            <p class="text-muted">Opciones de exportación:</p>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-danger"
                    data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar PDF' id="btn-reporte" onclick="generarReporte()" disabled>
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </button>

        </div>




        <div class="col-md-2"></div>



    </div>*@
  






</div>


<script src="~/Content/assets/js/Alertas.js"></script>
<script>
    llenarTipoArticulo();   
    $('#select_tipos').on('change', function () {
        var id = $('#select_tipos').val();
        //if (id == 0) {
        //    $('#btn-reporte').removeAttr('disabled');
        //    $('#select_articulos').prop('disabled', true);
        //    $('#select_articulos').empty();
        //    $('#select_articulos').append('<option disabled selected>Selecciona</option>');
        //} else {
           // $('#btn-reporte').removeAttr('disabled');
           // $('#select_articulos').prop('disabled', false);
            $.ajax({
                url: "/ReporteSaldoTecnico/getArticulos/",
                type: "POST",
                data: { 'id_categoria': id },
                success: function (data, textStatus, jqXHR) {
                    console.log(data)
                    $('#select_articulos').empty();
                    $('#select_articulos').removeAttr('disabled');
                    $('#select_articulos').append('<option disabled selected>selecciona</option>');
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].ArticuloClave, data[i].Nombre)
                        $('#select_articulos').append('<option value="' + data[i].ArticuloClave + '">' + data[i].Nombre + '</option>');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error');
                }
            });
        

    });
    function llenarTipoArticulo() {
        $.ajax({
            url: "/ReporteSaldoTecnico/getTipoArticulo/",
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                $('#select_tipos').empty();
                $('#select_tipos').append('<option disabled selected>Selecciona</option>');
                $('#select_tipos').append('<option value="0">Todos los tipos de artículos</option>');
                for (var i = 0; i < data.length; i++) {
                    $('#select_tipos').append('<option value="' + data[i].catTipoArticuloClave + '">' + data[i].Descripcion + '</option>');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('Error');
            }
        });
    }

    function generarReporte() {
        var reporte = {};
        //var distribuidor = $('#select_distribuidor option:selected').text();
        //var almacen = $('#select_almacen').val();
       // var almacen_letra = $('#select_almacen option:selected').text();
       // var tipo_articulo = $('#select_tipos').val();
        var articulo = $('#select_articulo').val();
        var tecnico = $('#select_tecnico').val();                   
        window.location.href = '/ReporteSaldoTecnico/Detalle?pdf=2&articulo=' + articulo + '&tecnico=' + tecnico;
     }
</script>
