﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catTipoArticulo> tiposarticulo = (List<web.Models.catTipoArticulo>)ViewData["tiposarticulo"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.catTipoMoneda> tiposmoneda = (List<web.Models.catTipoMoneda>)ViewData["tiposmoneda"];
    List<web.Models.catUbicacion> ubicaciones = (List<web.Models.catUbicacion>)ViewData["ubicaciones"];

    List<web.Models.catUnidad> unidades = (List<web.Models.catUnidad>)ViewData["unidades"];


    List<web.Models.Entidad> almacenes = (List<web.Models.Entidad>)ViewData["almacenes"];


    List<web.Models.Usuario> usuarios = (List<web.Models.Usuario>)ViewData["usuarios"];




    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();




}

<script></script>


<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #adddistribuidor{ display:none !important;}
                   #add{ display:none !important;}
               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .edita{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {
               @Html.Raw(@"
                   .cancela{ display:none !important;}
               ")
           }

        }


    }


</style>



<div class="card">
    <a class="btn btn-icon-toggle btn-default" style="display:none;" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>


    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px; ">
        <header>
            <strong style="font-weight:bold; border:none; font-size: 16px; ">Órdenes de compra</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Procesos</a></small>

        </header>
        <div class="tools">
            <button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" data-toggle="tooltip" data-placement="right" title="" data-original-title="Agrega una nueva orden de compra " id="add">  Agregar Orden de Compra</button>
            @*@if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
            {

                <button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" data-toggle="tooltip" data-placement="right" title="" data-original-title="Agrega una nueva orden de compra " id="add">  Agregar Orden de Compra</button>
            }
            else
            {
                <button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" data-toggle="tooltip" data-placement="right" title="" data-original-title="Agrega una nueva Orden de compra" id="adddistribuidor">Agregar Orden de Compra</button>
                <button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" id="add" style="display:none">Agregar Orden de Compra</button>
            }*@
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">

            <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="buscastatus">
                <option value="-1">Estatus</option>
                <optgroup label="Nuevos">
                    @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                    {
                        <option value="1">Por autorizar</option>
                        <option value="2">Autorizados</option>
                        <option value="5">Rechazados</option>
                    }
                    else
                    {
                        <option value="2">Sin surtir</option>
                    }

                </optgroup>
                <optgroup label="En proceso">
                    <option value="3">Parciales</option>
                    <option value="4">Completos</option>
                </optgroup>
            </select>



            @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
            {
                <select class="form-control input-sm" style="width:250px;float:left;margin-right:10px" id="buscaproveedor">
                    <option value="-1">Proveedor</option>
                    @foreach (web.Models.catProveedor p in proveedores)
                    {
                        <option value="@p.catProveedorClave">@p.Nombre</option>
                    }
                </select>
            }

            @*<input type="text" class="form-control" value="@url" />
                <input type="text" value="1" class="form-control" />*@
            <form id="formbusca" action="#" method="post">
                <input type="text" placeholder="# de Orden de Compra" style="width:250px;float:left;margin-right:10px" class="form-control input-sm validate[custom[integer]]" id="abuscar" />
                <button type="button" class="btn ink-reaction  btn-info btn-sm" id="buscar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Buscar
                </button>
            </form>
        </div>

        <div style="padding-left: 10px;">



            <table class="table table-hover-color" id="datos" style="font-size:12px;">
                <thead>
                    <tr>
                        <th># Orden</th>
                        <th>Almacén</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Total USD</th>
                        <th>Estatus</th>
                        @*@if (((web.Models.Almacen.Usuario)Session["u"]).DistribuidorClave != null)
                            {
                                <th>Factura</th>
                            }*@
                        <th>Detalle</th>

                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>






<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" data-toggle="tabs">
                        <li class="active"><a href="#first1"><i class="fa fa-bars" aria-hidden="true"></i> General</a></li>
                        <li><a href="#second1"><i class="fa fa-archive" aria-hidden="true"></i> Artículos</a></li>
                        <li><a href="#third1"><i class="fa fa-money" aria-hidden="true"></i> Otros costos</a></li>
                        <li><a href="#four1"><i class="fa fa-book" aria-hidden="true"></i> Resumen</a></li>
                    </ul>
                    <div class=" tab-content">
                        <div class="tab-pane active" id="first1">
                            <div class="form-group">
                                @*@if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                                {*@
                                    <div class="col-md-12">
                                        <label>Proveedor</label><br />
                                        <select id="ed_proveedor" name="ed_proveedor" class="form-control validate[required]">
                                            <option value="">Seleccione</option>
                                            @foreach (web.Models.catProveedor pro in proveedores)
                                            {
                                                <option value="@pro.catProveedorClave">@pro.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                @*}
                                else
                                {
                                    <input type="hidden" name="ed_proveedor" id="ed_proveedor" value="-1" />
                                }*@

                                <div class="col-md-6">
                                    <label>Lugar de entrega</label><br />
                                    <select id="ed_almacen" name="ed_almacen" class="form-control validate[required]">
                                        <option value="">Selecciona</option>
                                        @foreach (web.Models.Entidad enti in almacenes)
                                        {
                                            <option value="@enti.EntidadClave">@enti.Nombre</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6" id="pservicio">
                                    <label>Servicio</label><br />
                                    <select id="selectServicio" class="form-control">
                                        <option value="">Selecciona servicio</option>
                                    </select>
                                </div>
                                @*@if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                                {*@
                                    <div class="col-md-6">
                                        <label>Autorización</label><br />
                                        <select id="ed_autorizador" name="ed_autorizador" class="form-control validate[required]">
                                            <option value="">Selecciona</option>
                                            @foreach (web.Models.Usuario usu in usuarios)
                                            {
                                                <option value="@usu.UsuarioClave">@usu.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                @*}
                                else
                                {
                                    <br clear="all" />
                                    <input type="hidden" name="ed_autorizador" id="ed_autorizador" value="-1" />
                                }*@

                                <div class="col-md-3">
                                    <label>Tipo de cambio</label><br />
                                    <input readonly type="text" value="@ViewData["tipocambio"]" id="ed_tipocambio" name="ed_tipocambio" placeholder="$" class="form-control validate[required] preciootrosgastos" />
                                </div>
                                <div class="col-md-3">
                                    <label>IVA</label><br />
                                    <input readonly type="text" value="@ViewData["iva"]" id="ed_iva" name="ed_iva" placeholder="IVA" class="form-control validate[required,custom[number]] preciootrosgastos" />
                                </div>
                                <div class="col-md-3">
                                    <label>Descuento</label><br />
                                    <input readonly type="text" value="0" id="ed_descuento" name="ed_descuento" placeholder="%" class="form-control validate[required] preciootrosgastos" />
                                </div>
                                <div class="col-md-3">
                                    <label>Crédido</label><br />
                                    <input readonly type="text" value="0" id="ed_diascredito" name="ed_diascredito" placeholder="Días" class="form-control validate[required,custom[integer]]" />
                                </div>
                                <div class="col-md-12">
                                    <label>Observaciones</label><br />
                                    <textarea id="ed_observaciones" name="ed_observaciones" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="second1">
                            <div class="form-group">
                                <br clear="all" />
                                <div class="col-md-9">
                                    <div class="alert alert-callout alert-success" role="alert">
                                        <strong>¡Atención!</strong> Los siguientes artículos se agregarán a la orden de compra.
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <button type="button" class="btn btn-sm ink-reaction btn-flat btn-info" id="agregar">Añadir Artículo</button>
                                </div>
                                <table class="table table-hover-color" id="articulostable">
                                    <thead>
                                        <tr>
                                            <th>Artículo</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Importe</th>
                                            <th id="c_importedolares">Importe USD</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6" id="paginador"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="third1">
                            <div class="form-group">
                                <br clear="all" />
                                <div class="col-md-6">
                                    <label>Concepto</label><br />
                                    <input type="text" id="ed_conceptooc1" name="ed_conceptooc1" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label>Precio</label><br />
                                    <input type="text" id="ed_preciooc1" name="ed_preciooc1" placeholder="$" class="form-control preciootrosgastos">
                                </div>
                                <div class="col-md-3">
                                    <label>Tipo moneda</label><br />
                                    <select id="ed_monedaoc1" name="ed_monedaoc1" class="form-control preciootrosgastos">

                                        @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                        {
                                            <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="ed_conceptooc2" name="ed_conceptooc2" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="ed_preciooc2" name="ed_preciooc2" placeholder="$" class="form-control validate[custom[number]] preciootrosgastos">
                                </div>
                                <div class="col-md-3">
                                    <select id="ed_monedaoc2" name="ed_monedaoc2" class="form-control">

                                        @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                        {
                                            <option value="@tmo.catTipoMonedaClave">@tmo.Descripcion</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="four1">
                            <br />
                            <table class="table  table-striped">
                                <tr>
                                    <td><label style="font-weight:bold;">CONCEPTOS</label></td>
                                    <td><label style="font-weight:bold;">PESOS MX</label></td>
                                    <td><label style="font-weight:bold;">DOLARES</label></td>
                                </tr>
                                <tr>
                                    <td><label style="font-weight:bold;">Subtotal</label></td>
                                    <td><div id="resubtotal" class="formato">$0.00</div></td>
                                    <td><div id="resubtotal_usd" class="formato">$0.00</div></td>
                                </tr>
                                <tr>
                                    <td><label style="font-weight:bold;">Descuento <span id="redescuento_po" class="formato">(0%)</span></label></td>
                                    <td><div id="redescuento" class="formato">$0.00</div></td>
                                    <td><div id="redescuento_usd" class="formato">$0.00</div></td>
                                </tr>
                                <tr>
                                    <td><label style="font-weight:bold;">IVA <span id="reiva_po" class="formato">(@ViewData["iva"]%)</span></label></td>
                                    <td><div id="reiva" class="formato">$0.00</div></td>
                                    <td><div id="reiva_usd" class="formato">$0.00</div></td>
                                </tr>
                                <tr>
                                    <td><label style="font-weight:bold;">Total</label></td>
                                    <td><div id="retotal" class="formato">$0.00</div></td>
                                    <td><div id="retotal_usd" class="formato">$0.00</div></td>
                                </tr>
                            </table>

                            <input type="hidden" id="to_subtotal" name="to_subtotal" value="0" />
                            <input type="hidden" id="to_descuento" name="to_descuento" value="0" />
                            <input type="hidden" id="to_iva" name="to_iva" value="0" />
                            <input type="hidden" id="to_total" name="to_total" value="0" />

                            <input type="hidden" id="to_subtotal_usd" name="to_subtotal_usd" value="0" />
                            <input type="hidden" id="to_descuento_usd" name="to_descuento_usd" value="0" />
                            <input type="hidden" id="to_iva_usd" name="to_iva_usd" value="0" />
                            <input type="hidden" id="to_total_usd" name="to_total_usd" value="0" />

                            @*<div class="form-group">






                                    <div class="col-md-6 right">
                                        <label>Subtotal</label>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="resubtotal" class="formato">$0.00</div>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="resubtotal_usd" class="formato">$0.00</div>
                                    </div>

                                    <div class="col-md-6 right">
                                        <label>Descuento <span id="redescuento_po" class="formato">(0%)</span></label>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="redescuento" class="formato">$0.00</div>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="redescuento_usd" class="formato">$0.00</div>
                                    </div>

                                    <div class="col-md-6 right">
                                        <label>IVA <span id="reiva_po" class="formato">(@ViewData["iva"]%)</span></label>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="reiva" class="formato">$0.00</div>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="reiva_usd" class="formato">$0.00</div>
                                    </div>

                                    <div class="col-md-6 right">
                                        <label>Total</label>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="retotal" class="formato">$0.00</div>
                                    </div>
                                    <div class="col-md-3 right">
                                        <div id="retotal_usd" class="formato">$0.00</div>
                                    </div>

                                </div>*@
                        </div>
                    </div><!--end .card-body -->



                    <br clear="all" />
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default-bright btn-sm ink-reaction" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="guarda" class="btn btn-success btn-sm ink-reaction">Guardar</button>

                </div>
            </div>
        </div>
    </form>
</div>

<div id="articulo" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaarticulo" action="#" method="post">

        <input type="hidden" value="" id="art_id" name="del_id" />
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowinarticulo" class="modal-title">Agregar artículo</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Clasificación</label><br />
                            <select id="ed_clasificacionmaterial" name="ed_clasificacionmaterial" class="form-control validate[required]">
                                <option value="">Selecciona</option>
                                @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                                {
                                    <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label>Tipo de Artículo</label><br />
                            <select id="ed_tipomaterial" name="ed_tipomaterial" class="form-control validate[required]">
                                <option value="">Seleccion</option>
                                @foreach (web.Models.catTipoArticulo tia in tiposarticulo)
                                {
                                    <option value="@tia.catTipoArticuloClave" data-cla="@tia.catClasificacionArticuloClave" data-pagare="@Convert.ToInt32(tia.EsPagare)" class="optiontipo">@tia.Descripcion</option>
                                }
                            </select>
                        </div>


                        <div class="col-md-12">
                            <label>Artículo</label><br />
                            <select id="ed_articulo" name="ed_articulo" class="form-control validate[required]">
                                <option value="">Seleccion</option>
                            </select>
                        </div>


                        <div class="col-md-3" id="div_pdisponible" style="display:none">
                            <label>Disponible en pagaré</label><br />
                            <input type="text" id="ed_disponible" name="ed_disponible" class="form-control validate[required,custom[integer]]" readonly>
                        </div>
                        <div class="col-md-3">
                            <label>Cantidad</label><br />
                            <input type="text" id="ed_cantidad" name="ed_cantidad" class="form-control validate[required,custom[integer]]">
                        </div>
                        <div class="col-md-3">
                            <label>Precio</label><br />
                            @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                            {
                                <input type="text" id="ed_precio" name="ed_precio" placeholder="$" class="form-control validate[required,custom[number]]">
                            }
                            else
                            {
                                <input type="text" id="ed_precio" name="ed_precio" placeholder="$" readonly class="form-control validate[required,custom[number]]">
                            }
                        </div>
                        <div class="col-md-6" id="div_tmoneda">
                            <label>Tipo Moneda</label><br />
                            <select id="ed_moneda" name="ed_moneda" class="form-control validate[required]">
                                <option value="">Seleccione</option>
                                @foreach (web.Models.catTipoMoneda tmo in tiposmoneda)
                                {
                                    <option value="@tmo.catTipoMonedaClave" @if (tmo.Descripcion.ToLower().IndexOf("peso") > -1) { @Html.Raw("selected")      }>@tmo.Descripcion</option>
                                }
                            </select>
                        </div>

                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-info btn-sm" id="agregararticulo">Agregar</button>
                </div>
            </div>
        </div>
    </form>
</div>



<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">
        <input type="hidden" value="" id="del_id" name="del_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        &times;
                    </button>
                    <h4 id="titulowindel" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de eliminar este artículo?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                    <button type="submit" class="btn btn-danger btn-sm" id="eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade ">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Orden de compra</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="cancela" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formacancela" action="#" method="post">
        <input type="hidden" value="" id="cancela_id" name="cancela_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowincancela" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <label>¿Estás seguro de cancelar esta orden de compra?</label>
                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-sm"> Cerrar  </button>
                    <button type="submit" class="btn btn-danger btn-sm" id="btnCancelar">Sí, deseo cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="pagare" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formapagare" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowinpagare" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-12">

                                ¿Que tipo de artículos llevará la orden de compra?
                                <br /><br />

                                <div class="btn-group btn-group-lg" role="group" aria-label="">
                                    <button type="button" class="btn btn-default-bright ink-reaction btn-sm" id="artscompra_si">Venta</button>
                                    @*<button type="button" class="btn btn-default-bright ink-reaction btn-sm" id="artscompra_no">Pagaré</button>*@
                                </div>


                            </div>
                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default-bright btn-sm">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>






<script>
    @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
{
    @Html.Raw("var _principal = true;")
}
else
{
    @Html.Raw("var _principal = false;")
}
</script>

<script src="/Content/pags/Utils.js"></script>
<script src="/Content/pags/pedido.js"></script>
<script src="/Content/pags/paginacion.js"></script>