﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    List<web.Controllers.AccesoController.ArticulosAgotados> agotados = (List<web.Controllers.AccesoController.ArticulosAgotados>)ViewData["Agotados"];
    List<web.Controllers.AccesoController.PedidosHelper> recepciones = (List<web.Controllers.AccesoController.PedidosHelper>)ViewData["recepcionesTotales"];
    List<web.Controllers.AccesoController.PedidosHelper> pedidos = (List<web.Controllers.AccesoController.PedidosHelper>)ViewData["pedidosTotales"];

    web.Models.Usuario u = (web.Models.Usuario)Session["u"];
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>









<div class="content">

    <div class="section-body">

        <div class="row">

            @if (u.DistribuidorClave == null)
            {
                
           
            <!-- BEGIN ALERT - REVENUE -->
            <div class="col-md-3 col-sm-6">
                <div class="card" style="background-color: #fff !important; background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);">
                    <div class="card-body no-padding" >
                        <div class="alert alert-callout alert-info no-margin">
                            <strong class="pull-right text-info text-xl"><i class="md md-assignment"></i></strong>

                            <strong class="text">Pedidos por surtir</strong><br />
                            <strong class="text-xl">@ViewData["pedidos_pendientes"]</strong><br>
                            @Html.ActionLink("Ver ordenes de compra", "Index", "SurtidoDistribuidor", null, new { @class = "btn btn-warning btn-xs ink-reaction" })

                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - REVENUE -->
            <!-- BEGIN ALERT - VISITS -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-primary no-margin">
                            <strong class="pull-right text-danger text-xl"><i class="md md-payment"></i></strong>

                            <strong class="text">Pedidos por pagar</strong><br />
                            <strong class="text-xl">@ViewData["pedidos_por_pagar"]</strong><br>
                            @Html.ActionLink("Ver pedidos", "Pagos", "OrdenCompra", null, new { @class = "btn btn-info  btn-xs" })


                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - VISITS -->
            <!-- BEGIN ALERT - BOUNCE RATES -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-warning no-margin">
                            <strong class="pull-right text-warning text-lg"><i class="md md-trending-down"></i></strong>
                           
                            
                            <strong class="text">Devoluciones por recibir</strong><br>
                            <strong class="text-xl">@ViewData["dev_por_recibir"]</strong><br>
                           
                            @Html.ActionLink("Devoluciones softv", "Lista", "Devolucion", new { opcion = "2" }, new { @class = "btn btn-primary ink-reaction  btn-xs" })
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - BOUNCE RATES -->
            <!-- BEGIN ALERT - TIME ON SITE -->
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-success no-margin">
                            <h1 class="pull-right text-success"><i class="md-swap-vert-circle"></i></h1>
                           
                            
                            <strong class="text">Devoluciones de material por recibir</strong><br>
                            <strong class="text-xl">@ViewData["dev_mat_por_recibir"]</strong><br>
                            @Html.ActionLink("Devolucion material", "Index", "RecepcionDevolucionMaterial", null, new { @class = "btn btn-danger ink-reaction  btn-xs" })
                            
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - TIME ON SITE -->


            <!-- BEGIN ALERT - REVENUE -->
            <div class="col-md-6 col-sm-6">
                <div class="card">
                    
                    <div class="card-body no-padding">
                        <div class="alert alert-callout alert-info no-margin">
                            <h3><span><i style="color:#d9840e" class="md md-warning"></i> Artículos por agotarse</span></h3>
                            <strong class="pull-right text-success text-lg"><button class=" btn btn-success btn-sm">ir a pedidos</button></strong>                    
                          
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Artículo</td>
                                        <td>Existencias</td>
                                        <td>Minímo Aceptable</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var a in agotados)
                                    {
                                        <tr><td>@a.Nombre</td><td>@a.cantidad</td><td>@a.TopeMinimo</td></tr>
                                    }


                                </tbody>





                               
                            </table>


                        
                            
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
            <!-- END ALERT - REVENUE -->

            <!-- BEGIN ALERT - REVENUE -->
            <div class="col-md-6 col-sm-6">
                <div class="card tabs-left style-default-light">
                    <ul class="card-head nav nav-tabs" data-toggle="tabs">
                        <li class="active"><a href="#first5">Total en pedidos</a></li>
                        <li class=""><a href="#second5">TOTAL EN RECEPCIONES</a></li>
                      
                    </ul>
                    <div class="card-body tab-content style-default-bright">
                        <div class="tab-pane active" id="first5">
                            <h1><i class="fa fa-fw fa-clock-o text-accent"></i> Pedidos</h1>                           
                            <table class="table">
                                <thead>
                                    <tr><td>Artículo</td><td>Cantidad</td></tr>
                                </thead>
                                <tbody>
                                   @foreach (var s in pedidos)
                                   {
                                       <tr><td>@s.NombreArticulo</td><td>@s.cantidad</td></tr>
                                   }

                                </tbody>

                            </table>
                        </div>
                        <div class="tab-pane" id="second5" style="overflow:scroll; max-height:400px;">
                            <h1><i class="fa fa-fw fa-clock-o text-accent"></i> Recepciones</h1>
                            <table class="table">
                                <thead>
                                    <tr><td>Artículo</td><td>Cantidad</td></tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in recepciones)
                                    {
                                        <tr><td>@s.NombreArticulo</td><td>@s.cantidad</td></tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                        
                    </div><!--end .card-body -->
                </div>
            </div><!--end .col -->
            <!-- END ALERT - REVENUE -->
            }
        </div>

    </div>

</div>