﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];

    List<web.Models.catPuestoTecnico> puestostecnico = (List<web.Models.catPuestoTecnico>)ViewData["puestostecnico"];
}

<div class="card">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Saldo de técnicos</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Inventario</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">

                       
                        <li><a href="javascript:void(0); " id="pdf"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        <li><a href="javascript:void(0); " id="excel"><i class="fa fa-circle fa-fw text-default-dark"></i>Excel</a></li>
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>

    <div class="card-body">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-8">
                    Selecciona distribuidor:
                    <select id="distribuidor" class="form-control" style="">
                        @foreach (var a in distribuidor)
                        {
                            <option value="@a.catDistribuidorClave">@a.Nombre</option>
                        }

                    </select>
                </div>
                

            </div>
            
            
            <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
            <table class="table" id="indice">
                <thead>
                    <tr>
                        <td>Selecciona</td>
                        <td>Técnico</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
           



        </div>
        <div class="col-md-2"></div>
        

    </div> 
   
    
</div>

<script src="~/Content/pags/ReporteSaldoTécnicos/listaTecnicos.js"></script>

