﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];

}


<link rel="stylesheet" href="~/Content/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css" />
<div class="card" id="filtros" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Movimientos de artículos</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Inventario</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdf"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        <li><a href="javascript:void(0); " id="excel"><i class="fa fa-circle fa-fw text-default-dark"></i>Excel</a></li>
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>


 
    <div class="card-body">

        <div class="row">

            <div class="col-md-2">

            </div>

            <div class="col-md-8">
                @*<span><i class="md md-notifications pull-right text-success">Llene las opciones para generar el reporte</i>   </span>*@
                <div class="col-md-12">
                    <label>Selecciona entidad</label>
                    <select class="form-control input-sm validate[required]" data-style="btn-white" id="dis" name="dis" style="margin:10px;">

                        @if (((web.Models.Usuario)Session["u"]).DistribuidorClave == null)
                        {
                            <option value="00000000-0000-0000-0000-000000000001">Almacén central</option>
                        }
                        @foreach (web.Models.catDistribuidor dist in distribuidor)
                        {
                            <option value="@dist.catDistribuidorClave">@dist.Nombre</option>
                        }
                    </select>
                </div>


                <div class="col-md-6">
                    <label>Selecciona algún almacén</label>
                    <select class="form-control validate[required]" id="almacen" name="almacen" style="margin:10px;">
                        <option value="0">
                            Todos los almacenes
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                   <label>Selecciona tipo de proceso</label>
                    <select class="form-control" id="proceso" style="margin:10px;">
                            

                        
                            <option value="0">Todos los procesos</option>
                            <option value="2">Recepción de material</option>
                            <option value="3">salidas a técnicos</option>
                            <option value="5">Devolución Equipos al Almacen Central</option>
                            <option value="13">Devolución de material</option>
                            <option value="7">Habilitación de Equipos</option>
                            <option value="8">Baja de Equipos</option>
                            <option value="16">Traspaso de material</option>
                            <option value="17">Recepción de traspaso</option>
                        

                    </select>
                   
                </div>

                <div class="col-md-9">
                    <label>Selecciona tipo clasificación</label>
                    <select class="form-control" data-style="btn-white" id="cla" name="cla" style="margin:10px;">
                        <option value="0">Clasificación Artículo</option>
                        @foreach (web.Models.catClasificacionArticulo cla in clasificaciones)
                        {
                            <option value="@cla.catClasificacionArticuloClave">@cla.Descripcion</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <span>Todos los artículos</span><br />
                    <input type="checkbox" class="todosart" id="todosart">
                </div>



                <div class="col-md-6">
                    <label>Selecciona tipo de artículo</label>
                    <select class="form-control" data-style="btn-white" data-width="250px" id="tip" name="tip" style="margin:10px;">
                        <option value="">
                            Tipos de Artículo
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Selecciona artículo</label>
                    <select class="selectpicker form-control" data-style="btn-white" data-width="250px" id="articulos" name="articulos" style="margin:10px;">
                        <option value="">
                            Artículos
                        </option>
                    </select>
                </div>



                <div class="col-md-6">
                    <label>Fecha Inicio</label>
                    <div class='input-group date datepicker-default' id='datepicker1'>
                        <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Fecha Fin</label>
                    <div class='input-group date datepicker-default' id='datepicker2'>
                        <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
               
            </div>
                </div>       
        <hr />
    </div>
</div>


<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>

<!--END LOADING SCRIPTS FOR PAGE-->
<!--BEGIN JAVASCRIPT-->
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });



</script>
<script src="~/Content/pags/ReporteMovimientosArticulo/funciones.js"></script>