﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();

    
    
}
<style>


      @{ foreach (var a in Permisos_usuario)
          {
            if (a.Agrega.Value==true)
            {


            }
            else
            {
                 @Html.Raw(@"
                   #PanelAcciones{ display:none !important;}

               ")
            }
            if (a.Consulta.Value==true)
            {

            }
            else
            {

            }
           if (a.Edita.Value==true)
            {



            }
            else
            {
               @Html.Raw(@"
                   .edit{ display:none !important;}

               ")
            }
           if (a.Elimina.Value == true)
           {

           }
           else
           {

           }

        }


    }


</style>
<div class="page-content" style="min-height:400px; background-color:#000000;" >
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Días festivos</div>
        </div>
        <ol class="breadcrumb page-breadcrumb hidden-xs">
            <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active" style="color:#000000">Catálogos&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active" style="color:#000000">Días festivos</li>
        </ol>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content" style="height:400px; background-color:#ff0000 !important; " >

        <div class="content" style="background-color:#0026ff;">
            <div class="row">
                <div class="col-sm-6 col-md-9">
                    <div class="widget-box">



                        <h4 class="caption" id="resultados"></h4>
                        <table class="table table-hover-color" id="datos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Activo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" id="paginador"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info" id="PanelAcciones">
                        <div class="panel-heading">
                            <div class="caption">Acciones</div>
                        </div>
                        <div class="panel-body">
                            <p>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default btn-block" id="add">
                                            Agregar Día Festivo
                                        </button>
                                    </div>
                                </div>

                                <br /><br /><br />

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">
        <input type="hidden" value="" id="ed_id" name="ed_id" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="titulowin" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-12">



                                <!--BEGIN LOADING CSS FOR PAGE-->
                                <link type="text/css" rel="stylesheet" href="/Content/assets/plugins/bootstrap-datepicker/css/datepicker.css">
                                <!--END LOADING CSS FOR PAGE-->
                                <!--BEGIN HTML-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nombre</label>
                                    <div class="col-md-5">
                                        <input id="ed_nombre" name="ed_nombre" class="form-control  validate[required]" type="text">
                                    </div>
                                </div>
                                <br clear="all" />

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Fecha</label>
                                    <div class="col-md-5">
                                        <input id="ed_fecha" name="ed_fecha" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa" class="datepicker-default form-control  validate[required,custom[date]]" type="text">
                                    </div>
                                </div>

                                <br clear="all" />

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Activar</label>
                                    <div class="col-md-8">
                                        <input type="checkbox" name="ed_activa" id="ed_activa" />
                                    </div>
                                </div>
                            </div>
                            <!--END HTML-->
                            <!--BEGIN LOADING SCRIPTS FOR PAGE-->

                            <script src="/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
                            <script src="/Content/assets/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>

                            <!--END LOADING SCRIPTS FOR PAGE-->
                            <!--BEGIN JAVASCRIPT-->
                            <script>
                                $('.datepicker-default').datepicker();
                            </script>
                            <!--END JAVASCRIPT-->





                        </div>
                    </div>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-info" id="guarda">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>




<script src="/Content/pags/diafestivo.js"></script>
<script src="/Content/pags/paginacion.js"></script>