﻿@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    web.Models.Entidad almacen = (web.Models.Entidad)ViewData["almacen"];
}


<div class="page-content"><!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">Ubicaciones para @(almacen.Nombre) </div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb hidden-xs">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i
                                class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">Administración</li>
                    </ol>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <div class="box-content">

<div class="content">



<div class="row">
                            <div class="col-sm-6 col-md-9">
                                <div class="widget-box">



<h4 class="caption" id="resultados"></h4>
<table class="table table-hover-color" id="datos">
    <thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Activo</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" id="paginador">

            </td>
        </tr>
    </tfoot>
</table>
                                    </div>
                                </div>
        <div class="col-md-3">
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="caption">Acciones</div>
    </div>
    <div class="panel-body">
        <p>

<div class="form-group">
<div class="col-md-12">
<button type="button" class="btn btn-default btn-block" id="add">
        Agregar Ubicación
    </button>
</div>
</div>

            <br /><br /><br />

            </p>
                      </div>
                </div>
        </div>
    </div>
    </div>
                    </div>
</div>


<div id="edita" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

    <input type="hidden" value="" id="ed_id" name="ed_id" />
        <input type="hidden" value="@(almacen.EntidadClave)" id="ed_almacen" name="ed_almacen" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">&times;</button>
                <h4 id="titulowin" class="modal-title"></h4></div>
            <div class="modal-body">

<div class="form-group">
<div class="col-md-12">
    <div class="col-md-8">
    <label>Nombre</label><br />
        <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
    </div>
    <div class="col-md-4 checactivo">
        <br />
        <input type="checkbox" name="ed_activa" id="ed_activa" /><label>Activo</label>
    </div>
</div>
</div>
<br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar
                </button>
                <button type="submit" class="btn btn-info" id="guarda">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">

    <input type="hidden" value="" id="del_id" name="del_id" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">&times;</button>
                <h4 id="titulowindel" class="modal-title"></h4></div>
            <div class="modal-body">

<div class="form-group">
<div class="col-md-12">
    <div class="col-md-8">
    <label>¿Estás seguro de desactivar esta Ubicación?</label>
    </div>
</div>
</div>
<br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar
                </button>
                <button type="submit" class="btn btn-danger" id="eliminar">Desactivar</button>
            </div>
        </div>
    </div>
    </form>
</div>

<div id="activa" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaactiva" action="#" method="post">
    <input type="hidden" value="" id="activa_id" name="activa_id" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="titulowinactiva" class="modal-title"></h4></div>
            <div class="modal-body">
<div class="form-group">
<div class="col-md-12">
    <div class="col-md-8">
    <label>¿Estás seguro de activar esta Ubicación?</label>
    </div>
</div>
</div>
<br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                <button type="submit" class="btn btn-info" id="activar">Activar</button>
            </div>
        </div>
    </div>
    </form>
</div>

<input type="hidden" value="@(almacen.EntidadClave)" id="el_almacen" name="el_almacen" />

<script src="/Content/pags/ubicacion.js"></script>
<script src="/Content/pags/paginacion.js"></script>