﻿@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    web.Models.ModeloAlmacen dc = new web.Models.ModeloAlmacen();

    int rol = Int32.Parse(ViewData["RolUsuario"].ToString());

    string url = Request.RawUrl.ToString();
    web.Models.Modulo p1 = (from d in dc.Modulo where d.URL == url select d).FirstOrDefault();

    List<web.Models.Permiso> Permisos_usuario = (from n in dc.Permiso where n.ModuloClave == p1.ModuloClave && n.RolClave == rol select n).ToList();

    
    

}


<div class="page-content" style="min-height:400px"><!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">Ubicaciones</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb hidden-xs">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="/Acceso/Dashboard/">Inicio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active" style="color:#000000">Catálogos&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active" style="color:#000000">Ubicaciones</li>
                    </ol>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <div class="box-content">

<div class="content">

    
<form action="#" id="forma" name="forma">

<div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="widget-box">


<h3>Selecciona un almacén para definir sus ubicaciones</h3>



<h4 class="caption" id="resultados"></h4>




    <!--BEGIN LOADING CSS FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="/Content/assets/plugins/treegrid/css/jquery.treegrid.css">
    <!--END LOADING CSS FOR PAGE-->
     
    <!--BEGIN HTML-->
    <div class="table-responsive">
    <table class="tree-projects table table-striped table-condensed mbn" id="datos">
    <thead>
    <tr>
    <th>Almacenes</th>

        @if (ViewData["pantalla"] != null && ViewData["pantalla"] == "ubicaciones")
        {
    <th width="23%">Ubicación</th>
        }

        @if (ViewData["pantalla"] != null && ViewData["pantalla"] == "almacen")
        {
    <th width="18%">Distribuidor</th>            
    <th width="23%">Acciones</th>
        }

    </tr>
    </thead>
    <tbody>

        

    </tbody>
    </table>
    </div>
    <!--END HTML-->
     
    <!--BEGIN LOADING SCRIPTS FOR PAGE-->
    <script src="/Content/assets/plugins/treegrid/js/jquery.treegrid.js"></script>
    <script src="/Content/assets/plugins/treegrid/js/jquery.treegrid.bootstrap3.js"></script>
    <!--END LOADING SCRIPTS FOR PAGE-->
     
    <!--BEGIN JAVASCRIPT-->
    <script>

    </script>
    <!--END JAVASCRIPT-->




                                   </div>
                                </div>

    </div>
   
</form>




<div id="edita" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaedita" action="#" method="post">

    <input type="hidden" value="" id="ed_id" name="ed_id" />
    <input type="hidden" value="" id="ed_padre" name="ed_padre" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">&times;</button>
                <h4 id="titulowin" class="modal-title"></h4></div>
            <div class="modal-body">

<div class="form-group">
<div class="col-md-12">
    <div class="col-md-8">
    <label>Nombre</label><br />
        <input type="text" id="ed_nombre" name="ed_nombre" placeholder="Nombre" class="form-control validate[required]">
    </div>
</div>
<br 
    clear="all" /><br>

<div class="col-md-12">
    <div class="col-md-8">

    </div>
</div>
</div>
<br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar
                </button>
                <button type="submit" class="btn btn-info" id="guarda">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>

<div id="elimina" tabindex="-1" role="dialog"
     aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <form id="formaelimina" action="#" method="post">

    <input type="hidden" value="" id="del_id" name="del_id" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">&times;</button>
                <h4 id="titulowindel" class="modal-title"></h4></div>
            <div class="modal-body">

<div class="form-group">
<div class="col-md-12">
    <div class="col-md-8">
    <label>¿Estás seguro de eliminar este Almacen?</label>
    </div>
</div>
</div>
<br clear="all" />
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cerrar
                </button>
                <button type="submit" class="btn btn-danger" id="eliminar">Eliminar</button>
            </div>
        </div>
    </div>
    </form>
</div>


<script src="/Content/pags/ubicaciones-almacen.js"></script>