﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
}

<link rel="stylesheet" href="~/Content/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css" />
<div class="card">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px; ">Ordenes de compra </strong>
            <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdfordencompra"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>     
            @*<button class="btn btn-info btn-sm" id="pdfordencompra">Generar Reporte</button>*@    
        </div>
    </div>
    <div class="card-body" style="padding:30px;">
        <div class="row">
          
            <div class="col-md-6">
                <h3 id="titulo"></h3>
                <b>Completa/selecciona los filtros para obtener el reporte:</b>
                <br />
               
                <div class="form-group">


                    <div class="col-md-12">
                        <label>Distribuidor</label>
                        <select id="Distribuidor" class="form-control" style="">
                            @foreach (var r in distribuidor)
                            {
                                <option value="@r.IdDistribuidor">@r.Nombre</option>
                            }

                        </select>
                    </div>

                    <div class="col-md-12" id="pProveedor">
                        <label>Proveedor</label>
                        <select id="proveedor" class="form-control" style="">
                            @foreach (var r in proveedores)
                            {
                                <option value="@r.catProveedorClave">@r.Nombre</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>Fecha Inicio</label>
                        <div class='input-group date datepicker-default' id='datepicker1'>
                            <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha Fin</label>
                        <div class='input-group date datepicker-default' id='datepicker2'>
                            <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    
                            

                  
                   

                   

                    

                </div>
                
               
               
            </div>

            <div class="col-md-6">
                <input type="checkbox" value=""> <span>Todos</span>


                <table class="table" id="datos">
                    <thead>
                        <tr>
                            <td>Almacen</td>
                            <td>Inventario </td>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
           



        </div>

        @*<div class="col-md-4">

            <div style="margin:10px;">
                <label style=" font-weight:bold">Distribuidor: </label>
                <select id="select_distribuidor" class="form-control">
                    <option value="0">Selecciona</option>
                    @foreach (var a in distribuidor.OrderBy(x => x.Nombre))
                    {
                        <option value="@a.catDistribuidorClave">@a.Nombre</option>
                    }
                </select>
            </div>

            <div style="margin:10px;">
                <label style="font-weight:bold">Almacén:</label>
                <select id="select_almacen" class="form-control" disabled>
                    <option value="0">Selecciona</option>
                </select>
            </div>
            <div style="margin:10px;">
                <div class="col-md-8">
                    <label style=" font-weight:bold"> Técnico: </label>
                </div>

                <div class="col-md-4    input-group    radio" style="display:none;" id="panel_todos">
                    <input type="checkbox" name="todos" id="todos_tecnicos" value="Todos"> Todos
                </div>

                <select id="select_tecnico" class="form-control" multiple="" style="height:220px;" disabled>
                    <option value="0">Selecciona</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div style="margin:10px;">
                <label style=" font-weight:bold">Tipo de artículo: </label>
                <select id="select_tipos" class="form-control" disabled>
                    <option value="0">Selecciona</option>
                </select>
            </div>

            <div style="margin:10px;">
                <label style="font-weight:bold">Artículo:</label>
                <select id="select_articulos" class="form-control" disabled>
                    <option value="0">Selecciona</option>
                </select>
            </div>

        </div>

        <div class="col-md-4">



        </div>*@


    </div>

    <hr />
</div>


<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });



</script>

<script src="~/Content/pags/ReportesGenerales/RecepcionMaterial.js"></script>