﻿@{
    ViewBag.Title = "ReingresoAparatos";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];
    List<web.Models.catClasificacionArticulo> clasificaciones = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.catProveedor> proveedores = (List<web.Models.catProveedor>)ViewData["proveedores"];
    List<web.Models.CatTipoServicios> servicios = (List<web.Models.CatTipoServicios>)ViewData["servicios"];
}

<link rel="stylesheet" href="~/Content/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css" />
<div class="card">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Recepción de material</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Inventario</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdfrecepcion"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        <li><a href="javascript:void(0); " id="pdfexcel"><i class="fa fa-circle fa-fw text-default-dark"></i>Excel</a></li>
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h3 id="titulo"></h3>
                <b>Completa/selecciona los filtros para obtener el reporte:</b>
                <br />

                <div class="form-group">
                    <form id="formreporte" method="post">

                        <div class="col-md-6">
                            <label></label>
                            <select id="Distribuidor" class="form-control input-sm" style="">
                                <option value="">Selecciona</option>
                                @foreach (var r in distribuidor)
                                {
                                    <option value="@r.catDistribuidorClave">@r.Nombre</option>
                                }

                            </select>
                        </div>

                        <div class="col-md-6">
                            <label></label>
                            <select id="almacen" class="form-control input-sm" style="">              
                               
                            </select>
                        </div>

                        <div class="col-md-12" id="pProveedor">
                            <label>Proveedor</label>
                            <select id="proveedor" class="form-control input-sm" style="">
                                <option value="">Todos</option>
                                @foreach (var r in proveedores)
                                {
                                    <option value="@r.catProveedorClave">@r.Nombre</option>
                                }
                            </select>
                        </div>

                        @*<div class="col-md-6">
                            <label>Reporte</label>
                            <select id="reporte" class="form-control input-sm validate[required]" style="">
                                <option value="1">Detalle de ordenes</option>
                                <option value="2">Detalle de series</option>
                            </select>
                        </div>*@

                        @*<div class="col-md-6">
                            <label>Tipo recepción</label>
                            <select id="recepcion" class="form-control input-sm validate[required]" style="">
                                <option value="">Selecciona</option>
                            </select>
                        </div>*@

                        @*<div class="col-md-6">
                            <label>Servicio</label>
                            <select id="servicio" class="form-control input-sm validate[required]"  style="">
                                @foreach(var r in servicios)
                                {
                                    <option value="@r.IdServicio">@r.Descripcion</option>
                                }
                            </select>
                        </div>*@
                        <div class="col-md-6">
                            <label>Clasificación</label>
                            <select id="clasificacion" class="form-control input-sm validate[required]" style="">
                                <option value="">Selecciona</option>
                                @foreach (var a in clasificaciones)
                                {
                                    <option value="@a.catClasificacionArticuloClave">@a.Descripcion</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Tipo artículos</label>
                            <select id="tipo" class="form-control input-sm validate[required]" style="">
                                <option>Selecciona</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Artículo</label>
                            <select id="articulo" class="form-control input-sm validate[required]" style="">
                                <option>Selecciona</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label>Fecha Inicio</label>
                            <div class='input-group date datepicker-default' id='datepicker1'>
                                <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control input-sm validate[required,custom[date]]" type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Fecha Fin</label>
                            <div class='input-group date datepicker-default' id='datepicker2'>
                                <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control input-sm validate[required,custom[date]]" type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                       
                        <br />
                    </form>
                </div>


            </div>
           
            
        </div>



    </div>

    <hr />
</div>

<script src="~/Content/pags/ReportesGenerales/RecepcionMaterial.js"></script>

<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });



</script>