﻿@{
    ViewBag.Title = "ReporteBitacora";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];
}
<link rel="stylesheet" href="~/Content/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css" />
<div class="card" id="filtros">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:18px;">
        <header>
            <strong style="font-weight:bold; border:none; font-size:16px;">Bitácoras de Material</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdf"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        @*<li><a href="javascript:void(0); " id="excel"><i class="fa fa-circle fa-fw text-default-dark"></i>Excel</a></li>*@
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>



    <div class="card-body">


        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">


                <form id="formReporte">                   
                    <label>
                        Selecciona distribuidor
                    </label>
                    <select id="distribuidor" class="form-control  validate[required]">
                        <option>Selecciona</option>
                        @foreach (var a in distribuidor)
                        {
                            <option value="@a.catDistribuidorClave"> @a.Nombre</option>
                        }
                    </select>
                    <label>
                        Selecciona almacén
                    </label>
                    <select id="almacen" class="form-control ">
                        <option value="">Todos los almacenes</option>
                    </select>
                   
                    
                    <label> Selecciona técnico</label>                  
                    <select class="form-control " id="tecnicoa">
                        <option value="">Todos los tecnicos</option>
                    </select>

    <div class="col-md-6">
        <label>Fecha Inicio</label>
        <div class='input-group date datepicker-default' id='datepicker1'>
            <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control validate[required,custom[date]]" type="text">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <label>Fecha Fin</label>
        <div class='input-group date datepicker-default' id='datepicker2'>
            <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control  validate[required,custom[date]]" type="text">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</form>


            </div>

            <div class="col-md-3"></div>


        </div>

        <hr />
    </div>
</div>


<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#distribuidor').change(function () {
        var id = $('#distribuidor').val();
        if (id != null || id != "") {
            $('#almacen').empty().append("<option value=''>Selecciona</option>");
            var url = '/Almacen/GetAlmacenByDistribuidor/';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { 'distribuidor': id },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    $('#almacen').append("<option value=''>Todos los almacenes</option>");
                    for (var r = 0; r < data.length; r++)
                        $('#almacen').append("<option value=" + data[r].IdAlmacen + ">" + data[r].Nombre + "</option>");
                    console.log(data);
                },
                error: function (request, error) {
                    toastr.error('Surgió un error, intente nuevamente más tarde');
                }
            });
        }

    });

    $('#almacen').change(function () {
        var id = $('#almacen').val();
        if (id != null || id != "") {
            $('#tecnicoa').empty().append("<option value=''>Selecciona</option>");
            var url = '/ReporteSaldoTecnico/getTecnicos2';
            $.ajax({
                url: url,
                dataType: 'json',
                data: { 'id_almacen': id },
                type: "POST",
                success: function (data) {
                    console.log(data);
                    $('#tecnicoa').append("<option value=''>Todos los tecnicos</option>");
                    for (var r = 0; r < data.length; r++)
                        $('#tecnicoa').append("<option value=" + data[r].EntidadClave + ">" + data[r].Nombre + "</option>");
                    console.log(data);
                },
                error: function (request, error) {
                    toastr.error('Surgió un error, intente nuevamente más tarde');
                }
            });
        }

    });


    


    $('#pdf').click(function () {

        var valid = jQuery('#formReporte').validationEngine('validate');
        if (valid) {

            var fechainicio = $('#fechainicio').val();
            var fechafin = $('#fechafin').val();            
            var Distribuidor = $('#distribuidor').val();
            var Almacen = $('#almacen').val();
            var Tecnico = $('#tecnicoa').val();          
            window.location.href = '/ReportesGenerales/ReporteBitacoraDetalle?fechainicio=' + fechainicio +'&fechaFin=' + fechafin +'&distribuidor=' + Distribuidor + '&almacen=' + Almacen +'&tecnicoa=' + Tecnico;

        }

    });



</script>