﻿@{
    ViewBag.Title = "TraspasoMaterial";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    List<web.Models.catDistribuidor> distribuidor = (List<web.Models.catDistribuidor>)ViewData["distribuidor"];
    List<web.Models.catClasificacionArticulo> clasi = (List<web.Models.catClasificacionArticulo>)ViewData["clasificaciones"];
    List<web.Models.CatTipoServicios> servicios = (List<web.Models.CatTipoServicios>)ViewData["servicios"];
}
<link rel="stylesheet" href="~/Content/assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css" />
<div class="card" id="filtros">

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Traspaso de Material</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    <a href="#" class="btn btn-icon-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="md md-content-paste"></i></a>
                    <ul class="dropdown-menu animation-dock pull-right" role="menu" style="text-align: left;">
                        <li><a href="javascript:void(0); " id="pdf"><i class="fa fa-circle fa-fw text-default-dark"></i>Formato PDF</a></li>
                        <li><a href="javascript:void(0); " id="excel"><i class="fa fa-circle fa-fw text-default-dark"></i>Excel</a></li>
                        @*<li><a href="javascript:void(0);" id="obtenexcel"><i class="fa fa-circle fa-fw text-muted"></i> Formato Excel</a></li>*@

                    </ul>
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
            </div>
        </div>
    </div>



    <div class="card-body">
       

            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6">


                    <form id="formReporte">
                        ¿Que tipo de reporte deseas generar?
                        <select id="tiporeporte" class="form-control input-sm">
                            <option value="2">Material Recibido </option>
                            <option value="1">Material Enviado</option>
                        </select>
                        Selecciona distribuidor
                        <select id="distribuidor" class="form-control input-sm  validate[required]">
                            <option>selecciona</option>
                            @foreach (var a in distribuidor)
                            {
                                <option value="@a.catDistribuidorClave"> @a.Nombre</option>
                            }
                        </select>
                        Selecciona almacén
                        <select class="form-control validate[required] input-sm" id="almacen">
                            <option value="">Todos los almacenes</option>
                        </select>
                        Clasificación
                        <select class="form-control input-sm" id="clasificacion">
                            <option value="">Selecciona</option>
                            @foreach(var a in clasi)
                            {
                                <option value="@a.catClasificacionArticuloClave">@a.Descripcion</option>
                            }
                        </select>
                        Servicio
                        <select class="form-control input-sm" id="servicio">
                           
                            @foreach (var a in servicios)
                            {
                                <option value="@a.IdServicio">@a.Descripcion</option>
                            }
                        </select>
                        Tipo de artículo
                        <select class="form-control input-sm" id="tipo">
                            <option value="">Selecciona</option>

                        </select>

                        Artículo
                        <select class="form-control input-sm" id="articulo">
                            <option value="">Selecciona</option>

                        </select>


                        <br />
                        <div class="col-md-12 text-center">
                            <b>Selecciona Periodo</b>
                            </div>
                            <div class="col-md-6">
                                <label>Fecha Inicio</label>
                                <div class='input-group date datepicker-default' id='datepicker1'>
                                    <input id="fechainicio" name="fechainicio" placeholder="dd/mm/aaaa" class="form-control input-sm  validate[required,custom[date]]" type="text">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Fecha Fin</label>
                                <div class='input-group date datepicker-default' id='datepicker2'>
                                    <input name="fechafin" id="fechafin" placeholder="dd/mm/aaaa" class="form-control input-sm  validate[required,custom[date]]" type="text">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
</form>


                </div>

                <div class="col-md-3"></div>


            </div>
        
        <hr />
    </div>
</div>

<script src="~/Content/pags/Traspasos/ReporteTraspaso.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });



</script>