﻿@{
    ViewBag.Title = "BajasExistencias";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
    web.Models.Usuario u = ((web.Models.Usuario)Session["u"]);
}




<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Bajas existencias</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Inventario</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">

                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>


   
    <div class="card-body">
        <div class="col-md-5 col-md-offset-7">
            Selecciona almacen/distribuidor
            <select id="Entidad" class="form-control">

                @if (u.DistribuidorClave == null)
            {

                    <option value="-1">Almacen Principal</option>
                }
                @foreach (var a in distribuidores)
            {
                    <option value="@a.IdDistribuidor">@a.Nombre</option>
                }

            </select>
        </div>
        

        <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <table class="table" id="datos">
            <thead>
                <tr>Almacen</tr>
                <tr>Inventario </tr>
                <tr>Opciones </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>






<div id="ver" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade modal-lg">
    <form id="formadetalle" action="#" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 class="modal-title">Reporte</h4>
                </div>
                <div class="modal-body">
                    <iframe src="/Pedido/Detalle" frameborder="0" width="100%" height="400" id="eliframe"></iframe>
                    <br clear="all" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="~/Content/pags/BajasExistencias/BajasExistencias.js"></script>










