﻿<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/bootstrap.css?1422792965" />
<link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/materialadmin.css?1425466319" />
<link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/font-awesome.min.css?1422529194" />
<link type="text/css" rel="stylesheet" href="~/Content/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
<!-- END STYLESHEETS -->
@{
    ViewBag.Title = "Detalle";

}

<script>
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });


</script>


@*<a href="@Url.Action("BajasExistencias", "Reportes")" class=" btn ink-reaction btn-floating-action btn-success" data-toggle='tooltip' data-placement='right' title='' data-original-title='Regresa al reporte' style="position:absolute; top:100px;left:100px; ">
    <i class="fa fa-hand-o-left"></i>
</a>*@

@Html.Raw(ViewData["html"])

<script src="~/Content/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Content/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="~/Content/assets/js/libs/toastr/toastr.js"></script>