﻿@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];
    web.Models.Usuario u = ((web.Models.Usuario)Session["u"]);
}


<div class="card" >

    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none;">Inventario</strong>
            <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Inventario</a></small>

        </header>
        <div class="tools">
            <div class="btn-group">
                <div class="btn-group open">
                    
                </div>
                <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>

            </div>

            @*<button class="btn btn-info btn-sm" id="pdfrecepcion">Descargar reporte</button>*@
        </div>
    </div>



    <div class="card-body">
        <a class="btn btn-icon-toggle btn-default" style="display:none" id="repo" href="#offcanvas-search" data-toggle="offcanvas" data-backdrop="false"> <i class="fa fa-ellipsis-v"></i></a>
        <div class="col-md-5 col-md-offset-7">

            Selecciona almacén/distribuidor
            <select id="Entidad" class="form-control input-sm">

                @if (u.DistribuidorClave == null)
            {
                    @*<option value="-2">Todos los almacenes y distrib.</option>*@
                    <option value="-1">Almacén Principal</option>
                }
                @foreach (var a in distribuidores)
            {
                    <option value="@a.IdDistribuidor">@a.Nombre</option>
                }

            </select>
        </div>
        

        <table class="table" id="datos">
            <thead>
                <tr>
                    <th>Almacén</th>
                    <th>Inventario </th>
                    <th>Opciones </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>


<div class="modal fade" id="ModalInventario" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-backdrop fade in" style="height: 1019px;"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="tituloInv"></h4>
            </div>
            <div class="modal-body" style="overflow-y:scroll; max-height:500px;">
                <table class="table table-striped" style="font-size:10px;">
                    <thead>
                        <tr>
                            <td style="font-weight:bold;">Artículos</td>
                            <td style="font-weight:bold;">Almacén</td>
                            <td style="font-weight:bold;">En pedidos</td>
                            <td style="font-weight:bold;">Standby</td>
                            <td style="font-weight:bold;">Devolución</td>
                            <td style="font-weight:bold;">Revisión</td>
                            <td style="font-weight:bold;">Baja</td>
                            <td style="font-weight:bold;">Dañados</td>
                            <td style="font-weight:bold;">Reparación</td>
                            <td style="font-weight:bold;">Baja garantía</td>
                        </tr>
                    </thead>
                    <tbody id="tbInventario"></tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-bright  btn-sm" data-dismiss="modal">cerrar</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>







<script src="~/Content/pags/Inventario/Inventario.js"></script>