﻿@{
    ViewBag.Title = "SaldoArticulos";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    List<web.Models.catDistribuidor> distribuidores = (List<web.Models.catDistribuidor>)ViewData["distribuidores"];

}
<div class="card" style="padding:30px;">
    <div class="card-head">
        <header>
            <div class="alert alert-callout alert-danger" role="alert">
                <strong style="font-weight:bold; border:none;">Saldo de artículos</strong>
                <br /><small class="text-muted" style="font-size:14px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Reportes</a></small>
            </div>
        </header>
    </div>

    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <span style="font-weight:bold;">Distribuidores:</span>
                    <select class="form-control " data-style="btn-white" data-width="250px" id="dis" name="dis">


                        @foreach (web.Models.catDistribuidor dist in distribuidores)
                        {
                            <option id-almacen="@dist.IdDistribuidor" value="@dist.catDistribuidorClave">@dist.Nombre</option>
                        }
                    </select>

                </div>
                <div class="col-md-2">

                    Todos <br /><input id="todosalm" type="checkbox"><span></span>
                </div>

            </div>
            
            

            <table class="table" id="datos">
                <thead>
                    <tr>
                        <td>Almacen</td>
                        <td>Inventario </td>
                       
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>        
        <div class="col-md-2"></div>
    </div>

    <hr />

    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-2" align="center">

        </div>
        <div class="col-md-3">

            <p class="text-muted">Opciones de exportación:</p>
        </div>
        <div class="col-md-3">
            <button class="btn ink-reaction btn-floating-action btn-sm btn-danger"
                    data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar PDF' id="pdf" value="pdf">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </button>
            <button class="btn ink-reaction btn-floating-action btn-sm btn-success" id="excel"
                    data-toggle='tooltip' data-placement='right' title='' data-original-title='Descargar excel'>
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>




<!--BEGIN SCRIPT-->
<script>
    var _acciones = true;
    @if(web.Utils.Config.Dame("EDITARELACIONADOS").ToLower() == "no")
    {
        @("_acciones = false;");
    }
</script>

<!--BEGIN LOADING SCRIPTS FOR PAGE-->
@*\web\Content\assets\js\libs\bootstrap-datepicker\locales*@

<script src="~/Content/assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/assets/js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.es.js"></script>
<script src="~/Content/pags/ReporteSaldoArticulos/reporte.js"></script>
<!--END LOADING SCRIPTS FOR PAGE-->
<!--BEGIN JAVASCRIPT-->
<script>

    $('#datepicker1').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

    $('#datepicker2').datepicker(
        {
            format: "dd/mm/yyyy",
            language: "es",
            autoclose: true

        });

</script>






